@import "packages/wsk_material/sass/styleguide_demo_bp";
@import "packages/wsk_material/sass/shadow/shadow";
@import "packages/wsk_material/sass/button/button";

.button-block {
  display: inline-block;
  margin: 20px 20px 20px 0;
}


.svg-gps-fixed {
    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-position: 50% 50%;
    background-image: svgShapeComponent(nth($palette-primary, 2));

    background-image: url(assets/svgs/ic_gps_fixed_24px.svg);
    &.wsk-button--colored {
        background-image: url(assets/svgs/ic_gps_fixed_24px-white.svg);
    }

    &:after {
        content: ".";
        color : transparent;
    }


}
