html, body {
  margin: 0;
  padding: 0;
}

h1, h2 {
    font-family: 'Roboto','Helvetica','Arial',sans-serif;
    font-weight: 400;
}

h2 {
    font-size: 24px;
    line-height: 1.35;

    margin-top: 0.66em;
    margin-bottom: 0.66em;
}


.ribbon {
  width: 100%;
  height: 30vh;
}

.demo-page > .mdl-layout__container > .mdl-layout > * {
  flex-shrink: 0;
}

.demo-page > .mdl-layout__container > .mdl-layout > main.mdl-layout__content.mdl-layout__content {
  margin-top: -25vh;
}

/*header.mdl-layout__header {*/
  /*display: flex !important;*/
/*}*/

.container {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
}

.content {
  border-radius: 2px;
  padding: 24px;
}

.mdl-layout__content .demo-section { min-height: 500px; }

.mdl-mini-footer {
    padding-top: 12px;
    padding-bottom: 12px;
}

#view-source {
    position: fixed;
    display: block;
    right: 0;
    top: 37px;
    margin-right: 40px;
    z-index: 900;
}

.sitegen-link, .mm-link { margin-bottom: 0; }
.is-small-screen .sitegen-link .additional-info { display: none; }
.mm-link { font-size: 12px; }

/*
 Solves bug in grid...
*/

@media (max-width: 479px) {
    .mdl-grid {
        padding: 0;
    }
}

@media (max-width: 640px) {
    .mm-link {
        display: none;
    }
}

@media (max-width: 839px) and (min-width: 480px) {
    .mdl-grid {
        padding: 0;
    }
}

@media (max-width: 850px) {
    #view-source {
        top: 29px;
    }
}
