.demo-page--dialog .demo-button, .demo-section--dialog .demo-button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-content: space-between;
      -ms-flex-line-pack: justify;
          align-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0 20px 0px 0; }
  .demo-page--dialog .demo-button .mdl-button, .demo-section--dialog .demo-button .mdl-button {
    margin-top: 12px;
    margin-right: 12px; }
    .demo-page--dialog .demo-button .mdl-button:last-child, .demo-section--dialog .demo-button .mdl-button:last-child {
      margin-right: 0; }

.custom-dialog1 h5 {
  background-color: #B3D38D;
  position: absolute;
  left: 0;
  top: 0 !important;
  right: 0;
  padding: 24px; }
.custom-dialog1 .mdl-dialog__content {
  margin-top: 68px; }
  .custom-dialog1 .mdl-dialog__content p {
    font-size: 14px; }
.custom-dialog1 .mdl-dialog__actions {
  border-top: 1px solid #e7e7e7; }

.custom-dialog2 .mdl-textfield {
  width: 100%; }
