@import "packages/mdl/sass/material-design-lite";

.forms.sample {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start; // ⇾
    align-content: space-between; // ||
    align-items: flex-start; // ↓

    .linklist {
        width: 100%;
    }
    > * {
        margin-right: 12px;
        margin-bottom: 24px;
    }

    form {
        max-width: 512px;
    }
}



