<section class="demo-section demo-section--home">
    <article class="home sample">
        <div>
            <h3 id="material-design-lite" class="mdl-color-text--600">MDL/<span
                    class="mdl-color-text--accent">Dart</span>
                - Material Design Lite <span class="fordartdev">for Dart Developers</span></h3>

            <p><strong>Material Design Lite (MDL/Dart)</strong> is a library of components for web
                developers based on Google's Material Design philosophy. MDL/Dart is a port of <a
                        href="http://www.getmdl.io/" target="_blank">Material Design Lite for JS (MDL/JS)</a>.
                &quot;A visual language for our users that
                synthesizes the classic
                principles of good design with the innovation and possibility of technology and science.&quot;
                Understanding the
                goals and principles of Material Design is critical to the proper use of the MDL components. If you have
                not yet
                read the <a href="http://www.google.com/design/spec/material-design/introduction.html" target="_blank">Material
                    Design
                    Introduction</a>, you should do so before attempting to use the components.</p>

            <h5>What is Material Design?</h5>

            <p><a href="http://www.google.com/design/spec/material-design/introduction.html" target="_blank">Material
                Design</a>
                is a specification for a unified system of visual, motion, and interaction design that
                adapts across different devices and different screen sizes. Below is a brief video that presents the
                Material Design system:</p>
            <div class="video">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/Q8TXgCzxEnw" frameborder="0"
                        allowfullscreen></iframe>
            </div>

        </div>

        <section class="links" id="links">

            <h6>Links</h6>
            <ul>
                <li><a href="http://google.github.io/material-design-icons/" target="_blank">Googles Material Design
                    Icons - SVG</a></li>
                <li><a href="https://www.google.com/design/icons/" target="_blank">Googles Material Design Icons -
                    Fonts</a></li>
                <li><a href="https://developers.google.com/web/starter-kit/" target="_blank">Web Starter Kit</a></li>
                <li><a href="http://www.google.com/design/spec/material-design/" target="_blank">Material design -
                    specifications</a>
                </li>
            </ul>
        </section>
    </article>
</section>