<section class="demo-section demo-section--home">
    <article class="home sample">
        <div>
            <h3 id="material-design-lite" class="mdl-color-text--600">MDL/<span
                    class="mdl-color-text--accent">Dart</span>
                - Material Design Lite <span class="fordartdev">for Dart Developers</span></h3>

            <p><strong>Material Design Lite (MDL/Dart)</strong> is a library of components for web
                developers based on Google's Material Design philosophy. MDL/Dart is a port of <a
                        href="http://www.getmdl.io/" target="_blank">Material Design Lite for JS (MDL/JS)</a>.
                &quot;A visual language for our users that
                synthesizes the classic
                principles of good design with the innovation and possibility of technology and science.&quot;
                Understanding the
                goals and principles of Material Design is critical to the proper use of the MDL components. If you have
                not yet
                read the <a href="http://www.google.com/design/spec/material-design/introduction.html" target="_blank">Material
                    Design
                    Introduction</a>, you should do so before attempting to use the components.</p>

            <h3>Quick Start</h3>
            <p>OK - if this is to much noise for you - jump to the <a href="#/quickstart">"Quick-Start-Section"</a></p>

            <h5>What are the benefits of MDL/Dart (compared to MDL/JS)</h5>

            <p>First of all MDL/JS is cool but Dart has <strong>"Batteries included"</strong>
            <h6>Dart</h6>
            <ul>
                <li><a href="https://github.com/MikeMitterer/dart-material-design-lite" target="_blank">
                    Native Dart-Code</a></li>
                <li><a href="https://pub.dartlang.org/packages/mdl" target="_blank">
                    pub integration
                </a></li>
                <li><a href="https://goo.gl/3pmgKT" target="_blank">
                    you can write your own components easily
                </a></li>
                <li>Use public component-functions via MdlComponent.widget</li>
            </ul>

            <h6>Additional components</h6>
            <ul>
                <li><a href="#/accordion">
                    Accordion
                </a></li>
                <li><a href="#/nav-pills">
                    Nav-Pills
                </a></li>
                <li><a href="#/panel">
                    Panel
                </a></li>
                <li><a href="#/dnd">
                    Drag and Drop
                </a></li>
            </ul>

            <h6>Dialogs</h6>
            <ul>
                <li><a href="#/dialog">AlertDialog</a></li>
                <li><a href="#/dialog">ConfirmDialog</a></li>
                <li><a href="#/dialog">CustomDialog</a></li>
                <li><a href="#/snackbar">SnackBar</a></li>
                <li><a href="#/notification">Notification</a></li>
            </ul>

            <h6>Single Page Application (SPA) Features</h6>
            <ul>
                <li><a href="#/repeat">Repeater</a></li>
                <li><a href="#/observe">Observer</a></li>
                <li>Mustache-Templates</li>
                <li>View integration (loads HTML content dynamically)<br>
                    (<a href="http://samples.material-design-lite.pub/spa_content/index.html" target="_blank">
                        Content
                    </a>- and <a href="http://samples.material-design-lite.pub/spa_include/index.html" target="_blank">
                        Include-Component
                    </a>)
                </li>
                <li><a href="#/model">Model-Component</a></li>
            </ul>

            </ul>
            SCSS Files are easier to reuse specially color definitions
            ( try to darken($text-link-color) with the original material-design-lite.scss does not work)

            DI Integration You can use DI but you don't have to.
            ... and I'm sure I forgot a few things...

            </p>

        </div>

    </article>
</section>