<section class="demo-section demo-section--materialdesign">
    <article class="materialdesign sample">
        <div>
            <h3>What is Material Design?</h3>

            <p><a href="http://www.google.com/design/spec/material-design/introduction.html" target="_blank">Material
                Design</a>
                is a specification for a unified system of visual, motion, and interaction design that
                adapts across different devices and different screen sizes. Below is a brief video that presents the
                Material Design system:</p>
            <div class="video">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/Q8TXgCzxEnw" frameborder="0"
                        allowfullscreen></iframe>
            </div>

        </div>

        <section class="links" id="links">

            <h6>Links</h6>
            <ul>
                <li><a href="http://google.github.io/material-design-icons/" target="_blank">Googles Material Design
                    Icons - SVG</a></li>
                <li><a href="https://www.google.com/design/icons/" target="_blank">Googles Material Design Icons -
                    Fonts</a></li>
                <li><a href="https://developers.google.com/web/starter-kit/" target="_blank">Web Starter Kit</a></li>
                <li><a href="http://www.google.com/design/spec/material-design/" target="_blank">Material design -
                    specifications</a>
                </li>
            </ul>
        </section>
    </article>
</section>