@import "packages/wsk_material/sass/styleguide_demo_bp";
@import "packages/wsk_material/sass/nav-pills/nav-pills";

.nav-pills.sample {
    .testblock {
        background-color: whitesmoke;
        border: 1px solid darkgrey;
        padding: 8px 16px;
        margin: 4px 0;
    }

    ul {
        margin-bottom: 8px;
    }
}


