.demo-page--model .mdl-textfield, .demo-section--model .mdl-textfield {
  width: 100%; }
.demo-page--model .groups, .demo-section--model .groups {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-align-content: space-between;
      -ms-flex-line-pack: justify;
          align-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }
  .demo-page--model .groups > div, .demo-section--model .groups > div {
    width: calc(30% - 24px);
    min-width: 100px;
    max-width: 200px;
    padding: 12px; }
  .demo-page--model .groups .mdl-checkbox, .demo-section--model .groups .mdl-checkbox {
    margin-bottom: 12px; }
  .demo-page--model .groups .mdl-radio, .demo-section--model .groups .mdl-radio {
    width: 100%;
    margin-bottom: 12px; }
  .demo-page--model .groups .mdl-switch, .demo-section--model .groups .mdl-switch {
    width: 100%;
    margin-bottom: 12px; }
.demo-page--model .choose, .demo-section--model .choose {
  font-weight: bold;
  margin-bottom: 8px; }
.demo-page--model .output, .demo-section--model .output {
  margin: 6px;
  padding: 6px;
  border: 1px;
  border-radius: 5px; }
  .demo-page--model .output .mdl-property, .demo-section--model .output .mdl-property {
    font-size: 16px;
    font-weight: bold;
    line-height: 24px; }
