//@import "../../packages/mdl/assets/themes/grey-orange/material-design-lite";
//@import "../../packages/mdl/assets/styles/material-design-lite";
@import "../../packages/mdl/assets/styles/variables/variables";
@import "../../packages/mdl/assets/styles/mixins/mixins";
@import "components";
@import "dialogs";
@import "layout";
.application-section {
    margin-top: 24px;
    &--home {
        h1 { color: lightcoral; }
    }
    &--view1 {
        h1 { color: blue; }
        .mdl-card {
            .mdl-card__title { background-color: darkslateblue; }
            &.demo-card-wide {
                width: 600px;
                .is-small-screen & {
                    width: auto;
                }
            }
        }
    }
    &--view2 {
        h1 { color: green; }
    }
    &--view3 {
        h1 { color: purple; }
    }
}
