<section class="demo-section demo-section--panel demo-page--panel">
    <div id="usage" class="mdl-include mdl-js-include" data-url="views/usage/panel.html">
        Loading...
    </div>
        <div class="demo-preview-block">
          <div class="mdl-panel">Simple panel</div>
          <div class="mdl-panel mdl-panel--shadow">With shadow</div>
          <div class="mdl-panel mdl-panel--light mdl-panel--light-text">Light panel, light text</div>
          <div class="mdl-panel mdl-panel--lighter">Lighter panel</div>
          <div class="mdl-panel mdl-panel--dark">Dark panel</div>
          <div class="mdl-panel mdl-panel--dark mdl-panel--light-text">Dark panel, light text</div>
          <div class="mdl-panel mdl-panel--darker mdl-panel--light-text">Darker panel, light text</div>
          <div class="mdl-panel mdl-panel--darker mdl-panel--light-text mdl-panel--shadow">Darker panel, light text + shadow</div>
          <div class="mdl-panel mdl-panel--accent mdl-panel--light-text">Accent panel, light text</div>
          <div class="mdl-panel mdl-panel--accent mdl-panel--light-text mdl-panel--shadow">Accent panel, light text + shadow</div>
          <div class="mdl-panel mdl-panel--with-heading mdl-panel--dark mdl-panel--light-text">
              <div class="mdl-panel__heading">Panel heading</div>
              <div class="mdl-panel__content">Panel content</div>
          </div>
          <div class="mdl-panel mdl-panel--with-heading mdl-panel--accent mdl-panel--light-text mdl-panel--shadow">
              <div class="mdl-panel__heading">Panel heading</div>
              <div class="mdl-panel__content">Panel content + shadow</div>
          </div>
      </div>
</section>
