<section class="demo-section demo-section--spinner demo-page--spinner">
    <div id="usage" class="mdl-include mdl-js-include" data-url="views/usage/spinner.html">
        Loading...
    </div>
    <div class="demo-preview-block">
        <p>
            Default:
            <div id="first" class="mdl-spinner mdl-js-spinner is-active"></div>
        </p>
        <p>
            Single color (uses primary palette):
            <div class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active"></div>
        </p>
        <h5>Data binding</h5>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" id="button">On/Off</button>
        <p>Turn first spinner on/off</p>
    </div>
</section>
