<!doctype html>
<html lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{samplename}}</title>

    <link id="theme" rel="stylesheet" href="packages/mdl/assets/styles/material.min.css">
    <link rel="stylesheet" href="demo.css">

    <link href="//fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
</head>
<body class="demo-page demo-page--{{samplename}}">
{{content}}
</body>
</html>
