<div class="mdl-accordion-group mdl-js-accordion mdl-js-ripple-effect usage usage-card">
    <!-- Panel 1 -->
    <div class="mdl-accordion">
        <input type="checkbox" name="mdl-accordion" id="usage-1-check">
        <label class="mdl-accordion__label mdl-color--200" for="usage-1-check">
            <span class="mdl-icon mdl-icon--remove-red-eye" title="mdl-icon--remove-red-eye"></span>
            Basic Usage
            <span class="mdl-icon mdl-icon--chevron-right indicator"></span>
        </label>
        <div class="mdl-accordion--content">
            <i class="fa fa-eye"></i>
            <i class="fa fa-chevron-right indicator"></i>
            <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
                <!-- TabBar -->
                <div class="mdl-tabs__tab-bar">
                    <a href="#dart" class="mdl-tabs__tab is-active">Dart</a>
                    <a href="#html" class="mdl-tabs__tab">HTML</a>
                    <a href="#css" class="mdl-tabs__tab">README</a>
                </div>
                <!-- Dart-Tab -->
                <div class="mdl-tabs__panel is-active" id="dart">
                <pre class="prettyprint linenums lang-dart">
import &#x27;package:mdl&#x2F;mdl.dart&#x27;;
main() {
    registerAllMdlComponents();
    upgradeAllRegistered().then((_) {
    });
}
                </pre>
                </div>
                <!-- HTML-Tab -->
                <div class="mdl-tabs__panel" id="html">
                <pre class="prettyprint linenums lang-html">
  &lt;div class=&quot;demo-preview-block&quot;&gt;
    &lt;div class=&quot;mdl-card mdl-shadow--z1&quot;&gt;
      &lt;div class=&quot;mdl-card--img-container&quot;&gt;
      &lt;&#x2F;div&gt;
      &lt;div class=&quot;mdl-card--heading&quot;&gt;
         &lt;h2 class=&quot;mdl-card--heading-text&quot;&gt;Integer lectus lacus, condimentum vitae lectus vitae&lt;&#x2F;h5&gt;
      &lt;&#x2F;div&gt;
      &lt;div class=&quot;mdl-card--caption&quot;&gt;
        March 24th, 2014
      &lt;&#x2F;div&gt;
      &lt;div class=&quot;mdl-card--lower&quot;&gt;
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sagittis pellentesque lacus eleifend lacinia. Donec ut risus suscipit, convallis diam et, mattis urna. Phasellus sit amet ipsum nisl. Aliquam sed dictum neque. Vestibulum tempus at lacus et volutpat. Mauris molestie vel mauris id scelerisque.
      &lt;&#x2F;div&gt;
      &lt;div class=&quot;mdl-card--bottom&quot;&gt;
         &lt;a href=&quot;#&quot;&gt;Some Action&lt;&#x2F;a&gt;
      &lt;&#x2F;div&gt;
    &lt;&#x2F;div&gt;
    &lt;div class=&quot;mdl-card mdl-shadow--z2 demo-card--wide&quot;&gt;
      &lt;div class=&quot;mdl-card--img-container&quot;&gt;
      &lt;&#x2F;div&gt;
      &lt;div class=&quot;mdl-card--heading&quot;&gt;
         &lt;h2 class=&quot;mdl-card--heading-text&quot;&gt;Integer lectus lacus, condimentum vitae lectus vitae&lt;&#x2F;h5&gt;
      &lt;&#x2F;div&gt;
      &lt;div class=&quot;mdl-card--caption&quot;&gt;
        March 24th, 2014
      &lt;&#x2F;div&gt;
      &lt;div class=&quot;mdl-card--lower&quot;&gt;
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sagittis pellentesque lacus eleifend lacinia. Donec ut risus suscipit, convallis diam et, mattis urna. Phasellus sit amet ipsum nisl. Aliquam sed dictum neque. Vestibulum tempus at lacus et volutpat. Mauris molestie vel mauris id scelerisque.
      &lt;&#x2F;div&gt;
      &lt;div class=&quot;mdl-card--bottom&quot;&gt;
         &lt;a href=&quot;#&quot;&gt;Some Action&lt;&#x2F;a&gt;
      &lt;&#x2F;div&gt;
    &lt;&#x2F;div&gt;
    &lt;div class=&quot;mdl-card mdl-shadow--z3&quot;&gt;
      &lt;div class=&quot;mdl-card--img-container&quot;&gt;
      &lt;&#x2F;div&gt;
      &lt;div class=&quot;mdl-card--heading&quot;&gt;
         &lt;h2 class=&quot;mdl-card--heading-text&quot;&gt;Integer lectus lacus, condimentum vitae lectus vitae&lt;&#x2F;h5&gt;
      &lt;&#x2F;div&gt;
      &lt;div class=&quot;mdl-card--caption&quot;&gt;
        March 24th, 2014
      &lt;&#x2F;div&gt;
      &lt;div class=&quot;mdl-card--lower&quot;&gt;
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sagittis pellentesque lacus eleifend lacinia. Donec ut risus suscipit, convallis diam et, mattis urna. Phasellus sit amet ipsum nisl. Aliquam sed dictum neque. Vestibulum tempus at lacus et volutpat. Mauris molestie vel mauris id scelerisque.
      &lt;&#x2F;div&gt;
      &lt;div class=&quot;mdl-card--bottom&quot;&gt;
         &lt;a href=&quot;#&quot;&gt;Some Action&lt;&#x2F;a&gt;
      &lt;&#x2F;div&gt;
    &lt;&#x2F;div&gt;
  &lt;&#x2F;div&gt;
  

                </pre>
                </div>
                <!-- CSS-Tab -->
                <div class="mdl-tabs__panel" id="css">
Here to come...
                </div>
            </div>
        </div>
    </div>
</div>