<div class="mdl-accordion-group mdl-js-accordion mdl-js-ripple-effect usage usage-footer">
    <!-- Panel 1 -->
    <div class="mdl-accordion">
        <input type="checkbox" name="mdl-accordion" id="usage-1-check">
        <label class="mdl-accordion__label mdl-color--200" for="usage-1-check">
            <span class="mdl-icon mdl-icon--remove-red-eye" title="mdl-icon--remove-red-eye"></span>
            Basic Usage
            <span class="mdl-icon mdl-icon--chevron-right indicator"></span>
        </label>
        <div class="mdl-accordion--content">
            <i class="fa fa-eye"></i>
            <i class="fa fa-chevron-right indicator"></i>
            <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
                <!-- TabBar -->
                <div class="mdl-tabs__tab-bar">
                    <a href="#dart" class="mdl-tabs__tab is-active">Dart</a>
                    <a href="#html" class="mdl-tabs__tab">HTML</a>
                    <a href="#css" class="mdl-tabs__tab">README</a>
                </div>
                <!-- Dart-Tab -->
                <div class="mdl-tabs__panel is-active" id="dart">
                <pre class="prettyprint linenums lang-dart">
import &#x27;package:mdl&#x2F;mdl.dart&#x27;;
main() {
    registerAllMdlComponents();
    upgradeAllRegistered().then((_) {
    });
}
                </pre>
                </div>
                <!-- HTML-Tab -->
                <div class="mdl-tabs__panel" id="html">
                <pre class="prettyprint linenums lang-html">

  &lt;footer class=&quot;mdl-mega-footer&quot;&gt;
    &lt;div class=&quot;mdl-mega-footer--top-section&quot;&gt;
      &lt;div class=&quot;mdl-mega-footer--left-section&quot;&gt;
        &lt;button class=&quot;mdl-mega-footer--social-btn&quot;&gt;&lt;&#x2F;button&gt;
        &lt;button class=&quot;mdl-mega-footer--social-btn&quot;&gt;&lt;&#x2F;button&gt;
        &lt;button class=&quot;mdl-mega-footer--social-btn&quot;&gt;&lt;&#x2F;button&gt;
        &lt;button class=&quot;mdl-mega-footer--social-btn&quot;&gt;&lt;&#x2F;button&gt;
      &lt;&#x2F;div&gt;
      &lt;div class=&quot;mdl-mega-footer--right-section&quot;&gt;
        &lt;a href=&quot;#&quot;&gt;App Status Dashboard&lt;&#x2F;a&gt;
        &lt;a href=&quot;#&quot;&gt;Terms of Service&lt;&#x2F;a&gt;
      &lt;&#x2F;div&gt;
    &lt;&#x2F;div&gt;
    &lt;div class=&quot;mdl-mega-footer--middle-section&quot;&gt;
      &lt;div class=&quot;mdl-mega-footer--drop-down-section&quot;&gt;
        &lt;input class=&quot;mdl-mega-footer--heading-checkbox&quot; type=&quot;checkbox&quot; checked&gt;
        &lt;h1 class=&quot;mdl-mega-footer--heading&quot;&gt;Learning &amp;amp; Support&lt;&#x2F;h1&gt;
        &lt;ul class=&quot;mdl-mega-footer--link-list&quot;&gt;
          &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Resource Center&lt;&#x2F;a&gt;&lt;&#x2F;li&gt;
          &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Help Center&lt;&#x2F;a&gt;&lt;&#x2F;li&gt;
          &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Community&lt;&#x2F;a&gt;&lt;&#x2F;li&gt;
          &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Learn with Google&lt;&#x2F;a&gt;&lt;&#x2F;li&gt;
          &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Small Business Community&lt;&#x2F;a&gt;&lt;&#x2F;li&gt;
          &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Think Insights&lt;&#x2F;a&gt;&lt;&#x2F;li&gt;
        &lt;&#x2F;ul&gt;
      &lt;&#x2F;div&gt;
      &lt;div class=&quot;mdl-mega-footer--drop-down-section&quot;&gt;
        &lt;input class=&quot;mdl-mega-footer--heading-checkbox&quot; type=&quot;checkbox&quot; checked&gt;
        &lt;h1 class=&quot;mdl-mega-footer--heading&quot;&gt;Just for Developers&lt;&#x2F;h1&gt;
        &lt;ul class=&quot;mdl-mega-footer--link-list&quot;&gt;
          &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Google Developers&lt;&#x2F;a&gt;&lt;&#x2F;li&gt;
          &lt;li&gt;&lt;a href=&quot;#&quot;&gt;AdWords API&lt;&#x2F;a&gt;&lt;&#x2F;li&gt;
          &lt;li&gt;&lt;a href=&quot;#&quot;&gt;AdWords Scipts&lt;&#x2F;a&gt;&lt;&#x2F;li&gt;
          &lt;li&gt;&lt;a href=&quot;#&quot;&gt;AdWords Remarketing Tag&lt;&#x2F;a&gt;&lt;&#x2F;li&gt;
        &lt;&#x2F;ul&gt;
      &lt;&#x2F;div&gt;
      &lt;div class=&quot;mdl-mega-footer--drop-down-section&quot;&gt;
        &lt;input class=&quot;mdl-mega-footer--heading-checkbox&quot; type=&quot;checkbox&quot; checked&gt;
        &lt;h1 class=&quot;mdl-mega-footer--heading&quot;&gt;Related Products&lt;&#x2F;h1&gt;
        &lt;ul class=&quot;mdl-mega-footer--link-list&quot;&gt;
          &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Analytics Standard&lt;&#x2F;a&gt;&lt;&#x2F;li&gt;
          &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Shopping Ads&lt;&#x2F;a&gt;&lt;&#x2F;li&gt;
          &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Trusted Store&lt;&#x2F;a&gt;&lt;&#x2F;li&gt;
          &lt;li&gt;&lt;a href=&quot;#&quot;&gt;AdSense&lt;&#x2F;a&gt;&lt;&#x2F;li&gt;
        &lt;&#x2F;ul&gt;
      &lt;&#x2F;div&gt;
      &lt;div class=&quot;mdl-mega-footer--drop-down-section&quot;&gt;
        &lt;input class=&quot;mdl-mega-footer--heading-checkbox&quot; type=&quot;checkbox&quot; checked&gt;
        &lt;h1 class=&quot;mdl-mega-footer--heading&quot;&gt;More solutions from Google&lt;&#x2F;h1&gt;
        &lt;ul class=&quot;mdl-mega-footer--link-list&quot;&gt;
          &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Google for Advertising&lt;&#x2F;a&gt;&lt;&#x2F;li&gt;
          &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Google for Business&lt;&#x2F;a&gt;&lt;&#x2F;li&gt;
        &lt;&#x2F;ul&gt;
      &lt;&#x2F;div&gt;
    &lt;&#x2F;div&gt;
    &lt;div class=&quot;mdl-mega-footer--bottom-section&quot;&gt;
      &lt;div class=&quot;mdl-logo&quot;&gt;
        &lt;strong&gt;Material Design&lt;&#x2F;strong&gt; Lite
      &lt;&#x2F;div&gt;
      &lt;ul class=&quot;mdl-mega-footer--link-list&quot;&gt;
        &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Help&lt;&#x2F;a&gt;&lt;&#x2F;li&gt;
        &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Privacy &amp;amp; Terms&lt;&#x2F;a&gt;&lt;&#x2F;li&gt;
      &lt;&#x2F;ul&gt;
    &lt;&#x2F;div&gt;
  &lt;&#x2F;footer&gt;
  &lt;footer class=&quot;mdl-mini-footer&quot;&gt;
    &lt;div class=&quot;mdl-mini-footer--left-section&quot;&gt;
      &lt;div class=&quot;mdl-logo&quot;&gt;
        &lt;strong&gt;Material Design&lt;&#x2F;strong&gt; Lite
      &lt;&#x2F;div&gt;
      &lt;ul class=&quot;mdl-mini-footer--link-list&quot;&gt;
        &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Help&lt;&#x2F;a&gt;&lt;&#x2F;li&gt;
        &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Privacy &amp;amp; Terms&lt;&#x2F;a&gt;&lt;&#x2F;li&gt;
      &lt;&#x2F;ul&gt;
    &lt;&#x2F;div&gt;
    &lt;div class=&quot;mdl-mini-footer--right-section&quot;&gt;
      &lt;button class=&quot;mdl-mini-footer--social-btn&quot;&gt;&lt;&#x2F;button&gt;
      &lt;button class=&quot;mdl-mini-footer--social-btn&quot;&gt;&lt;&#x2F;button&gt;
      &lt;button class=&quot;mdl-mini-footer--social-btn&quot;&gt;&lt;&#x2F;button&gt;
    &lt;&#x2F;div&gt;
  &lt;&#x2F;footer&gt;
  

                </pre>
                </div>
                <!-- CSS-Tab -->
                <div class="mdl-tabs__panel" id="css">
Here to come...
                </div>
            </div>
        </div>
    </div>
</div>