<div class="mdl-accordion-group mdl-js-accordion mdl-js-ripple-effect usage usage-list">
    <!-- Panel 1 -->
    <div class="mdl-accordion">
        <input type="checkbox" name="mdl-accordion" id="usage-1-check">
        <label class="mdl-accordion__label mdl-color--200" for="usage-1-check">
            <span class="mdl-icon mdl-icon--remove-red-eye" title="mdl-icon--remove-red-eye"></span>
            Basic Usage
            <span class="mdl-icon mdl-icon--chevron-right indicator"></span>
        </label>
        <div class="mdl-accordion--content">
            <i class="fa fa-eye"></i>
            <i class="fa fa-chevron-right indicator"></i>
            <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
                <!-- TabBar -->
                <div class="mdl-tabs__tab-bar">
                    <a href="#dart" class="mdl-tabs__tab is-active">Dart</a>
                    <a href="#html" class="mdl-tabs__tab">HTML</a>
                    <a href="#css" class="mdl-tabs__tab">README</a>
                </div>
                <!-- Dart-Tab -->
                <div class="mdl-tabs__panel is-active" id="dart">
                <pre class="prettyprint linenums lang-dart">
import &#x27;package:mdl&#x2F;mdl.dart&#x27;;
main() {
    registerAllMdlComponents();
    upgradeAllRegistered().then((_) {
    });
}
                </pre>
                </div>
                <!-- HTML-Tab -->
                <div class="mdl-tabs__panel" id="html">
                <pre class="prettyprint linenums lang-html">

  &lt;div class=&quot;demo-preview-block&quot;&gt;
    &lt;h5&gt;Ordered&lt;&#x2F;h5&gt;
    &lt;ol&gt;
      &lt;li&gt;Item 1&lt;&#x2F;li&gt;
      &lt;li&gt;Item 2&lt;&#x2F;li&gt;
      &lt;li&gt;Item 3&lt;&#x2F;li&gt;
      &lt;li&gt;Item 4&lt;&#x2F;li&gt;
      &lt;li&gt;Item 5&lt;&#x2F;li&gt;
    &lt;&#x2F;ol&gt;
    &lt;h5&gt;Unordered&lt;&#x2F;h5&gt;
    &lt;ul&gt;
      &lt;li&gt;Item 1&lt;&#x2F;li&gt;
      &lt;li&gt;Item 2&lt;&#x2F;li&gt;
      &lt;li&gt;Item 3&lt;&#x2F;li&gt;
      &lt;li&gt;Item 4&lt;&#x2F;li&gt;
      &lt;li&gt;Item 5&lt;&#x2F;li&gt;
    &lt;&#x2F;ul&gt;
    &lt;h5&gt;Inlined&lt;&#x2F;h5&gt;
    &lt;ul class=&quot;mdl-list--inline&quot;&gt;
      &lt;li&gt;Item 1&lt;&#x2F;li&gt;
      &lt;li&gt;Item 2&lt;&#x2F;li&gt;
      &lt;li&gt;Item 3&lt;&#x2F;li&gt;
      &lt;li&gt;Item 4&lt;&#x2F;li&gt;
      &lt;li&gt;Item 5&lt;&#x2F;li&gt;
    &lt;&#x2F;ul&gt;
    &lt;h5&gt;Styled List View&lt;&#x2F;h5&gt;
    &lt;p&gt;
      &lt;div class=&quot;List&quot;&gt;
        &lt;p class=&quot;mdl-typography-Body-2&quot;&gt;Contacts&lt;&#x2F;p&gt;
        &lt;div class=&quot;mdl-list--styled-view&quot;&gt;
          &lt;ul&gt;
            &lt;li&gt;
              &lt;span class=&quot;mdl-list-view--avatar&quot;&gt;&lt;&#x2F;span&gt;
              &lt;span class=&quot;mdl-list-view--name&quot;&gt;Ali Connors&lt;&#x2F;span&gt;
            &lt;&#x2F;li&gt;
            &lt;li&gt;
              &lt;span class=&quot;mdl-list-view--avatar&quot;&gt;&lt;&#x2F;span&gt;
              &lt;span class=&quot;mdl-list-view--name&quot;&gt;Sandra Williams&lt;&#x2F;span&gt;
            &lt;&#x2F;li&gt;
            &lt;li&gt;
              &lt;span class=&quot;mdl-list-view--avatar&quot;&gt;&lt;&#x2F;span&gt;
              &lt;span class=&quot;mdl-list-view--name&quot;&gt;Trevor Hansen&lt;&#x2F;span&gt;
            &lt;&#x2F;li&gt;
            &lt;li&gt;
              &lt;span class=&quot;mdl-list-view--avatar&quot;&gt;&lt;&#x2F;span&gt;
              &lt;span class=&quot;mdl-list-view--name&quot;&gt;Britta Holt&lt;&#x2F;span&gt;
            &lt;&#x2F;li&gt;
            &lt;li&gt;
              &lt;span class=&quot;mdl-list-view--avatar&quot;&gt;&lt;&#x2F;span&gt;
              &lt;span class=&quot;mdl-list-view--name&quot;&gt;David Park&lt;&#x2F;span&gt;
            &lt;&#x2F;li&gt;
            &lt;li&gt;
              &lt;span class=&quot;mdl-list-view--avatar&quot;&gt;&lt;&#x2F;span&gt;
              &lt;span class=&quot;mdl-list-view--name&quot;&gt;Jennifer Adams&lt;&#x2F;span&gt;
            &lt;&#x2F;li&gt;
            &lt;li&gt;
              &lt;span class=&quot;mdl-list-view--avatar&quot;&gt;&lt;&#x2F;span&gt;
              &lt;span class=&quot;mdl-list-view--name&quot;&gt;Frank Connors&lt;&#x2F;span&gt;
            &lt;&#x2F;li&gt;
            &lt;li&gt;
              &lt;span class=&quot;mdl-list-view--avatar&quot;&gt;&lt;&#x2F;span&gt;
              &lt;span class=&quot;mdl-list-view--name&quot;&gt;Sandra Williams&lt;&#x2F;span&gt;
            &lt;&#x2F;li&gt;
            &lt;li&gt;
              &lt;span class=&quot;mdl-list-view--avatar&quot;&gt;&lt;&#x2F;span&gt;
              &lt;span class=&quot;mdl-list-view--name&quot;&gt;Scott Michaels&lt;&#x2F;span&gt;
            &lt;&#x2F;li&gt;
            &lt;li&gt;
              &lt;span class=&quot;mdl-list-view--avatar&quot;&gt;&lt;&#x2F;span&gt;
              &lt;span class=&quot;mdl-list-view--name&quot;&gt;Matt Connors&lt;&#x2F;span&gt;
            &lt;&#x2F;li&gt;
          &lt;&#x2F;ul&gt;
        &lt;&#x2F;div&gt;
      &lt;&#x2F;div&gt;
    &lt;&#x2F;p&gt;
  &lt;&#x2F;div&gt;


                </pre>
                </div>
                <!-- CSS-Tab -->
                <div class="mdl-tabs__panel" id="css">
Here to come...
                </div>
            </div>
        </div>
    </div>
</div>