<div class="mdl-accordion-group mdl-js-accordion mdl-js-ripple-effect usage usage-menu">
    <!-- Panel 1 -->
    <div class="mdl-accordion">
        <input type="checkbox" name="mdl-accordion" id="usage-1-check">
        <label class="mdl-accordion__label mdl-color--200" for="usage-1-check">
            <span class="mdl-icon mdl-icon--remove-red-eye" title="mdl-icon--remove-red-eye"></span>
            Basic Usage
            <span class="mdl-icon mdl-icon--chevron-right indicator"></span>
        </label>
        <div class="mdl-accordion--content">
            <i class="fa fa-eye"></i>
            <i class="fa fa-chevron-right indicator"></i>
            <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
                <!-- TabBar -->
                <div class="mdl-tabs__tab-bar">
                    <a href="#dart" class="mdl-tabs__tab is-active">Dart</a>
                    <a href="#html" class="mdl-tabs__tab">HTML</a>
                    <a href="#css" class="mdl-tabs__tab">README</a>
                </div>
                <!-- Dart-Tab -->
                <div class="mdl-tabs__panel is-active" id="dart">
                <pre class="prettyprint linenums lang-dart">
import &#x27;package:mdl&#x2F;mdl.dart&#x27;;
main() {
    const int TIMEOUT_IN_SECS = 5;
    registerAllMdlComponents();
    upgradeAllRegistered().then((_) {
        final MaterialMenu menu1 = MaterialMenu.widget(dom.querySelector(&quot;#menu1&quot;));
        final dom.DivElement message = dom.querySelector(&quot;#message&quot;);
        void _showMessage(final int secsToClose) {
            message.text = &quot;Menu closes in ${secsToClose} seconds...&quot;;
            if(secsToClose &lt;= 0) {
                message.text = &quot;&quot;;
            }
        }
        menu1.show();
        _showMessage(TIMEOUT_IN_SECS);
        int tick = 0;
        new Timer.periodic(new Duration(milliseconds: 1000) , (final Timer timer) {
            _showMessage(TIMEOUT_IN_SECS - tick - 1);
            if(tick &gt;= TIMEOUT_IN_SECS - 1) {
                timer.cancel();
                menu1.hide();
            }
            tick++;
        });
    });
}
                </pre>
                </div>
                <!-- HTML-Tab -->
                <div class="mdl-tabs__panel" id="html">
                <pre class="prettyprint linenums lang-html">

  &lt;div class=&quot;demo-preview-block&quot;&gt;
    &lt;button id=&quot;clickable1&quot; class=&quot;demo-menu-button-left mdl-button mdl-js-button mdl-button--icon&quot;&gt;
      &lt;span class=&quot;mdl-icon mdl-icon--more-vert&quot;&#x2F;&gt;
    &lt;&#x2F;button&gt;
    &lt;ul class=&quot;mdl-menu mdl-js-menu mdl-js-ripple-effect&quot; for=&quot;clickable1&quot; id=&quot;menu1&quot;&gt;
      &lt;li class=&quot;mdl-menu__item&quot;&gt;5.0 Lollipop&lt;&#x2F;li&gt;
      &lt;li class=&quot;mdl-menu__item&quot;&gt;4.4 KitKat&lt;&#x2F;li&gt;
      &lt;li disabled class=&quot;mdl-menu__item&quot;&gt;4.3 Jelly Bean&lt;&#x2F;li&gt;
      &lt;li class=&quot;mdl-menu__item&quot;&gt;Android History&lt;&#x2F;li&gt;
    &lt;&#x2F;ul&gt;
    &lt;button id=&quot;clickable2&quot; class=&quot;demo-menu-button-left2 mdl-button mdl-js-button mdl-button--icon&quot;&gt;
      &lt;span class=&quot;mdl-icon mdl-icon--more-vert&quot;&#x2F;&gt;
    &lt;&#x2F;button&gt;
    &lt;ul class=&quot;mdl-menu mdl-menu--top-left mdl-js-menu mdl-js-ripple-effect&quot; for=&quot;clickable2&quot;&gt;
      &lt;li class=&quot;mdl-menu__item&quot;&gt;5.0 Lollipop&lt;&#x2F;li&gt;
      &lt;li class=&quot;mdl-menu__item&quot;&gt;4.4 KitKat&lt;&#x2F;li&gt;
      &lt;li disabled class=&quot;mdl-menu__item&quot;&gt;4.3 Jelly Bean&lt;&#x2F;li&gt;
      &lt;li class=&quot;mdl-menu__item&quot;&gt;Android History&lt;&#x2F;li&gt;
    &lt;&#x2F;ul&gt;
    &lt;button id=&quot;clickable3&quot; class=&quot;demo-menu-button-right2 mdl-button mdl-js-button mdl-button--icon&quot;&gt;
      &lt;span class=&quot;mdl-icon mdl-icon--more-vert&quot;&#x2F;&gt;
    &lt;&#x2F;button&gt;
    &lt;ul class=&quot;mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect&quot; for=&quot;clickable3&quot;&gt;
      &lt;li class=&quot;mdl-menu__item&quot;&gt;5.0 Lollipop&lt;&#x2F;li&gt;
      &lt;li class=&quot;mdl-menu__item&quot;&gt;4.4 KitKat&lt;&#x2F;li&gt;
      &lt;li disabled class=&quot;mdl-menu__item&quot;&gt;4.3 Jelly Bean&lt;&#x2F;li&gt;
      &lt;li class=&quot;mdl-menu__item&quot;&gt;Android History&lt;&#x2F;li&gt;
    &lt;&#x2F;ul&gt;
    &lt;button id=&quot;clickable4&quot; class=&quot;demo-menu-button-right mdl-button mdl-js-button mdl-button--icon&quot;&gt;
      &lt;span class=&quot;mdl-icon mdl-icon--more-vert&quot;&#x2F;&gt;
    &lt;&#x2F;button&gt;
    &lt;ul class=&quot;mdl-menu mdl-menu--top-right mdl-js-menu mdl-js-ripple-effect&quot; for=&quot;clickable4&quot;&gt;
      &lt;li class=&quot;mdl-menu__item&quot;&gt;5.0 Lollipop&lt;&#x2F;li&gt;
      &lt;li class=&quot;mdl-menu__item&quot;&gt;4.4 KitKat&lt;&#x2F;li&gt;
      &lt;li disabled class=&quot;mdl-menu__item&quot;&gt;4.3 Jelly Bean&lt;&#x2F;li&gt;
      &lt;li class=&quot;mdl-menu__item&quot;&gt;Android History&lt;&#x2F;li&gt;
    &lt;&#x2F;ul&gt;
  &lt;&#x2F;div&gt;
  &lt;div id=&quot;message&quot;&gt;&lt;&#x2F;div&gt;
    &lt;!-- build:js(app&#x2F;styleguide&#x2F;dropdown-menu&#x2F;) ..&#x2F;..&#x2F;scripts&#x2F;main.min.js --&gt;
                        &lt;!-- endbuild --&gt;
  

                </pre>
                </div>
                <!-- CSS-Tab -->
                <div class="mdl-tabs__panel" id="css">
Here to come...
                </div>
            </div>
        </div>
    </div>
</div>