<div class="mdl-accordion-group mdl-js-accordion mdl-js-ripple-effect usage usage-palette">
    <!-- Panel 1 -->
    <div class="mdl-accordion">
        <input type="checkbox" name="mdl-accordion" id="usage-1-check">
        <label class="mdl-accordion__label mdl-color--200" for="usage-1-check">
            <span class="mdl-icon mdl-icon--remove-red-eye" title="mdl-icon--remove-red-eye"></span>
            Basic Usage
            <span class="mdl-icon mdl-icon--chevron-right indicator"></span>
        </label>
        <div class="mdl-accordion--content">
            <i class="fa fa-eye"></i>
            <i class="fa fa-chevron-right indicator"></i>
            <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
                <!-- TabBar -->
                <div class="mdl-tabs__tab-bar">
                    <a href="#dart" class="mdl-tabs__tab is-active">Dart</a>
                    <a href="#html" class="mdl-tabs__tab">HTML</a>
                    <a href="#css" class="mdl-tabs__tab">README</a>
                </div>
                <!-- Dart-Tab -->
                <div class="mdl-tabs__panel is-active" id="dart">
                <pre class="prettyprint linenums lang-dart">
import &#x27;package:mdl&#x2F;mdl.dart&#x27;;

main() {
    registerAllMdlComponents();
    upgradeAllRegistered().then((_) {
    });
}</pre>
                </div>
                <!-- HTML-Tab -->
                <div class="mdl-tabs__panel" id="html">
                <div class="linkinfo">
                    To use any MDL component, you must include the minified CSS file in the &lt;head&gt; section of the page:<br>
                    <div class="csslink mdl-color-text--900">
                    &lt;link rel=&quot;stylesheet&quot; href=&quot;https://cdn.rawgit.com/MikeMitterer/dart-mdl-theme/master/blue_grey-pink/material.min.css&quot;&gt;<br>
                    </div>
                    More about <a href="/#/theming">theming...</a>
                </div>
                <pre class="prettyprint linenums lang-html">
    &lt;div class=&quot;demo-preview-block&quot;&gt;
      &lt;div class=&quot;demo-palette demo-palette--red&quot;&gt;
        &lt;div class=&quot;demo-palette-heading demo-palette-color--500&quot;&gt;
          &lt;div class=&quot;demo-palette-name&quot;&gt;Red&lt;&#x2F;div&gt;
          500
        &lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--50 demo-palette--dark-text&quot;&gt;50&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--100 demo-palette--dark-text&quot;&gt;100&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--200 demo-palette--dark-text&quot;&gt;200&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--300 demo-palette--dark-text&quot;&gt;300&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--400 demo-palette--dark-text&quot;&gt;400&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--500&quot;&gt;500&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--600&quot;&gt;600&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--700&quot;&gt;700&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--800&quot;&gt;800&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--900&quot;&gt;900&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--A100 demo-palette--dark-text&quot;&gt;A100&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--A200&quot;&gt;A200&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--A400&quot;&gt;A400&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--A700&quot;&gt;A700&lt;&#x2F;div&gt;
      &lt;&#x2F;div&gt;
      &lt;div class=&quot;demo-palette demo-palette--pink&quot;&gt;
        &lt;div class=&quot;demo-palette-heading demo-palette-color--500&quot;&gt;
          &lt;div class=&quot;demo-palette-name&quot;&gt;Pink&lt;&#x2F;div&gt;
          500
        &lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--50 demo-palette--dark-text&quot;&gt;50&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--100 demo-palette--dark-text&quot;&gt;100&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--200 demo-palette--dark-text&quot;&gt;200&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--300 demo-palette--dark-text&quot;&gt;300&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--400 demo-palette--dark-text&quot;&gt;400&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--500&quot;&gt;500&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--600&quot;&gt;600&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--700&quot;&gt;700&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--800&quot;&gt;800&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--900&quot;&gt;900&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--A100 demo-palette--dark-text&quot;&gt;A100&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--A200&quot;&gt;A200&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--A400&quot;&gt;A400&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--A700&quot;&gt;A700&lt;&#x2F;div&gt;
      &lt;&#x2F;div&gt;
      &lt;div class=&quot;demo-palette demo-palette--purple&quot;&gt;
        &lt;div class=&quot;demo-palette-heading demo-palette-color--500&quot;&gt;
          &lt;div class=&quot;demo-palette-name&quot;&gt;Purple&lt;&#x2F;div&gt;
          500
        &lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--50 demo-palette--dark-text&quot;&gt;50&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--100 demo-palette--dark-text&quot;&gt;100&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--200 demo-palette--dark-text&quot;&gt;200&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--300&quot;&gt;300&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--400&quot;&gt;400&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--500&quot;&gt;500&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--600&quot;&gt;600&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--700&quot;&gt;700&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--800&quot;&gt;800&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--900&quot;&gt;900&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--A100 demo-palette--dark-text&quot;&gt;A100&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--A200&quot;&gt;A200&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--A400&quot;&gt;A400&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--A700&quot;&gt;A700&lt;&#x2F;div&gt;
      &lt;&#x2F;div&gt;
      &lt;div class=&quot;demo-palette demo-palette--deep-purple&quot;&gt;
        &lt;div class=&quot;demo-palette-heading demo-palette-color--500&quot;&gt;
          &lt;div class=&quot;demo-palette-name&quot;&gt;Deep Purple&lt;&#x2F;div&gt;
          500
        &lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--50 demo-palette--dark-text&quot;&gt;50&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--100 demo-palette--dark-text&quot;&gt;100&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--200 demo-palette--dark-text&quot;&gt;200&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--300&quot;&gt;300&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--400&quot;&gt;400&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--500&quot;&gt;500&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--600&quot;&gt;600&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--700&quot;&gt;700&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--800&quot;&gt;800&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--900&quot;&gt;900&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--A100 demo-palette--dark-text&quot;&gt;A100&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--A200&quot;&gt;A200&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--A400&quot;&gt;A400&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--A700&quot;&gt;A700&lt;&#x2F;div&gt;
      &lt;&#x2F;div&gt;
      &lt;div class=&quot;demo-palette demo-palette--indigo&quot;&gt;
        &lt;div class=&quot;demo-palette-heading demo-palette-color--500&quot;&gt;
          &lt;div class=&quot;demo-palette-name&quot;&gt;Indigo&lt;&#x2F;div&gt;
          500
        &lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--50 demo-palette--dark-text&quot;&gt;50&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--100 demo-palette--dark-text&quot;&gt;100&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--200 demo-palette--dark-text&quot;&gt;200&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--300&quot;&gt;300&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--400&quot;&gt;400&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--500&quot;&gt;500&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--600&quot;&gt;600&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--700&quot;&gt;700&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--800&quot;&gt;800&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--900&quot;&gt;900&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--A100 demo-palette--dark-text&quot;&gt;A100&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--A200&quot;&gt;A200&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--A400&quot;&gt;A400&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--A700&quot;&gt;A700&lt;&#x2F;div&gt;
      &lt;&#x2F;div&gt;
      &lt;div class=&quot;demo-palette demo-palette--blue&quot;&gt;
        &lt;div class=&quot;demo-palette-heading demo-palette-color--500&quot;&gt;
          &lt;div class=&quot;demo-palette-name&quot;&gt;Blue&lt;&#x2F;div&gt;
          500
        &lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--50 demo-palette--dark-text&quot;&gt;50&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--100 demo-palette--dark-text&quot;&gt;100&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--200 demo-palette--dark-text&quot;&gt;200&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--300 demo-palette--dark-text&quot;&gt;300&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--400 demo-palette--dark-text&quot;&gt;400&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--500&quot;&gt;500&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--600&quot;&gt;600&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--700&quot;&gt;700&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--800&quot;&gt;800&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--900&quot;&gt;900&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--A100 demo-palette--dark-text&quot;&gt;A100&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--A200&quot;&gt;A200&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--A400&quot;&gt;A400&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--A700&quot;&gt;A700&lt;&#x2F;div&gt;
      &lt;&#x2F;div&gt;
      &lt;div class=&quot;demo-palette demo-palette--light-blue&quot;&gt;
        &lt;div class=&quot;demo-palette-heading demo-palette-color--500&quot;&gt;
          &lt;div class=&quot;demo-palette-name&quot;&gt;Light Blue&lt;&#x2F;div&gt;
          500
        &lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--50 demo-palette--dark-text&quot;&gt;50&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--100 demo-palette--dark-text&quot;&gt;100&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--200 demo-palette--dark-text&quot;&gt;200&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--300 demo-palette--dark-text&quot;&gt;300&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--400 demo-palette--dark-text&quot;&gt;400&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--500&quot;&gt;500&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--600&quot;&gt;600&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--700&quot;&gt;700&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--800&quot;&gt;800&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--900&quot;&gt;900&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--A100 demo-palette--dark-text&quot;&gt;A100&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--A200 demo-palette--dark-text&quot;&gt;A200&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--A400 demo-palette--dark-text&quot;&gt;A400&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--A700&quot;&gt;A700&lt;&#x2F;div&gt;
      &lt;&#x2F;div&gt;
      &lt;div class=&quot;demo-palette demo-palette--cyan&quot;&gt;
        &lt;div class=&quot;demo-palette-heading demo-palette-color--500&quot;&gt;
          &lt;div class=&quot;demo-palette-name&quot;&gt;Cyan&lt;&#x2F;div&gt;
          500
        &lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--50 demo-palette--dark-text&quot;&gt;50&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--100 demo-palette--dark-text&quot;&gt;100&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--200 demo-palette--dark-text&quot;&gt;200&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--300 demo-palette--dark-text&quot;&gt;300&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--400 demo-palette--dark-text&quot;&gt;400&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--500&quot;&gt;500&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--600&quot;&gt;600&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--700&quot;&gt;700&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--800&quot;&gt;800&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--900&quot;&gt;900&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--A100 demo-palette--dark-text&quot;&gt;A100&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--A200 demo-palette--dark-text&quot;&gt;A200&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--A400 demo-palette--dark-text&quot;&gt;A400&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--A700 demo-palette--dark-text&quot;&gt;A700&lt;&#x2F;div&gt;
      &lt;&#x2F;div&gt;
      &lt;div class=&quot;demo-palette demo-palette--teal&quot;&gt;
        &lt;div class=&quot;demo-palette-heading demo-palette-color--500&quot;&gt;
          &lt;div class=&quot;demo-palette-name&quot;&gt;Teal&lt;&#x2F;div&gt;
          500
        &lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--50 demo-palette--dark-text&quot;&gt;50&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--100 demo-palette--dark-text&quot;&gt;100&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--200 demo-palette--dark-text&quot;&gt;200&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--300 demo-palette--dark-text&quot;&gt;300&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--400 demo-palette--dark-text&quot;&gt;400&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--500&quot;&gt;500&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--600&quot;&gt;600&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--700&quot;&gt;700&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--800&quot;&gt;800&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--900&quot;&gt;900&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--A100 demo-palette--dark-text&quot;&gt;A100&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--A200 demo-palette--dark-text&quot;&gt;A200&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--A400 demo-palette--dark-text&quot;&gt;A400&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--A700 demo-palette--dark-text&quot;&gt;A700&lt;&#x2F;div&gt;
      &lt;&#x2F;div&gt;
      &lt;div class=&quot;demo-palette demo-palette--green&quot;&gt;
        &lt;div class=&quot;demo-palette-heading demo-palette-color--500&quot;&gt;
          &lt;div class=&quot;demo-palette-name&quot;&gt;Green&lt;&#x2F;div&gt;
          500
        &lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--50 demo-palette--dark-text&quot;&gt;50&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--100 demo-palette--dark-text&quot;&gt;100&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--200 demo-palette--dark-text&quot;&gt;200&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--300 demo-palette--dark-text&quot;&gt;300&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--400 demo-palette--dark-text&quot;&gt;400&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--500&quot;&gt;500&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--600&quot;&gt;600&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--700&quot;&gt;700&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--800&quot;&gt;800&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--900&quot;&gt;900&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--A100 demo-palette--dark-text&quot;&gt;A100&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--A200 demo-palette--dark-text&quot;&gt;A200&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--A400 demo-palette--dark-text&quot;&gt;A400&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--A700 demo-palette--dark-text&quot;&gt;A700&lt;&#x2F;div&gt;
      &lt;&#x2F;div&gt;
      &lt;div class=&quot;demo-palette demo-palette--light-green&quot;&gt;
        &lt;div class=&quot;demo-palette-heading demo-palette-color--500&quot;&gt;
          &lt;div class=&quot;demo-palette-name&quot;&gt;Light Green&lt;&#x2F;div&gt;
          500
        &lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--50 demo-palette--dark-text&quot;&gt;50&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--100 demo-palette--dark-text&quot;&gt;100&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--200 demo-palette--dark-text&quot;&gt;200&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--300 demo-palette--dark-text&quot;&gt;300&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--400 demo-palette--dark-text&quot;&gt;400&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--500 demo-palette--dark-text&quot;&gt;500&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--600 demo-palette--dark-text&quot;&gt;600&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--700 demo-palette--dark-text&quot;&gt;700&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--800&quot;&gt;800&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--900&quot;&gt;900&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--A100 demo-palette--dark-text&quot;&gt;A100&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--A200 demo-palette--dark-text&quot;&gt;A200&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--A400 demo-palette--dark-text&quot;&gt;A400&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--A700 demo-palette--dark-text&quot;&gt;A700&lt;&#x2F;div&gt;
      &lt;&#x2F;div&gt;
      &lt;div class=&quot;demo-palette demo-palette--lime&quot;&gt;
        &lt;div class=&quot;demo-palette-heading demo-palette-color--500 demo-palette--dark-text&quot;&gt;
          &lt;div class=&quot;demo-palette-name&quot;&gt;Lime&lt;&#x2F;div&gt;
          500
        &lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--50 demo-palette--dark-text&quot;&gt;50&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--100 demo-palette--dark-text&quot;&gt;100&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--200 demo-palette--dark-text&quot;&gt;200&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--300 demo-palette--dark-text&quot;&gt;300&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--400 demo-palette--dark-text&quot;&gt;400&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--500 demo-palette--dark-text&quot;&gt;500&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--600 demo-palette--dark-text&quot;&gt;600&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--700 demo-palette--dark-text&quot;&gt;700&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--800 demo-palette--dark-text&quot;&gt;800&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--900&quot;&gt;900&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--A100 demo-palette--dark-text&quot;&gt;A100&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--A200 demo-palette--dark-text&quot;&gt;A200&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--A400 demo-palette--dark-text&quot;&gt;A400&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--A700 demo-palette--dark-text&quot;&gt;A700&lt;&#x2F;div&gt;
      &lt;&#x2F;div&gt;
      &lt;div class=&quot;demo-palette demo-palette--yellow&quot;&gt;
        &lt;div class=&quot;demo-palette-heading demo-palette-color--500 demo-palette--dark-text&quot;&gt;
          &lt;div class=&quot;demo-palette-name&quot;&gt;Yellow&lt;&#x2F;div&gt;
          500
        &lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--50 demo-palette--dark-text&quot;&gt;50&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--100 demo-palette--dark-text&quot;&gt;100&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--200 demo-palette--dark-text&quot;&gt;200&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--300 demo-palette--dark-text&quot;&gt;300&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--400 demo-palette--dark-text&quot;&gt;400&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--500 demo-palette--dark-text&quot;&gt;500&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--600 demo-palette--dark-text&quot;&gt;600&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--700 demo-palette--dark-text&quot;&gt;700&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--800 demo-palette--dark-text&quot;&gt;800&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--900 demo-palette--dark-text&quot;&gt;900&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--A100 demo-palette--dark-text&quot;&gt;A100&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--A200 demo-palette--dark-text&quot;&gt;A200&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--A400 demo-palette--dark-text&quot;&gt;A400&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--A700 demo-palette--dark-text&quot;&gt;A700&lt;&#x2F;div&gt;
      &lt;&#x2F;div&gt;
      &lt;div class=&quot;demo-palette demo-palette--amber&quot;&gt;
        &lt;div class=&quot;demo-palette-heading demo-palette-color--500 demo-palette--dark-text&quot;&gt;
          &lt;div class=&quot;demo-palette-name&quot;&gt;Amber&lt;&#x2F;div&gt;
          500
        &lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--50 demo-palette--dark-text&quot;&gt;50&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--100 demo-palette--dark-text&quot;&gt;100&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--200 demo-palette--dark-text&quot;&gt;200&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--300 demo-palette--dark-text&quot;&gt;300&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--400 demo-palette--dark-text&quot;&gt;400&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--500 demo-palette--dark-text&quot;&gt;500&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--600 demo-palette--dark-text&quot;&gt;600&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--700 demo-palette--dark-text&quot;&gt;700&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--800 demo-palette--dark-text&quot;&gt;800&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--900 demo-palette--dark-text&quot;&gt;900&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--A100 demo-palette--dark-text&quot;&gt;A100&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--A200 demo-palette--dark-text&quot;&gt;A200&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--A400 demo-palette--dark-text&quot;&gt;A400&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--A700 demo-palette--dark-text&quot;&gt;A700&lt;&#x2F;div&gt;
      &lt;&#x2F;div&gt;
      &lt;div class=&quot;demo-palette demo-palette--orange&quot;&gt;
        &lt;div class=&quot;demo-palette-heading demo-palette-color--500 demo-palette--dark-text&quot;&gt;
          &lt;div class=&quot;demo-palette-name&quot;&gt;Orange&lt;&#x2F;div&gt;
          500
        &lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--50 demo-palette--dark-text&quot;&gt;50&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--100 demo-palette--dark-text&quot;&gt;100&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--200 demo-palette--dark-text&quot;&gt;200&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--300 demo-palette--dark-text&quot;&gt;300&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--400 demo-palette--dark-text&quot;&gt;400&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--500 demo-palette--dark-text&quot;&gt;500&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--600 demo-palette--dark-text&quot;&gt;600&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--700 demo-palette--dark-text&quot;&gt;700&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--800&quot;&gt;800&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--900&quot;&gt;900&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--A100 demo-palette--dark-text&quot;&gt;A100&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--A200 demo-palette--dark-text&quot;&gt;A200&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--A400 demo-palette--dark-text&quot;&gt;A400&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--A700 demo-palette--dark-text&quot;&gt;A700&lt;&#x2F;div&gt;
      &lt;&#x2F;div&gt;
      &lt;div class=&quot;demo-palette demo-palette--deep-orange&quot;&gt;
        &lt;div class=&quot;demo-palette-heading demo-palette-color--500&quot;&gt;
          &lt;div class=&quot;demo-palette-name&quot;&gt;Deep Orange&lt;&#x2F;div&gt;
          500
        &lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--50 demo-palette--dark-text&quot;&gt;50&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--100 demo-palette--dark-text&quot;&gt;100&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--200 demo-palette--dark-text&quot;&gt;200&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--300 demo-palette--dark-text&quot;&gt;300&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--400 demo-palette--dark-text&quot;&gt;400&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--500&quot;&gt;500&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--600&quot;&gt;600&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--700&quot;&gt;700&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--800&quot;&gt;800&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--900&quot;&gt;900&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--A100 demo-palette--dark-text&quot;&gt;A100&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--A200 demo-palette--dark-text&quot;&gt;A200&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--A400&quot;&gt;A400&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--A700&quot;&gt;A700&lt;&#x2F;div&gt;
      &lt;&#x2F;div&gt;
      &lt;div class=&quot;demo-palette demo-palette--brown&quot;&gt;
        &lt;div class=&quot;demo-palette-heading demo-palette-color--500&quot;&gt;
          &lt;div class=&quot;demo-palette-name&quot;&gt;Brown&lt;&#x2F;div&gt;
          500
        &lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--50 demo-palette--dark-text&quot;&gt;50&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--100 demo-palette--dark-text&quot;&gt;100&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--200 demo-palette--dark-text&quot;&gt;200&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--300&quot;&gt;300&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--400&quot;&gt;400&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--500&quot;&gt;500&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--600&quot;&gt;600&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--700&quot;&gt;700&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--800&quot;&gt;800&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--900&quot;&gt;900&lt;&#x2F;div&gt;
      &lt;&#x2F;div&gt;
      &lt;div class=&quot;demo-palette demo-palette--grey&quot;&gt;
        &lt;div class=&quot;demo-palette-heading demo-palette-color--500 demo-palette--dark-text&quot;&gt;
          &lt;div class=&quot;demo-palette-name&quot;&gt;Grey&lt;&#x2F;div&gt;
          500
        &lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--50 demo-palette--dark-text&quot;&gt;50&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--100 demo-palette--dark-text&quot;&gt;100&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--200 demo-palette--dark-text&quot;&gt;200&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--300 demo-palette--dark-text&quot;&gt;300&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--400 demo-palette--dark-text&quot;&gt;400&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--500 demo-palette--dark-text&quot;&gt;500&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--600&quot;&gt;600&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--700&quot;&gt;700&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--800&quot;&gt;800&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--900&quot;&gt;900&lt;&#x2F;div&gt;
      &lt;&#x2F;div&gt;
      &lt;div class=&quot;demo-palette demo-palette--blue-grey&quot;&gt;
        &lt;div class=&quot;demo-palette-heading demo-palette-color--500&quot;&gt;
          &lt;div class=&quot;demo-palette-name&quot;&gt;Blue Grey&lt;&#x2F;div&gt;
          500
        &lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--50 demo-palette--dark-text&quot;&gt;50&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--100 demo-palette--dark-text&quot;&gt;100&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--200 demo-palette--dark-text&quot;&gt;200&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--300 demo-palette--dark-text&quot;&gt;300&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--400&quot;&gt;400&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--500&quot;&gt;500&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--600&quot;&gt;600&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--700&quot;&gt;700&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--800&quot;&gt;800&lt;&#x2F;div&gt;
        &lt;div class=&quot;demo-palette-color demo-palette-color--900&quot;&gt;900&lt;&#x2F;div&gt;
      &lt;&#x2F;div&gt;
      &lt;div class=&quot;demo-palette demo-palette--black&quot;&gt;
        &lt;div class=&quot;demo-palette-headline demo-palette-single demo-palette-color&quot;&gt;
          &lt;div class=&quot;demo-palette-name&quot;&gt;Black&lt;&#x2F;div&gt;
        &lt;&#x2F;div&gt;
      &lt;&#x2F;div&gt;
      &lt;div class=&quot;demo-palette demo-palette--white&quot;&gt;
        &lt;div class=&quot;demo-palette-headline demo-palette-single demo-palette-color demo-palette--dark-text&quot;&gt;
          &lt;div class=&quot;demo-palette-name&quot;&gt;White&lt;&#x2F;div&gt;
        &lt;&#x2F;div&gt;
      &lt;&#x2F;div&gt;
    &lt;&#x2F;div&gt;
</pre>
                </div>
                <!-- CSS-Tab -->
                <div class="mdl-tabs__panel" id="css">
<h4>palette</h4>
<p>...will be here soon</p>
                </div>
            </div>
        </div>
    </div>
</div>