<div class="mdl-accordion-group mdl-js-accordion mdl-js-ripple-effect usage usage-radio">
    <!-- Panel 1 -->
    <div class="mdl-accordion">
        <input type="checkbox" name="mdl-accordion" id="usage-1-check">
        <label class="mdl-accordion__label mdl-color--200" for="usage-1-check">
            <span class="mdl-icon mdl-icon--remove-red-eye" title="mdl-icon--remove-red-eye"></span>
            Basic Usage
            <span class="mdl-icon mdl-icon--chevron-right indicator"></span>
        </label>
        <div class="mdl-accordion--content">
            <i class="fa fa-eye"></i>
            <i class="fa fa-chevron-right indicator"></i>
            <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
                <!-- TabBar -->
                <div class="mdl-tabs__tab-bar">
                    <a href="#dart" class="mdl-tabs__tab is-active">Dart</a>
                    <a href="#html" class="mdl-tabs__tab">HTML</a>
                    <a href="#css" class="mdl-tabs__tab">README</a>
                </div>
                <!-- Dart-Tab -->
                <div class="mdl-tabs__panel is-active" id="dart">
                <pre class="prettyprint linenums lang-dart">
import &#x27;package:mdl&#x2F;mdl.dart&#x27;;
main() {
    registerAllMdlComponents();
    upgradeAllRegistered().then((_) {
        MaterialRadio.widget(dom.querySelector(&quot;#wifi2&quot;)).disable();
    });
}
                </pre>
                </div>
                <!-- HTML-Tab -->
                <div class="mdl-tabs__panel" id="html">
                <pre class="prettyprint linenums lang-html">

  &lt;p&gt;A radio button can either be a primary action or a secondary action.&lt;&#x2F;p&gt;
  &lt;section class=&quot;demo-preview-block&quot;&gt;
    &lt;label class=&quot;mdl-radio mdl-js-radio mdl-js-ripple-effect&quot; for=&quot;wifi1&quot;&gt;
      &lt;input type=&quot;radio&quot; id=&quot;wifi1&quot; class=&quot;mdl-radio__button&quot; name=&quot;wifi[]&quot; value=&quot;1&quot; checked &#x2F;&gt;
      &lt;span class=&quot;mdl-radio__label&quot;&gt;Always&lt;&#x2F;span&gt;
    &lt;&#x2F;label&gt;
    &lt;label class=&quot;mdl-radio mdl-js-radio mdl-js-ripple-effect&quot; for=&quot;wifi2&quot;&gt;
      &lt;input type=&quot;radio&quot; id=&quot;wifi2&quot; class=&quot;mdl-radio__button&quot; name=&quot;wifi[]&quot; value=&quot;2&quot; &#x2F;&gt;
      &lt;span class=&quot;mdl-radio__label&quot;&gt;Only when plugged in&lt;&#x2F;span&gt;
    &lt;&#x2F;label&gt;
    &lt;label class=&quot;mdl-radio mdl-js-radio mdl-js-ripple-effect&quot; for=&quot;wifi3&quot;&gt;
      &lt;input type=&quot;radio&quot; id=&quot;wifi3&quot; class=&quot;mdl-radio__button&quot; name=&quot;wifi[]&quot; value=&quot;3&quot; &#x2F;&gt;
      &lt;span class=&quot;mdl-radio__label&quot;&gt;Never&lt;&#x2F;span&gt;
    &lt;&#x2F;label&gt;
    &lt;label class=&quot;mdl-radio mdl-js-radio mdl-js-ripple-effect&quot; for=&quot;wifi4&quot;&gt;
      &lt;input type=&quot;radio&quot; id=&quot;wifi4&quot; class=&quot;mdl-radio__button&quot; name=&quot;wifi[]&quot; value=&quot;3&quot; disabled &#x2F;&gt;
      &lt;span class=&quot;mdl-radio__label&quot;&gt;Unavailable option&lt;&#x2F;span&gt;
    &lt;&#x2F;label&gt;
          &lt;!-- build:js(app&#x2F;styleguide&#x2F;radio&#x2F;) ..&#x2F;..&#x2F;scripts&#x2F;main.min.js --&gt;
                    &lt;!-- endbuild --&gt;
  
&lt;&#x2F;section&gt;
                </pre>
                </div>
                <!-- CSS-Tab -->
                <div class="mdl-tabs__panel" id="css">
Here to come...
                </div>
            </div>
        </div>
    </div>
</div>