<div class="mdl-accordion-group mdl-js-accordion mdl-js-ripple-effect usage usage-spinner">
    <!-- Panel 1 -->
    <div class="mdl-accordion">
        <input type="checkbox" name="mdl-accordion" id="usage-1-check">
        <label class="mdl-accordion__label mdl-color--200" for="usage-1-check">
            <span class="mdl-icon mdl-icon--remove-red-eye" title="mdl-icon--remove-red-eye"></span>
            Basic Usage
            <span class="mdl-icon mdl-icon--chevron-right indicator"></span>
        </label>
        <div class="mdl-accordion--content">
            <i class="fa fa-eye"></i>
            <i class="fa fa-chevron-right indicator"></i>
            <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
                <!-- TabBar -->
                <div class="mdl-tabs__tab-bar">
                    <a href="#dart" class="mdl-tabs__tab is-active">Dart</a>
                    <a href="#html" class="mdl-tabs__tab">HTML</a>
                    <a href="#css" class="mdl-tabs__tab">README</a>
                </div>
                <!-- Dart-Tab -->
                <div class="mdl-tabs__panel is-active" id="dart">
                <pre class="prettyprint linenums lang-dart">
import &#x27;package:mdl&#x2F;mdl.dart&#x27;;
main() {
    registerAllMdlComponents();
    upgradeAllRegistered().then((_) {
        final MaterialSpinner spinner = MaterialSpinner.widget(dom.querySelector(&quot;#first&quot;));
        final MaterialButton button = MaterialButton.widget(dom.querySelector(&quot;#button&quot;));
        button.onClick.listen((_) {
            spinner.active = !spinner.active;
        });
    });
}
                </pre>
                </div>
                <!-- HTML-Tab -->
                <div class="mdl-tabs__panel" id="html">
                <pre class="prettyprint linenums lang-html">

&lt;div class=&quot;demo-preview-block&quot;&gt;
    &lt;p&gt;
        Default:
        &lt;div id=&quot;first&quot; class=&quot;mdl-spinner mdl-js-spinner is-active&quot;&gt;&lt;&#x2F;div&gt;
    &lt;&#x2F;p&gt;
    &lt;p&gt;
        Single color (uses primary palette):
        &lt;div class=&quot;mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active&quot;&gt;&lt;&#x2F;div&gt;
    &lt;&#x2F;p&gt;
    &lt;h5&gt;Data binding&lt;&#x2F;h5&gt;
    &lt;button class=&quot;mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect&quot; id=&quot;button&quot;&gt;On&#x2F;Off&lt;&#x2F;button&gt;
    &lt;p&gt;Turn first spinner on&#x2F;off&lt;&#x2F;p&gt;
&lt;&#x2F;div&gt;

                </pre>
                </div>
                <!-- CSS-Tab -->
                <div class="mdl-tabs__panel" id="css">
Here to come...
                </div>
            </div>
        </div>
    </div>
</div>