<div class="mdl-accordion-group mdl-js-accordion mdl-js-ripple-effect usage usage-textfield">
    <!-- Panel 1 -->
    <div class="mdl-accordion">
        <input type="checkbox" name="mdl-accordion" id="usage-1-check">
        <label class="mdl-accordion__label mdl-color--200" for="usage-1-check">
            <span class="mdl-icon mdl-icon--remove-red-eye" title="mdl-icon--remove-red-eye"></span>
            Basic Usage
            <span class="mdl-icon mdl-icon--chevron-right indicator"></span>
        </label>
        <div class="mdl-accordion--content">
            <i class="fa fa-eye"></i>
            <i class="fa fa-chevron-right indicator"></i>
            <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
                <!-- TabBar -->
                <div class="mdl-tabs__tab-bar">
                    <a href="#dart" class="mdl-tabs__tab is-active">Dart</a>
                    <a href="#html" class="mdl-tabs__tab">HTML</a>
                    <a href="#css" class="mdl-tabs__tab">README</a>
                </div>
                <!-- Dart-Tab -->
                <div class="mdl-tabs__panel is-active" id="dart">
                <pre class="prettyprint linenums lang-dart">
import &#x27;package:mdl&#x2F;mdl.dart&#x27;;
main() {
    registerAllMdlComponents();
    upgradeAllRegistered().then((_) {
    });
}
                </pre>
                </div>
                <!-- HTML-Tab -->
                <div class="mdl-tabs__panel" id="html">
                <pre class="prettyprint linenums lang-html">

  &lt;div class=&quot;demo-preview-block&quot;&gt;
    &lt;form action=&quot;#&quot;&gt;
      &lt;div class=&quot;mdl-textfield mdl-js-textfield&quot;&gt;
        &lt;input class=&quot;mdl-textfield__input&quot; type=&quot;text&quot; id=&quot;sample1&quot; &#x2F;&gt;
        &lt;label class=&quot;mdl-textfield__label&quot; for=&quot;sample1&quot;&gt;Type Something...&lt;&#x2F;label&gt;
      &lt;&#x2F;div&gt;
      &lt;div class=&quot;mdl-textfield mdl-js-textfield&quot;&gt;
        &lt;input class=&quot;mdl-textfield__input&quot; type=&quot;text&quot; pattern=&quot;[0-9]*&quot; id=&quot;sample2&quot; &#x2F;&gt;
        &lt;label class=&quot;mdl-textfield__label&quot; for=&quot;sample2&quot;&gt;Numbers Only&lt;&#x2F;label&gt;
        &lt;span class=&quot;mdl-textfield__error&quot;&gt;Input is not a number!&lt;&#x2F;span&gt;
      &lt;&#x2F;div&gt;
      &lt;div class=&quot;mdl-textfield mdl-js-textfield&quot;&gt;
        &lt;input class=&quot;mdl-textfield__input&quot; type=&quot;text&quot; disabled id=&quot;sample3&quot; &#x2F;&gt;
        &lt;label class=&quot;mdl-textfield__label&quot; for=&quot;sample3&quot;&gt;I&#x27;m Disabled&lt;&#x2F;label&gt;
      &lt;&#x2F;div&gt;
      &lt;div class=&quot;mdl-textfield mdl-js-textfield mdl-textfield--floating-label&quot;&gt;
        &lt;input class=&quot;mdl-textfield__input&quot; type=&quot;text&quot; id=&quot;sample4&quot; &#x2F;&gt;
        &lt;label class=&quot;mdl-textfield__label&quot; for=&quot;sample4&quot;&gt;Text Input&lt;&#x2F;label&gt;
      &lt;&#x2F;div&gt;
      &lt;div class=&quot;mdl-textfield mdl-js-textfield mdl-textfield--floating-label&quot;&gt;
        &lt;input class=&quot;mdl-textfield__input&quot; type=&quot;text&quot; pattern=&quot;[0-9]*&quot; id=&quot;sample5&quot; &#x2F;&gt;
        &lt;label class=&quot;mdl-textfield__label&quot; for=&quot;sample5&quot;&gt;Numbers Only&lt;&#x2F;label&gt;
        &lt;span class=&quot;mdl-textfield__error&quot;&gt;Input is not a number!&lt;&#x2F;span&gt;
      &lt;&#x2F;div&gt;
      &lt;div class=&quot;mdl-textfield mdl-js-textfield&quot;&gt;
        &lt;textarea class=&quot;mdl-textfield__input&quot; type=&quot;text&quot; rows= &quot;1&quot; id=&quot;sample6&quot; &gt;&lt;&#x2F;textarea&gt;
        &lt;label class=&quot;mdl-textfield__label&quot; for=&quot;sample6&quot;&gt;Type multiple lines here...&lt;&#x2F;label&gt;
      &lt;&#x2F;div&gt;
      &lt;div class=&quot;mdl-textfield mdl-js-textfield&quot;&gt;
        &lt;textarea class=&quot;mdl-textfield__input&quot; type=&quot;text&quot; rows=&quot;3&quot; id=&quot;sample7&quot; &gt;&lt;&#x2F;textarea&gt;
        &lt;label class=&quot;mdl-textfield__label&quot; for=&quot;sample7&quot;&gt;This input is 3 rows high&lt;&#x2F;label&gt;
      &lt;&#x2F;div&gt;
      &lt;div class=&quot;mdl-textfield mdl-js-textfield&quot;&gt;
        &lt;textarea class=&quot;mdl-textfield__input&quot; type=&quot;text&quot; maxrows=&quot;3&quot; rows=&quot;1&quot; id=&quot;sample8&quot; &gt;&lt;&#x2F;textarea&gt;
        &lt;label class=&quot;mdl-textfield__label&quot; for=&quot;sample8&quot;&gt;This input is at most 3 rows high&lt;&#x2F;label&gt;
      &lt;&#x2F;div&gt;
      &lt;div class=&quot;mdl-textfield mdl-js-textfield mdl-textfield--floating-label&quot;&gt;
        &lt;textarea class=&quot;mdl-textfield__input&quot; type=&quot;text&quot; rows=&quot;1&quot; id=&quot;sample9&quot; &gt;&lt;&#x2F;textarea&gt;
        &lt;label class=&quot;mdl-textfield__label&quot; for=&quot;sample9&quot;&gt;Multiple lines and a floating label&lt;&#x2F;label&gt;
      &lt;&#x2F;div&gt;
      &lt;div class=&quot;mdl-textfield mdl-js-textfield mdl-textfield--expandable&quot;&gt;
        &lt;label class=&quot;mdl-button mdl-js-button mdl-button--icon&quot; for=&quot;sample-expandable&quot;&gt;
          &lt;span class=&quot;mdl-icon mdl-icon--search&quot;&#x2F;&gt;
        &lt;&#x2F;label&gt;
        &lt;div class=&quot;mdl-textfield__expandable-holder&quot;&gt;
          &lt;input class=&quot;mdl-textfield__input&quot; type=&quot;text&quot; id=&quot;sample-expandable&quot; &#x2F;&gt;
          &lt;label class=&quot;mdl-textfield__label&quot; for=&quot;sample-expandable&quot;&gt;Expandable Input&lt;&#x2F;label&gt;
        &lt;&#x2F;div&gt;
      &lt;&#x2F;div&gt;
      &lt;div class=&quot;mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label&quot;&gt;
        &lt;label class=&quot;mdl-button mdl-js-button mdl-button--icon&quot; for=&quot;sample-expandable-floating&quot;&gt;
          &lt;span class=&quot;mdl-icon mdl-icon--search&quot;&#x2F;&gt;
        &lt;&#x2F;label&gt;
        &lt;div class=&quot;mdl-textfield__expandable-holder&quot;&gt;
          &lt;input class=&quot;mdl-textfield__input&quot; type=&quot;text&quot; id=&quot;sample-expandable-floating&quot; &#x2F;&gt;
          &lt;label class=&quot;mdl-textfield__label&quot; for=&quot;sample-expandable-floating&quot;&gt;Expandable &amp;amp; Floating Input&lt;&#x2F;label&gt;
        &lt;&#x2F;div&gt;
      &lt;&#x2F;div&gt;
      &lt;div class=&quot;mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label mdl-textfield--align-right mdl-textfield--full-width&quot;&gt;
        Right&#x2F;No Label:
        &lt;label class=&quot;mdl-button mdl-js-button mdl-button--icon&quot; for=&quot;sample-expclean&quot;&gt;
          &lt;span class=&quot;mdl-icon mdl-icon--search&quot;&#x2F;&gt;
        &lt;&#x2F;label&gt;
        &lt;div class=&quot;mdl-textfield__expandable-holder&quot;&gt;
          &lt;input class=&quot;mdl-textfield__input&quot; type=&quot;text&quot; name=&quot;sample&quot; id=&quot;sample-expclean&quot; &#x2F;&gt;
        &lt;&#x2F;div&gt;
      &lt;&#x2F;div&gt;
    &lt;&#x2F;form&gt;
  &lt;&#x2F;div&gt;
  &lt;!-- build:js(app&#x2F;styleguide&#x2F;textfield&#x2F;) ..&#x2F;..&#x2F;scripts&#x2F;main.min.js --&gt;
            &lt;!-- endbuild --&gt;
  

                </pre>
                </div>
                <!-- CSS-Tab -->
                <div class="mdl-tabs__panel" id="css">
Here to come...
                </div>
            </div>
        </div>
    </div>
</div>