<section class="demo-section demo-section--button">    
    
      <div class="demo-preview-block">
    
        <div class="demo-button">Flat: <button class="mdl-button mdl-js-button">Flat</button></div>
        <div class="demo-button">Raised: <button class="mdl-button mdl-js-button mdl-button--raised">Raised</button></div>
        <div class="demo-button">FAB: <button class="mdl-button mdl-js-button mdl-button--fab"><span class="mdl-icon mdl-icon--add"/></button></div>
        <div class="demo-button">Icon: <button class="mdl-button mdl-js-button mdl-button--icon"><span class="mdl-icon mdl-icon--create"/></button></div>
    
        <h2>With Ripples</h2>
    
        <div class="demo-button">Flat: <button class="mdl-button mdl-js-button mdl-js-ripple-effect">Flat</button></div>
        <div class="demo-button">Raised: <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Raised</button></div>
        <div class="demo-button">FAB: <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect"><span class="mdl-icon mdl-icon--add"/></button></div>
        <div class="demo-button">Icon: <button class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect"><span class="mdl-icon mdl-icon--create"/></button></div>
    
        <h2>.mdl-button--colored</h2>
    
        <div class="demo-button">Flat: <button class="mdl-button mdl-js-button mdl-button--colored">Flat</button></div>
        <div class="demo-button">Raised: <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">Raised</button></div>
        <div class="demo-button">FAB: <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored"><span class="mdl-icon mdl-icon--add"/></button></div>
    
        <h2>With Ripples</h2>
    
        <div class="demo-button">Flat: <button class="mdl-button mdl-js-button mdl-button--colored mdl-js-ripple-effect">Flat</button></div>
        <div class="demo-button">Raised: <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">Raised</button></div>
        <div class="demo-button">FAB: <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored mdl-js-ripple-effect"><span class="mdl-icon mdl-icon--add"/></button></div>
    
        <h2>.mdl-button--mini-fab</h2>
    
        <div class="demo-button"><button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored mdl-button--mini-fab mdl-js-ripple-effect"><span class="mdl-icon mdl-icon--add"/></button></div>
    
        <h2>Disabled</h2>
    
        <div class="demo-button">Flat: <button class="mdl-button mdl-js-button mdl-js-ripple-effect" disabled>Flat</button></div>
        <div class="demo-button">Raised: <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" disabled>Raised</button></div>
        <div class="demo-button">FAB: <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect" disabled><span class="mdl-icon mdl-icon--add"/></button></div>
        <div class="demo-button">Icon: <button class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect" disabled><span class="mdl-icon mdl-icon--add"/></button></div>
      </div>
        <!-- build:js(app/styleguide/button/) ../../scripts/main.min.js -->
                        <!-- endbuild -->
      
</section>