<section class="demo-section demo-section--class demo-page--class">
    <div id="usage" class="mdl-include mdl-js-include" data-url="views/usage/class.html">
        Loading...
    </div>
    <div class="demo-preview-block">
        <div class="testtext" mdl-class="checkBorder : 'withborder'">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
            dolore magna aliquyam erat, sed diam voluptua.
        </div>
        <div class="switches">
            <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-border">
                <input type="checkbox" id="switch-border" class="mdl-switch__input" mdl-model="checkBorder"/>
                <span class="mdl-switch__label">Turn 'border' on/off</span>
            </label>
        </div>
    </div>
</section>