<section class="demo-section demo-section--column-layout">    
        <div class="mdl-column-layout">
          <div class="mdl-column-layout__child">Each child</div>
          <div class="mdl-column-layout__child">gets to be</div>
          <div class="mdl-column-layout__child">an independent entity</div>
          <div class="mdl-column-layout__child">to be placed in columns,</div>
          <div class="mdl-column-layout__child">automatically.</div>
        </div>
        <!-- build:js(app/styleguide/column-layout/) ../../scripts/main.min.js -->
                <!-- endbuild -->
      
</section>