<section class="demo-section demo-section--dialog demo-page--dialog">
    <div id="usage" class="mdl-include mdl-js-include" data-url="views/usage/dialog.html">
        Loading...
    </div>
    <div class="demo-preview-block">
        <div class="demo-button">
            <button id="alertdialog"
                    class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">Alert
                dialog
            </button>
            <button id="confirmdialog"
                    class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">Confirm
                dialog
            </button>
            <button id="customdialog1"
                    class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">Custom
                dialog I
            </button>
            <button id="customdialog2"
                    class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">Custom
                dialog II
            </button>
        </div>
    </div>
</section>