<section class="demo-section demo-section--panel">    
    
        <div class="demo-preview-block">
    
          <div class="wsk-panel">Simple panel</div>
    
          <div class="wsk-panel wsk-panel--shadow">With shadow</div>
    
          <div class="wsk-panel wsk-panel--light wsk-panel--light-text">Light panel, light text</div>
    
          <div class="wsk-panel wsk-panel--lighter">Lighter panel</div>
    
          <div class="wsk-panel wsk-panel--dark">Dark panel</div>
    
          <div class="wsk-panel wsk-panel--dark wsk-panel--light-text">Dark panel, light text</div>
    
          <div class="wsk-panel wsk-panel--darker wsk-panel--light-text">Darker panel, light text</div>
    
          <div class="wsk-panel wsk-panel--darker wsk-panel--light-text wsk-panel--shadow">Darker panel, light text + shadow</div>
    
          <div class="wsk-panel wsk-panel--accent wsk-panel--light-text">Accent panel, light text</div>
    
          <div class="wsk-panel wsk-panel--accent wsk-panel--light-text wsk-panel--shadow">Accent panel, light text + shadow</div>
    
          <div class="wsk-panel wsk-panel--with-heading wsk-panel--dark wsk-panel--light-text">
              <div class="wsk-panel__heading">Panel heading</div>
              <div class="wsk-panel__content">Panel content</div>
          </div>
    
          <div class="wsk-panel wsk-panel--with-heading wsk-panel--accent wsk-panel--light-text wsk-panel--shadow">
              <div class="wsk-panel__heading">Panel heading</div>
              <div class="wsk-panel__content">Panel content + shadow</div>
          </div>
    
      </div>
      
</section>