<section class="demo-section demo-section--progress">    
    
    <div class="demo-preview-block">
    
        <p>
            Default:
        <div id="p1" class="mdl-js-progress"></div>
        </p>
    
        <p>
            Indeterminate:
        <div id="p2" class="mdl-js-progress mdl-progress__indeterminate"></div>
        </p>
    
        <p>
            Buffering:
        <div id="p3" class="mdl-js-progress"></div>
        </p>
        <p>
            Slider:
            <input id="slider" type="range" min="0" max="100" value="0" step="1"/>
        </p>
    </div>
    
</section>