<section class="demo-section demo-section--samples">
    <h4>Standalone samples</h4>
    <div class="mdl-list--styled-view"><ul>
        <li>
            <a href="http://mdl.samples.mikemitterer.at/mdlx_accordion/index.html" target="_blank" class="mdl-color-text--700">
                <span class="mdl-list-view--avatar mdl-color--200">
                    <i class="mdl-icon material-icons">extension</i>
                </span>
                <span class="mdl-list-view--name">
                    accordion
                </span>
            </a> |
            <a href="https://github.com/MikeMitterer/dart-material-design-lite/tree/mdl/example/mdlx_accordion/web"
               class="mdl-color-text--400 github" target="_blank">
              Source on GitHub
            </a>
        </li>
        <li>
            <a href="http://mdl.samples.mikemitterer.at/mdl_animation/index.html" target="_blank" class="mdl-color-text--700">
                <span class="mdl-list-view--avatar mdl-color--200">
                    <i class="mdl-icon material-icons">extension</i>
                </span>
                <span class="mdl-list-view--name">
                    animation
                </span>
            </a> |
            <a href="https://github.com/MikeMitterer/dart-material-design-lite/tree/mdl/example/mdl_animation/web"
               class="mdl-color-text--400 github" target="_blank">
              Source on GitHub
            </a>
        </li>
        <li>
            <a href="http://mdl.samples.mikemitterer.at/mdl_badge/index.html" target="_blank" class="mdl-color-text--700">
                <span class="mdl-list-view--avatar mdl-color--200">
                    <i class="mdl-icon material-icons">extension</i>
                </span>
                <span class="mdl-list-view--name">
                    badge
                </span>
            </a> |
            <a href="https://github.com/MikeMitterer/dart-material-design-lite/tree/mdl/example/mdl_badge/web"
               class="mdl-color-text--400 github" target="_blank">
              Source on GitHub
            </a>
        </li>
        <li>
            <a href="http://mdl.samples.mikemitterer.at/mdl_button/index.html" target="_blank" class="mdl-color-text--700">
                <span class="mdl-list-view--avatar mdl-color--200">
                    <i class="mdl-icon material-icons">extension</i>
                </span>
                <span class="mdl-list-view--name">
                    button
                </span>
            </a> |
            <a href="https://github.com/MikeMitterer/dart-material-design-lite/tree/mdl/example/mdl_button/web"
               class="mdl-color-text--400 github" target="_blank">
              Source on GitHub
            </a>
        </li>
        <li>
            <a href="http://mdl.samples.mikemitterer.at/mdl_card/index.html" target="_blank" class="mdl-color-text--700">
                <span class="mdl-list-view--avatar mdl-color--200">
                    <i class="mdl-icon material-icons">extension</i>
                </span>
                <span class="mdl-list-view--name">
                    card
                </span>
            </a> |
            <a href="https://github.com/MikeMitterer/dart-material-design-lite/tree/mdl/example/mdl_card/web"
               class="mdl-color-text--400 github" target="_blank">
              Source on GitHub
            </a>
        </li>
        <li>
            <a href="http://mdl.samples.mikemitterer.at/mdl_checkbox/index.html" target="_blank" class="mdl-color-text--700">
                <span class="mdl-list-view--avatar mdl-color--200">
                    <i class="mdl-icon material-icons">extension</i>
                </span>
                <span class="mdl-list-view--name">
                    checkbox
                </span>
            </a> |
            <a href="https://github.com/MikeMitterer/dart-material-design-lite/tree/mdl/example/mdl_checkbox/web"
               class="mdl-color-text--400 github" target="_blank">
              Source on GitHub
            </a>
        </li>
        <li>
            <a href="http://mdl.samples.mikemitterer.at/spa_content/index.html" target="_blank" class="mdl-color-text--700">
                <span class="mdl-list-view--avatar mdl-color--200">
                    <i class="mdl-icon material-icons">extension</i>
                </span>
                <span class="mdl-list-view--name">
                    content
                </span>
            </a> |
            <a href="https://github.com/MikeMitterer/dart-material-design-lite/tree/mdl/example/spa_content/web"
               class="mdl-color-text--400 github" target="_blank">
              Source on GitHub
            </a>
        </li>
        <li>
            <a href="http://mdl.samples.mikemitterer.at/mdl_data-table/index.html" target="_blank" class="mdl-color-text--700">
                <span class="mdl-list-view--avatar mdl-color--200">
                    <i class="mdl-icon material-icons">extension</i>
                </span>
                <span class="mdl-list-view--name">
                    data-table
                </span>
            </a> |
            <a href="https://github.com/MikeMitterer/dart-material-design-lite/tree/mdl/example/mdl_data-table/web"
               class="mdl-color-text--400 github" target="_blank">
              Source on GitHub
            </a>
        </li>
        <li>
            <a href="http://mdl.samples.mikemitterer.at/mdlx_dialog/index.html" target="_blank" class="mdl-color-text--700">
                <span class="mdl-list-view--avatar mdl-color--200">
                    <i class="mdl-icon material-icons">extension</i>
                </span>
                <span class="mdl-list-view--name">
                    dialog
                </span>
            </a> |
            <a href="https://github.com/MikeMitterer/dart-material-design-lite/tree/mdl/example/mdlx_dialog/web"
               class="mdl-color-text--400 github" target="_blank">
              Source on GitHub
            </a>
        </li>
        <li>
            <a href="http://mdl.samples.mikemitterer.at/mdl_footer/index.html" target="_blank" class="mdl-color-text--700">
                <span class="mdl-list-view--avatar mdl-color--200">
                    <i class="mdl-icon material-icons">extension</i>
                </span>
                <span class="mdl-list-view--name">
                    footer
                </span>
            </a> |
            <a href="https://github.com/MikeMitterer/dart-material-design-lite/tree/mdl/example/mdl_footer/web"
               class="mdl-color-text--400 github" target="_blank">
              Source on GitHub
            </a>
        </li>
        <li>
            <a href="http://mdl.samples.mikemitterer.at/mdlx_forms/index.html" target="_blank" class="mdl-color-text--700">
                <span class="mdl-list-view--avatar mdl-color--200">
                    <i class="mdl-icon material-icons">extension</i>
                </span>
                <span class="mdl-list-view--name">
                    forms
                </span>
            </a> |
            <a href="https://github.com/MikeMitterer/dart-material-design-lite/tree/mdl/example/mdlx_forms/web"
               class="mdl-color-text--400 github" target="_blank">
              Source on GitHub
            </a>
        </li>
        <li>
            <a href="http://mdl.samples.mikemitterer.at/mdl_grid/index.html" target="_blank" class="mdl-color-text--700">
                <span class="mdl-list-view--avatar mdl-color--200">
                    <i class="mdl-icon material-icons">extension</i>
                </span>
                <span class="mdl-list-view--name">
                    grid
                </span>
            </a> |
            <a href="https://github.com/MikeMitterer/dart-material-design-lite/tree/mdl/example/mdl_grid/web"
               class="mdl-color-text--400 github" target="_blank">
              Source on GitHub
            </a>
        </li>
        <li>
            <a href="http://mdl.samples.mikemitterer.at/mdl_icon-toggle/index.html" target="_blank" class="mdl-color-text--700">
                <span class="mdl-list-view--avatar mdl-color--200">
                    <i class="mdl-icon material-icons">extension</i>
                </span>
                <span class="mdl-list-view--name">
                    icon-toggle
                </span>
            </a> |
            <a href="https://github.com/MikeMitterer/dart-material-design-lite/tree/mdl/example/mdl_icon-toggle/web"
               class="mdl-color-text--400 github" target="_blank">
              Source on GitHub
            </a>
        </li>
        <li>
            <a href="http://mdl.samples.mikemitterer.at/mdlo_icons/index.html" target="_blank" class="mdl-color-text--700">
                <span class="mdl-list-view--avatar mdl-color--200">
                    <i class="mdl-icon material-icons">extension</i>
                </span>
                <span class="mdl-list-view--name">
                    icons
                </span>
            </a> |
            <a href="https://github.com/MikeMitterer/dart-material-design-lite/tree/mdl/example/mdlo_icons/web"
               class="mdl-color-text--400 github" target="_blank">
              Source on GitHub
            </a>
        </li>
        <li>
            <a href="http://mdl.samples.mikemitterer.at/spa_include/index.html" target="_blank" class="mdl-color-text--700">
                <span class="mdl-list-view--avatar mdl-color--200">
                    <i class="mdl-icon material-icons">extension</i>
                </span>
                <span class="mdl-list-view--name">
                    include
                </span>
            </a> |
            <a href="https://github.com/MikeMitterer/dart-material-design-lite/tree/mdl/example/spa_include/web"
               class="mdl-color-text--400 github" target="_blank">
              Source on GitHub
            </a>
        </li>
        <li>
            <a href="http://mdl.samples.mikemitterer.at/mdl_layout/index.html" target="_blank" class="mdl-color-text--700">
                <span class="mdl-list-view--avatar mdl-color--200">
                    <i class="mdl-icon material-icons">extension</i>
                </span>
                <span class="mdl-list-view--name">
                    layout
                </span>
            </a> |
            <a href="https://github.com/MikeMitterer/dart-material-design-lite/tree/mdl/example/mdl_layout/web"
               class="mdl-color-text--400 github" target="_blank">
              Source on GitHub
            </a>
        </li>
        <li>
            <a href="http://mdl.samples.mikemitterer.at/mdl_list/index.html" target="_blank" class="mdl-color-text--700">
                <span class="mdl-list-view--avatar mdl-color--200">
                    <i class="mdl-icon material-icons">extension</i>
                </span>
                <span class="mdl-list-view--name">
                    list
                </span>
            </a> |
            <a href="https://github.com/MikeMitterer/dart-material-design-lite/tree/mdl/example/mdl_list/web"
               class="mdl-color-text--400 github" target="_blank">
              Source on GitHub
            </a>
        </li>
        <li>
            <a href="http://mdl.samples.mikemitterer.at/mdl_menu/index.html" target="_blank" class="mdl-color-text--700">
                <span class="mdl-list-view--avatar mdl-color--200">
                    <i class="mdl-icon material-icons">extension</i>
                </span>
                <span class="mdl-list-view--name">
                    menu
                </span>
            </a> |
            <a href="https://github.com/MikeMitterer/dart-material-design-lite/tree/mdl/example/mdl_menu/web"
               class="mdl-color-text--400 github" target="_blank">
              Source on GitHub
            </a>
        </li>
        <li>
            <a href="http://mdl.samples.mikemitterer.at/mdlx_nav-pills/index.html" target="_blank" class="mdl-color-text--700">
                <span class="mdl-list-view--avatar mdl-color--200">
                    <i class="mdl-icon material-icons">extension</i>
                </span>
                <span class="mdl-list-view--name">
                    nav-pills
                </span>
            </a> |
            <a href="https://github.com/MikeMitterer/dart-material-design-lite/tree/mdl/example/mdlx_nav-pills/web"
               class="mdl-color-text--400 github" target="_blank">
              Source on GitHub
            </a>
        </li>
        <li>
            <a href="http://mdl.samples.mikemitterer.at/mdlx_notification/index.html" target="_blank" class="mdl-color-text--700">
                <span class="mdl-list-view--avatar mdl-color--200">
                    <i class="mdl-icon material-icons">extension</i>
                </span>
                <span class="mdl-list-view--name">
                    notification
                </span>
            </a> |
            <a href="https://github.com/MikeMitterer/dart-material-design-lite/tree/mdl/example/mdlx_notification/web"
               class="mdl-color-text--400 github" target="_blank">
              Source on GitHub
            </a>
        </li>
        <li>
            <a href="http://mdl.samples.mikemitterer.at/mdl_palette/index.html" target="_blank" class="mdl-color-text--700">
                <span class="mdl-list-view--avatar mdl-color--200">
                    <i class="mdl-icon material-icons">extension</i>
                </span>
                <span class="mdl-list-view--name">
                    palette
                </span>
            </a> |
            <a href="https://github.com/MikeMitterer/dart-material-design-lite/tree/mdl/example/mdl_palette/web"
               class="mdl-color-text--400 github" target="_blank">
              Source on GitHub
            </a>
        </li>
        <li>
            <a href="http://mdl.samples.mikemitterer.at/mdlx_panel/index.html" target="_blank" class="mdl-color-text--700">
                <span class="mdl-list-view--avatar mdl-color--200">
                    <i class="mdl-icon material-icons">extension</i>
                </span>
                <span class="mdl-list-view--name">
                    panel
                </span>
            </a> |
            <a href="https://github.com/MikeMitterer/dart-material-design-lite/tree/mdl/example/mdlx_panel/web"
               class="mdl-color-text--400 github" target="_blank">
              Source on GitHub
            </a>
        </li>
        <li>
            <a href="http://mdl.samples.mikemitterer.at/mdl_progress/index.html" target="_blank" class="mdl-color-text--700">
                <span class="mdl-list-view--avatar mdl-color--200">
                    <i class="mdl-icon material-icons">extension</i>
                </span>
                <span class="mdl-list-view--name">
                    progress
                </span>
            </a> |
            <a href="https://github.com/MikeMitterer/dart-material-design-lite/tree/mdl/example/mdl_progress/web"
               class="mdl-color-text--400 github" target="_blank">
              Source on GitHub
            </a>
        </li>
        <li>
            <a href="http://mdl.samples.mikemitterer.at/mdl_radio/index.html" target="_blank" class="mdl-color-text--700">
                <span class="mdl-list-view--avatar mdl-color--200">
                    <i class="mdl-icon material-icons">extension</i>
                </span>
                <span class="mdl-list-view--name">
                    radio
                </span>
            </a> |
            <a href="https://github.com/MikeMitterer/dart-material-design-lite/tree/mdl/example/mdl_radio/web"
               class="mdl-color-text--400 github" target="_blank">
              Source on GitHub
            </a>
        </li>
        <li>
            <a href="http://mdl.samples.mikemitterer.at/spa_repeat/index.html" target="_blank" class="mdl-color-text--700">
                <span class="mdl-list-view--avatar mdl-color--200">
                    <i class="mdl-icon material-icons">extension</i>
                </span>
                <span class="mdl-list-view--name">
                    repeat
                </span>
            </a> |
            <a href="https://github.com/MikeMitterer/dart-material-design-lite/tree/mdl/example/spa_repeat/web"
               class="mdl-color-text--400 github" target="_blank">
              Source on GitHub
            </a>
        </li>
        <li>
            <a href="http://mdl.samples.mikemitterer.at/mdl_shadow/index.html" target="_blank" class="mdl-color-text--700">
                <span class="mdl-list-view--avatar mdl-color--200">
                    <i class="mdl-icon material-icons">extension</i>
                </span>
                <span class="mdl-list-view--name">
                    shadow
                </span>
            </a> |
            <a href="https://github.com/MikeMitterer/dart-material-design-lite/tree/mdl/example/mdl_shadow/web"
               class="mdl-color-text--400 github" target="_blank">
              Source on GitHub
            </a>
        </li>
        <li>
            <a href="http://mdl.samples.mikemitterer.at/mdl_slider/index.html" target="_blank" class="mdl-color-text--700">
                <span class="mdl-list-view--avatar mdl-color--200">
                    <i class="mdl-icon material-icons">extension</i>
                </span>
                <span class="mdl-list-view--name">
                    slider
                </span>
            </a> |
            <a href="https://github.com/MikeMitterer/dart-material-design-lite/tree/mdl/example/mdl_slider/web"
               class="mdl-color-text--400 github" target="_blank">
              Source on GitHub
            </a>
        </li>
        <li>
            <a href="http://mdl.samples.mikemitterer.at/mdlx_snackbar/index.html" target="_blank" class="mdl-color-text--700">
                <span class="mdl-list-view--avatar mdl-color--200">
                    <i class="mdl-icon material-icons">extension</i>
                </span>
                <span class="mdl-list-view--name">
                    snackbar
                </span>
            </a> |
            <a href="https://github.com/MikeMitterer/dart-material-design-lite/tree/mdl/example/mdlx_snackbar/web"
               class="mdl-color-text--400 github" target="_blank">
              Source on GitHub
            </a>
        </li>
        <li>
            <a href="http://mdl.samples.mikemitterer.at/mdl_spinner/index.html" target="_blank" class="mdl-color-text--700">
                <span class="mdl-list-view--avatar mdl-color--200">
                    <i class="mdl-icon material-icons">extension</i>
                </span>
                <span class="mdl-list-view--name">
                    spinner
                </span>
            </a> |
            <a href="https://github.com/MikeMitterer/dart-material-design-lite/tree/mdl/example/mdl_spinner/web"
               class="mdl-color-text--400 github" target="_blank">
              Source on GitHub
            </a>
        </li>
        <li>
            <a href="http://mdl.samples.mikemitterer.at/styleguide/index.html" target="_blank" class="mdl-color-text--700">
                <span class="mdl-list-view--avatar mdl-color--200">
                    <i class="mdl-icon material-icons">extension</i>
                </span>
                <span class="mdl-list-view--name">
                    styleguide
                </span>
            </a> |
            <a href="https://github.com/MikeMitterer/dart-material-design-lite/tree/mdl/example/styleguide/web"
               class="mdl-color-text--400 github" target="_blank">
              Source on GitHub
            </a>
        </li>
        <li>
            <a href="http://mdl.samples.mikemitterer.at/mdl_switch/index.html" target="_blank" class="mdl-color-text--700">
                <span class="mdl-list-view--avatar mdl-color--200">
                    <i class="mdl-icon material-icons">extension</i>
                </span>
                <span class="mdl-list-view--name">
                    switch
                </span>
            </a> |
            <a href="https://github.com/MikeMitterer/dart-material-design-lite/tree/mdl/example/mdl_switch/web"
               class="mdl-color-text--400 github" target="_blank">
              Source on GitHub
            </a>
        </li>
        <li>
            <a href="http://mdl.samples.mikemitterer.at/mdl_tabs/index.html" target="_blank" class="mdl-color-text--700">
                <span class="mdl-list-view--avatar mdl-color--200">
                    <i class="mdl-icon material-icons">extension</i>
                </span>
                <span class="mdl-list-view--name">
                    tabs
                </span>
            </a> |
            <a href="https://github.com/MikeMitterer/dart-material-design-lite/tree/mdl/example/mdl_tabs/web"
               class="mdl-color-text--400 github" target="_blank">
              Source on GitHub
            </a>
        </li>
        <li>
            <a href="http://mdl.samples.mikemitterer.at/mdl_textfield/index.html" target="_blank" class="mdl-color-text--700">
                <span class="mdl-list-view--avatar mdl-color--200">
                    <i class="mdl-icon material-icons">extension</i>
                </span>
                <span class="mdl-list-view--name">
                    textfield
                </span>
            </a> |
            <a href="https://github.com/MikeMitterer/dart-material-design-lite/tree/mdl/example/mdl_textfield/web"
               class="mdl-color-text--400 github" target="_blank">
              Source on GitHub
            </a>
        </li>
        <li>
            <a href="http://mdl.samples.mikemitterer.at/mdl_tooltip/index.html" target="_blank" class="mdl-color-text--700">
                <span class="mdl-list-view--avatar mdl-color--200">
                    <i class="mdl-icon material-icons">extension</i>
                </span>
                <span class="mdl-list-view--name">
                    tooltip
                </span>
            </a> |
            <a href="https://github.com/MikeMitterer/dart-material-design-lite/tree/mdl/example/mdl_tooltip/web"
               class="mdl-color-text--400 github" target="_blank">
              Source on GitHub
            </a>
        </li>
        <li>
            <a href="http://mdl.samples.mikemitterer.at/spa_todo/index.html" target="_blank" class="mdl-color-text--700">
                <span class="mdl-list-view--avatar mdl-color--200">
                    <i class="mdl-icon material-icons">extension</i>
                </span>
                <span class="mdl-list-view--name">
                    todo
                </span>
            </a> |
            <a href="https://github.com/MikeMitterer/dart-material-design-lite/tree/mdl/example/spa_todo/web"
               class="mdl-color-text--400 github" target="_blank">
              Source on GitHub
            </a>
        </li>
        <li>
            <a href="http://mdl.samples.mikemitterer.at/mdl_typography/index.html" target="_blank" class="mdl-color-text--700">
                <span class="mdl-list-view--avatar mdl-color--200">
                    <i class="mdl-icon material-icons">extension</i>
                </span>
                <span class="mdl-list-view--name">
                    typography
                </span>
            </a> |
            <a href="https://github.com/MikeMitterer/dart-material-design-lite/tree/mdl/example/mdl_typography/web"
               class="mdl-color-text--400 github" target="_blank">
              Source on GitHub
            </a>
        </li>
    </ul></div>
</section>