<section class="demo-section demo-section--samples">
    <h4>Standalone samples</h4>
    <div class="mdl-list--styled-view"><ul>
        <li>
            <a href="http://mdl.samples.mikemitterer.at/accordion/index.html" target="_blank" class="mdl-color-text--700">
                <span class="mdl-list-view--avatar mdl-icon mdl-icon--extension mdl-color--200"></span>
                <span class="mdl-list-view--name">
                    accordion
                </span>
            </a> |
            <a href="https://github.com/MikeMitterer/dart-material-design-lite/tree/mdl/example/accordion/web" class="mdl-color-text--400 github">
              Source on GitHub
            </a>
        </li>
        <li>
            <a href="http://mdl.samples.mikemitterer.at/animation/index.html" target="_blank" class="mdl-color-text--700">
                <span class="mdl-list-view--avatar mdl-icon mdl-icon--extension mdl-color--200"></span>
                <span class="mdl-list-view--name">
                    animation
                </span>
            </a> |
            <a href="https://github.com/MikeMitterer/dart-material-design-lite/tree/mdl/example/animation/web" class="mdl-color-text--400 github">
              Source on GitHub
            </a>
        </li>
        <li>
            <a href="http://mdl.samples.mikemitterer.at/badge/index.html" target="_blank" class="mdl-color-text--700">
                <span class="mdl-list-view--avatar mdl-icon mdl-icon--extension mdl-color--200"></span>
                <span class="mdl-list-view--name">
                    badge
                </span>
            </a> |
            <a href="https://github.com/MikeMitterer/dart-material-design-lite/tree/mdl/example/badge/web" class="mdl-color-text--400 github">
              Source on GitHub
            </a>
        </li>
        <li>
            <a href="http://mdl.samples.mikemitterer.at/button/index.html" target="_blank" class="mdl-color-text--700">
                <span class="mdl-list-view--avatar mdl-icon mdl-icon--extension mdl-color--200"></span>
                <span class="mdl-list-view--name">
                    button
                </span>
            </a> |
            <a href="https://github.com/MikeMitterer/dart-material-design-lite/tree/mdl/example/button/web" class="mdl-color-text--400 github">
              Source on GitHub
            </a>
        </li>
        <li>
            <a href="http://mdl.samples.mikemitterer.at/card/index.html" target="_blank" class="mdl-color-text--700">
                <span class="mdl-list-view--avatar mdl-icon mdl-icon--extension mdl-color--200"></span>
                <span class="mdl-list-view--name">
                    card
                </span>
            </a> |
            <a href="https://github.com/MikeMitterer/dart-material-design-lite/tree/mdl/example/card/web" class="mdl-color-text--400 github">
              Source on GitHub
            </a>
        </li>
        <li>
            <a href="http://mdl.samples.mikemitterer.at/checkbox/index.html" target="_blank" class="mdl-color-text--700">
                <span class="mdl-list-view--avatar mdl-icon mdl-icon--extension mdl-color--200"></span>
                <span class="mdl-list-view--name">
                    checkbox
                </span>
            </a> |
            <a href="https://github.com/MikeMitterer/dart-material-design-lite/tree/mdl/example/checkbox/web" class="mdl-color-text--400 github">
              Source on GitHub
            </a>
        </li>
        <li>
            <a href="http://mdl.samples.mikemitterer.at/content/index.html" target="_blank" class="mdl-color-text--700">
                <span class="mdl-list-view--avatar mdl-icon mdl-icon--extension mdl-color--200"></span>
                <span class="mdl-list-view--name">
                    content
                </span>
            </a> |
            <a href="https://github.com/MikeMitterer/dart-material-design-lite/tree/mdl/example/content/web" class="mdl-color-text--400 github">
              Source on GitHub
            </a>
        </li>
        <li>
            <a href="http://mdl.samples.mikemitterer.at/dialog/index.html" target="_blank" class="mdl-color-text--700">
                <span class="mdl-list-view--avatar mdl-icon mdl-icon--extension mdl-color--200"></span>
                <span class="mdl-list-view--name">
                    dialog
                </span>
            </a> |
            <a href="https://github.com/MikeMitterer/dart-material-design-lite/tree/mdl/example/dialog/web" class="mdl-color-text--400 github">
              Source on GitHub
            </a>
        </li>
        <li>
            <a href="http://mdl.samples.mikemitterer.at/footer/index.html" target="_blank" class="mdl-color-text--700">
                <span class="mdl-list-view--avatar mdl-icon mdl-icon--extension mdl-color--200"></span>
                <span class="mdl-list-view--name">
                    footer
                </span>
            </a> |
            <a href="https://github.com/MikeMitterer/dart-material-design-lite/tree/mdl/example/footer/web" class="mdl-color-text--400 github">
              Source on GitHub
            </a>
        </li>
        <li>
            <a href="http://mdl.samples.mikemitterer.at/forms/index.html" target="_blank" class="mdl-color-text--700">
                <span class="mdl-list-view--avatar mdl-icon mdl-icon--extension mdl-color--200"></span>
                <span class="mdl-list-view--name">
                    forms
                </span>
            </a> |
            <a href="https://github.com/MikeMitterer/dart-material-design-lite/tree/mdl/example/forms/web" class="mdl-color-text--400 github">
              Source on GitHub
            </a>
        </li>
        <li>
            <a href="http://mdl.samples.mikemitterer.at/grid/index.html" target="_blank" class="mdl-color-text--700">
                <span class="mdl-list-view--avatar mdl-icon mdl-icon--extension mdl-color--200"></span>
                <span class="mdl-list-view--name">
                    grid
                </span>
            </a> |
            <a href="https://github.com/MikeMitterer/dart-material-design-lite/tree/mdl/example/grid/web" class="mdl-color-text--400 github">
              Source on GitHub
            </a>
        </li>
        <li>
            <a href="http://mdl.samples.mikemitterer.at/icon-toggle/index.html" target="_blank" class="mdl-color-text--700">
                <span class="mdl-list-view--avatar mdl-icon mdl-icon--extension mdl-color--200"></span>
                <span class="mdl-list-view--name">
                    icon-toggle
                </span>
            </a> |
            <a href="https://github.com/MikeMitterer/dart-material-design-lite/tree/mdl/example/icon-toggle/web" class="mdl-color-text--400 github">
              Source on GitHub
            </a>
        </li>
        <li>
            <a href="http://mdl.samples.mikemitterer.at/icons/index.html" target="_blank" class="mdl-color-text--700">
                <span class="mdl-list-view--avatar mdl-icon mdl-icon--extension mdl-color--200"></span>
                <span class="mdl-list-view--name">
                    icons
                </span>
            </a> |
            <a href="https://github.com/MikeMitterer/dart-material-design-lite/tree/mdl/example/icons/web" class="mdl-color-text--400 github">
              Source on GitHub
            </a>
        </li>
        <li>
            <a href="http://mdl.samples.mikemitterer.at/include/index.html" target="_blank" class="mdl-color-text--700">
                <span class="mdl-list-view--avatar mdl-icon mdl-icon--extension mdl-color--200"></span>
                <span class="mdl-list-view--name">
                    include
                </span>
            </a> |
            <a href="https://github.com/MikeMitterer/dart-material-design-lite/tree/mdl/example/include/web" class="mdl-color-text--400 github">
              Source on GitHub
            </a>
        </li>
        <li>
            <a href="http://mdl.samples.mikemitterer.at/layout/index.html" target="_blank" class="mdl-color-text--700">
                <span class="mdl-list-view--avatar mdl-icon mdl-icon--extension mdl-color--200"></span>
                <span class="mdl-list-view--name">
                    layout
                </span>
            </a> |
            <a href="https://github.com/MikeMitterer/dart-material-design-lite/tree/mdl/example/layout/web" class="mdl-color-text--400 github">
              Source on GitHub
            </a>
        </li>
        <li>
            <a href="http://mdl.samples.mikemitterer.at/list/index.html" target="_blank" class="mdl-color-text--700">
                <span class="mdl-list-view--avatar mdl-icon mdl-icon--extension mdl-color--200"></span>
                <span class="mdl-list-view--name">
                    list
                </span>
            </a> |
            <a href="https://github.com/MikeMitterer/dart-material-design-lite/tree/mdl/example/list/web" class="mdl-color-text--400 github">
              Source on GitHub
            </a>
        </li>
        <li>
            <a href="http://mdl.samples.mikemitterer.at/menu/index.html" target="_blank" class="mdl-color-text--700">
                <span class="mdl-list-view--avatar mdl-icon mdl-icon--extension mdl-color--200"></span>
                <span class="mdl-list-view--name">
                    menu
                </span>
            </a> |
            <a href="https://github.com/MikeMitterer/dart-material-design-lite/tree/mdl/example/menu/web" class="mdl-color-text--400 github">
              Source on GitHub
            </a>
        </li>
        <li>
            <a href="http://mdl.samples.mikemitterer.at/nav-pills/index.html" target="_blank" class="mdl-color-text--700">
                <span class="mdl-list-view--avatar mdl-icon mdl-icon--extension mdl-color--200"></span>
                <span class="mdl-list-view--name">
                    nav-pills
                </span>
            </a> |
            <a href="https://github.com/MikeMitterer/dart-material-design-lite/tree/mdl/example/nav-pills/web" class="mdl-color-text--400 github">
              Source on GitHub
            </a>
        </li>
        <li>
            <a href="http://mdl.samples.mikemitterer.at/palette/index.html" target="_blank" class="mdl-color-text--700">
                <span class="mdl-list-view--avatar mdl-icon mdl-icon--extension mdl-color--200"></span>
                <span class="mdl-list-view--name">
                    palette
                </span>
            </a> |
            <a href="https://github.com/MikeMitterer/dart-material-design-lite/tree/mdl/example/palette/web" class="mdl-color-text--400 github">
              Source on GitHub
            </a>
        </li>
        <li>
            <a href="http://mdl.samples.mikemitterer.at/panel/index.html" target="_blank" class="mdl-color-text--700">
                <span class="mdl-list-view--avatar mdl-icon mdl-icon--extension mdl-color--200"></span>
                <span class="mdl-list-view--name">
                    panel
                </span>
            </a> |
            <a href="https://github.com/MikeMitterer/dart-material-design-lite/tree/mdl/example/panel/web" class="mdl-color-text--400 github">
              Source on GitHub
            </a>
        </li>
        <li>
            <a href="http://mdl.samples.mikemitterer.at/progress/index.html" target="_blank" class="mdl-color-text--700">
                <span class="mdl-list-view--avatar mdl-icon mdl-icon--extension mdl-color--200"></span>
                <span class="mdl-list-view--name">
                    progress
                </span>
            </a> |
            <a href="https://github.com/MikeMitterer/dart-material-design-lite/tree/mdl/example/progress/web" class="mdl-color-text--400 github">
              Source on GitHub
            </a>
        </li>
        <li>
            <a href="http://mdl.samples.mikemitterer.at/radio/index.html" target="_blank" class="mdl-color-text--700">
                <span class="mdl-list-view--avatar mdl-icon mdl-icon--extension mdl-color--200"></span>
                <span class="mdl-list-view--name">
                    radio
                </span>
            </a> |
            <a href="https://github.com/MikeMitterer/dart-material-design-lite/tree/mdl/example/radio/web" class="mdl-color-text--400 github">
              Source on GitHub
            </a>
        </li>
        <li>
            <a href="http://mdl.samples.mikemitterer.at/shadow/index.html" target="_blank" class="mdl-color-text--700">
                <span class="mdl-list-view--avatar mdl-icon mdl-icon--extension mdl-color--200"></span>
                <span class="mdl-list-view--name">
                    shadow
                </span>
            </a> |
            <a href="https://github.com/MikeMitterer/dart-material-design-lite/tree/mdl/example/shadow/web" class="mdl-color-text--400 github">
              Source on GitHub
            </a>
        </li>
        <li>
            <a href="http://mdl.samples.mikemitterer.at/slider/index.html" target="_blank" class="mdl-color-text--700">
                <span class="mdl-list-view--avatar mdl-icon mdl-icon--extension mdl-color--200"></span>
                <span class="mdl-list-view--name">
                    slider
                </span>
            </a> |
            <a href="https://github.com/MikeMitterer/dart-material-design-lite/tree/mdl/example/slider/web" class="mdl-color-text--400 github">
              Source on GitHub
            </a>
        </li>
        <li>
            <a href="http://mdl.samples.mikemitterer.at/spinner/index.html" target="_blank" class="mdl-color-text--700">
                <span class="mdl-list-view--avatar mdl-icon mdl-icon--extension mdl-color--200"></span>
                <span class="mdl-list-view--name">
                    spinner
                </span>
            </a> |
            <a href="https://github.com/MikeMitterer/dart-material-design-lite/tree/mdl/example/spinner/web" class="mdl-color-text--400 github">
              Source on GitHub
            </a>
        </li>
        <li>
            <a href="http://mdl.samples.mikemitterer.at/styleguide/index.html" target="_blank" class="mdl-color-text--700">
                <span class="mdl-list-view--avatar mdl-icon mdl-icon--extension mdl-color--200"></span>
                <span class="mdl-list-view--name">
                    styleguide
                </span>
            </a> |
            <a href="https://github.com/MikeMitterer/dart-material-design-lite/tree/mdl/example/styleguide/web" class="mdl-color-text--400 github">
              Source on GitHub
            </a>
        </li>
        <li>
            <a href="http://mdl.samples.mikemitterer.at/switch/index.html" target="_blank" class="mdl-color-text--700">
                <span class="mdl-list-view--avatar mdl-icon mdl-icon--extension mdl-color--200"></span>
                <span class="mdl-list-view--name">
                    switch
                </span>
            </a> |
            <a href="https://github.com/MikeMitterer/dart-material-design-lite/tree/mdl/example/switch/web" class="mdl-color-text--400 github">
              Source on GitHub
            </a>
        </li>
        <li>
            <a href="http://mdl.samples.mikemitterer.at/tabs/index.html" target="_blank" class="mdl-color-text--700">
                <span class="mdl-list-view--avatar mdl-icon mdl-icon--extension mdl-color--200"></span>
                <span class="mdl-list-view--name">
                    tabs
                </span>
            </a> |
            <a href="https://github.com/MikeMitterer/dart-material-design-lite/tree/mdl/example/tabs/web" class="mdl-color-text--400 github">
              Source on GitHub
            </a>
        </li>
        <li>
            <a href="http://mdl.samples.mikemitterer.at/textfield/index.html" target="_blank" class="mdl-color-text--700">
                <span class="mdl-list-view--avatar mdl-icon mdl-icon--extension mdl-color--200"></span>
                <span class="mdl-list-view--name">
                    textfield
                </span>
            </a> |
            <a href="https://github.com/MikeMitterer/dart-material-design-lite/tree/mdl/example/textfield/web" class="mdl-color-text--400 github">
              Source on GitHub
            </a>
        </li>
        <li>
            <a href="http://mdl.samples.mikemitterer.at/toast/index.html" target="_blank" class="mdl-color-text--700">
                <span class="mdl-list-view--avatar mdl-icon mdl-icon--extension mdl-color--200"></span>
                <span class="mdl-list-view--name">
                    toast
                </span>
            </a> |
            <a href="https://github.com/MikeMitterer/dart-material-design-lite/tree/mdl/example/toast/web" class="mdl-color-text--400 github">
              Source on GitHub
            </a>
        </li>
        <li>
            <a href="http://mdl.samples.mikemitterer.at/tooltip/index.html" target="_blank" class="mdl-color-text--700">
                <span class="mdl-list-view--avatar mdl-icon mdl-icon--extension mdl-color--200"></span>
                <span class="mdl-list-view--name">
                    tooltip
                </span>
            </a> |
            <a href="https://github.com/MikeMitterer/dart-material-design-lite/tree/mdl/example/tooltip/web" class="mdl-color-text--400 github">
              Source on GitHub
            </a>
        </li>
        <li>
            <a href="http://mdl.samples.mikemitterer.at/todo/index.html" target="_blank" class="mdl-color-text--700">
                <span class="mdl-list-view--avatar mdl-icon mdl-icon--extension mdl-color--200"></span>
                <span class="mdl-list-view--name">
                    todo
                </span>
            </a> |
            <a href="https://github.com/MikeMitterer/dart-material-design-lite/tree/mdl/example/todo/web" class="mdl-color-text--400 github">
              Source on GitHub
            </a>
        </li>
        <li>
            <a href="http://mdl.samples.mikemitterer.at/typography/index.html" target="_blank" class="mdl-color-text--700">
                <span class="mdl-list-view--avatar mdl-icon mdl-icon--extension mdl-color--200"></span>
                <span class="mdl-list-view--name">
                    typography
                </span>
            </a> |
            <a href="https://github.com/MikeMitterer/dart-material-design-lite/tree/mdl/example/typography/web" class="mdl-color-text--400 github">
              Source on GitHub
            </a>
        </li>
    </ul></div>
</section>