<section class="demo-section demo-section--slider">    
    
      <div class="demo-preview-block">
          <p>
              <input class="wsk-slider wsk-js-slider" type="range"
                     min="0" max="100" value="0" tabindex="0" id="slider1"/>
          </p>
    
          <p>
              <input class="wsk-slider wsk-js-slider" type="range"
                     min="0" max="100" value="10" tabindex="0" id="slider2"/>
          </p>
    
          <p>
              <input class="wsk-slider wsk-js-slider" type="range"
                     min="0" max="100" value="0" tabindex="0" disabled id="slider3"/>
          </p>
    
          <p>
              <input class="wsk-slider wsk-js-slider" type="range"
                     min="0" max="100" value="10" tabindex="0" disabled id="slider4"/>
          </p>
    
          <p>
              Drag me:
              <input class="wsk-slider wsk-js-slider" type="range"
                     min="0" max="100" value="10" tabindex="0" id="slider5"/>
          </p>
    
      </div>
      <!-- build:js(app/styleguide/slider/) ../../scripts/main.min.js -->
          <!-- end build -->
      
</section>