<section class="demo-section demo-section--spinner">    
    
    <div class="demo-preview-block">
    
        <p>
            Default:
        <div class="wsk-spinner wsk-js-spinner is-active" id="first"></div>
        </p>
        <p>
            Single color (uses primary palette):
        <div class="wsk-spinner wsk-spinner--single-color wsk-js-spinner is-active"></div>
        </p>
    
        <button class="wsk-button wsk-js-button wsk-button--raised wsk-js-ripple-effect" id="button">On/Off</button>
    </div>
      <!-- build:js(app/styleguide/spinner/) ../../scripts/main.min.js -->
          <!-- endbuild -->
    
</section>