<section class="demo-section demo-section--templates">
    <h4>Layout-Templates</h4>
    <div class="mdl-list--styled-view"><ul>
        <li>
            <a href="http://samples.material-design-lite.at/template_sticky-footer/index.html" target="_blank" class="mdl-color-text--700">
                <span class="mdl-list-view--avatar mdl-color--200">
                    <img src="assets/images/template-sticky-footer.jpg">
                </span>
                <span class="mdl-list-view--name">
                    Sticky footer
                </span>
            </a>
            <a href="https://github.com/MikeMitterer/dart-material-design-lite/tree/mdl/example/template_sticky-footer"
               class="mdl-color-text--400 github" target="_blank">
                Source on GitHub
            </a>
        </li>
        <li>
            <a href="http://samples.material-design-lite.at/template_admin/index.html" target="_blank" class="mdl-color-text--700">
                <span class="mdl-list-view--avatar mdl-color--200">
                    <img src="assets/images/template-admin.jpg">
                </span>
                <span class="mdl-list-view--name">
                    Admin template
                </span>
            </a>
            <a href="https://github.com/MikeMitterer/dart-material-design-lite/tree/mdl/example/template_admin"
               class="mdl-color-text--400 github" target="_blank">
                Source on GitHub
            </a>
        </li>
        <li>
            <a href="http://samples.material-design-lite.at/template_fixed-header/index.html" target="_blank" class="mdl-color-text--700">
                <span class="mdl-list-view--avatar mdl-color--200">
                    <img src="assets/images/template-fixed-header.jpg">
                </span>
                <span class="mdl-list-view--name">
                    Small apps
                </span>
            </a>
            <a href="https://github.com/MikeMitterer/dart-material-design-lite/tree/mdl/example/template_fixed-header"
               class="mdl-color-text--400 github" target="_blank">
                Source on GitHub
            </a>
        </li>
    </ul></div>
</section>