<section class="demo-section demo-section--slider mdl-upgrading">
    <p>Slider sample - I live in slider.html</p>
    <div class="demo-preview-block">
        <p>
            <input class="mdl-slider mdl-js-slider" type="range"
                   min="0" max="100" value="0" tabindex="0" id="slider1"/>
        </p>

        <p>
            <input class="mdl-slider mdl-js-slider" type="range"
                   min="0" max="100" value="10" tabindex="0" id="slider2"/>
        </p>

        <p>
            <input class="mdl-slider mdl-js-slider" type="range"
                   min="0" max="100" value="0" tabindex="0" disabled id="slider3"/>
        </p>

        <p>
            <input class="mdl-slider mdl-js-slider" type="range"
                   min="0" max="100" value="10" tabindex="0" disabled id="slider4"/>
        </p>

        <p>
            Drag me:
            <input class="mdl-slider mdl-js-slider" type="range"
                   min="0" max="100" value="10" tabindex="0" id="slider5"/>
        </p>

    </div>
</section>