  &lt;h5&gt;Default layout&lt;&#x2F;h5&gt;
  &lt;p&gt;Uses a header for large screen sizes and a collapsible drawer for smaller
    screens.&lt;&#x2F;p&gt;

  &lt;div class=&quot;demo-layout&quot;&gt;
    &lt;div class=&quot;mdl-layout mdl-js-layout mdl-layout--overlay-drawer-button&quot;&gt;
      &lt;header class=&quot;mdl-layout__header&quot;&gt;
        &lt;!-- Icon --&gt;
        &lt;img class=&quot;mdl-layout-icon&quot; src=&quot;demo-images&#x2F;app-icon.png&quot;&#x2F;&gt;
        &lt;!-- Title --&gt;
        &lt;span class=&quot;mdl-layout-title&quot;&gt;Material Design Lite&lt;&#x2F;span&gt;
        &lt;!-- Add spacer, to align navigation to the right --&gt;
        &lt;div class=&quot;mdl-layout-spacer&quot;&gt;&lt;&#x2F;div&gt;
        &lt;!-- Navigation --&gt;
        &lt;nav class=&quot;mdl-navigation&quot;&gt;
          &lt;a class=&quot;mdl-navigation__link&quot; href=&quot;#&quot;&gt;Hello&lt;&#x2F;a&gt;
          &lt;a class=&quot;mdl-navigation__link&quot; href=&quot;#&quot;&gt;World.&lt;&#x2F;a&gt;
          &lt;a class=&quot;mdl-navigation__link&quot; href=&quot;#&quot;&gt;How&lt;&#x2F;a&gt;
          &lt;a class=&quot;mdl-navigation__link&quot; href=&quot;#&quot;&gt;Are&lt;&#x2F;a&gt;
          &lt;a class=&quot;mdl-navigation__link&quot; href=&quot;#&quot;&gt;You?&lt;&#x2F;a&gt;
        &lt;&#x2F;nav&gt;
      &lt;&#x2F;header&gt;
      &lt;div class=&quot;mdl-layout__drawer&quot;&gt;
        &lt;span class=&quot;mdl-layout-title&quot;&gt;Material Design Lite&lt;&#x2F;span&gt;
        &lt;nav class=&quot;mdl-navigation&quot;&gt;
          &lt;a class=&quot;mdl-navigation__link&quot; href=&quot;#&quot;&gt;Hello&lt;&#x2F;a&gt;
          &lt;a class=&quot;mdl-navigation__link&quot; href=&quot;#&quot;&gt;World.&lt;&#x2F;a&gt;
          &lt;a class=&quot;mdl-navigation__link&quot; href=&quot;#&quot;&gt;How&lt;&#x2F;a&gt;
          &lt;a class=&quot;mdl-navigation__link&quot; href=&quot;#&quot;&gt;Are&lt;&#x2F;a&gt;
          &lt;a class=&quot;mdl-navigation__link&quot; href=&quot;#&quot;&gt;You?&lt;&#x2F;a&gt;
        &lt;&#x2F;nav&gt;
      &lt;&#x2F;div&gt;
      &lt;main class=&quot;mdl-layout__content&quot;&gt;
        &lt;div class=&quot;demo-layout__content&quot;&gt;&lt;&#x2F;div&gt;
      &lt;&#x2F;main&gt;
    &lt;&#x2F;div&gt;
  &lt;&#x2F;div&gt;


  &lt;h5&gt;Scrolling header&lt;&#x2F;h5&gt;
  &lt;p&gt;Same as the standard layout, but the header scrolls with the content.&lt;&#x2F;p&gt;

  &lt;div class=&quot;demo-layout&quot;&gt;
    &lt;div class=&quot;mdl-layout mdl-js-layout mdl-layout--overlay-drawer-button&quot;&gt;
      &lt;header class=&quot;mdl-layout__header mdl-layout__header--scroll&quot;&gt;
        &lt;!-- Icon --&gt;
        &lt;img class=&quot;mdl-layout-icon&quot; src=&quot;demo-images&#x2F;app-icon.png&quot;&#x2F;&gt;
        &lt;!-- Title --&gt;
        &lt;span class=&quot;mdl-layout-title&quot;&gt;Material Design Lite&lt;&#x2F;span&gt;
        &lt;!-- Add spacer, to align navigation to the right --&gt;
        &lt;div class=&quot;mdl-layout-spacer&quot;&gt;&lt;&#x2F;div&gt;
        &lt;!-- Navigation --&gt;
        &lt;nav class=&quot;mdl-navigation&quot;&gt;
          &lt;a class=&quot;mdl-navigation__link&quot; href=&quot;#&quot;&gt;Hello&lt;&#x2F;a&gt;
          &lt;a class=&quot;mdl-navigation__link&quot; href=&quot;#&quot;&gt;World.&lt;&#x2F;a&gt;
          &lt;a class=&quot;mdl-navigation__link&quot; href=&quot;#&quot;&gt;How&lt;&#x2F;a&gt;
          &lt;a class=&quot;mdl-navigation__link&quot; href=&quot;#&quot;&gt;Are&lt;&#x2F;a&gt;
          &lt;a class=&quot;mdl-navigation__link&quot; href=&quot;#&quot;&gt;You?&lt;&#x2F;a&gt;
        &lt;&#x2F;nav&gt;
      &lt;&#x2F;header&gt;
      &lt;div class=&quot;mdl-layout__drawer&quot;&gt;
        &lt;span class=&quot;mdl-layout-title&quot;&gt;Material Design Lite&lt;&#x2F;span&gt;
        &lt;nav class=&quot;mdl-navigation&quot;&gt;
          &lt;a class=&quot;mdl-navigation__link&quot; href=&quot;#&quot;&gt;Hello&lt;&#x2F;a&gt;
          &lt;a class=&quot;mdl-navigation__link&quot; href=&quot;#&quot;&gt;World.&lt;&#x2F;a&gt;
          &lt;a class=&quot;mdl-navigation__link&quot; href=&quot;#&quot;&gt;How&lt;&#x2F;a&gt;
          &lt;a class=&quot;mdl-navigation__link&quot; href=&quot;#&quot;&gt;Are&lt;&#x2F;a&gt;
          &lt;a class=&quot;mdl-navigation__link&quot; href=&quot;#&quot;&gt;You?&lt;&#x2F;a&gt;
        &lt;&#x2F;nav&gt;
      &lt;&#x2F;div&gt;
      &lt;main class=&quot;mdl-layout__content&quot;&gt;
        &lt;div class=&quot;demo-layout__content&quot;&gt;&lt;&#x2F;div&gt;
      &lt;&#x2F;main&gt;
    &lt;&#x2F;div&gt;
  &lt;&#x2F;div&gt;


  &lt;h5&gt;Fixed drawer with header&lt;&#x2F;h5&gt;
  &lt;p&gt;The drawer is always open in large screen sizes, functioning as side
    navigation.&lt;&#x2F;p&gt;

  &lt;div class=&quot;demo-layout&quot;&gt;
    &lt;div class=&quot;mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--overlay-drawer-button&quot;&gt;
      &lt;header class=&quot;mdl-layout__header&quot;&gt;
        &lt;span class=&quot;mdl-layout-title&quot;&gt;Fixed drawer layout demo&lt;&#x2F;span&gt;
        &lt;div class=&quot;mdl-layout-spacer&quot;&gt;&lt;&#x2F;div&gt;
        &lt;div class=&quot;mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label mdl-textfield--align-right&quot;&gt;
          &lt;label class=&quot;mdl-button mdl-js-button mdl-button--icon&quot; for=&quot;sample-expclean&quot;&gt;
            &lt;span class=&quot;mdl-icon mdl-icon--search&quot;&#x2F;&gt;
          &lt;&#x2F;label&gt;
          &lt;div class=&quot;mdl-textfield__expandable-holder&quot;&gt;
            &lt;input class=&quot;mdl-textfield__input&quot; type=&quot;text&quot; name=&quot;sample&quot; id=&quot;sample-expclean&quot; &#x2F;&gt;
          &lt;&#x2F;div&gt;
        &lt;&#x2F;div&gt;
      &lt;&#x2F;header&gt;
      &lt;div class=&quot;mdl-layout__drawer&quot;&gt;
        &lt;span class=&quot;mdl-layout-title&quot;&gt;Material Design Lite&lt;&#x2F;span&gt;
        &lt;nav class=&quot;mdl-navigation&quot;&gt;
          &lt;a class=&quot;mdl-navigation__link&quot; href=&quot;#&quot;&gt;Hello&lt;&#x2F;a&gt;
          &lt;a class=&quot;mdl-navigation__link&quot; href=&quot;#&quot;&gt;World.&lt;&#x2F;a&gt;
          &lt;a class=&quot;mdl-navigation__link&quot; href=&quot;#&quot;&gt;How&lt;&#x2F;a&gt;
          &lt;a class=&quot;mdl-navigation__link&quot; href=&quot;#&quot;&gt;Are&lt;&#x2F;a&gt;
          &lt;a class=&quot;mdl-navigation__link&quot; href=&quot;#&quot;&gt;You?&lt;&#x2F;a&gt;
        &lt;&#x2F;nav&gt;
      &lt;&#x2F;div&gt;
      &lt;main class=&quot;mdl-layout__content&quot;&gt;
        &lt;div class=&quot;demo-layout__content&quot;&gt;&lt;&#x2F;div&gt;
      &lt;&#x2F;main&gt;
    &lt;&#x2F;div&gt;
  &lt;&#x2F;div&gt;


  &lt;h5&gt;Fixed drawer (no header)&lt;&#x2F;h5&gt;
  &lt;p&gt;Same as the previous layout, but with no header.&lt;&#x2F;p&gt;

  &lt;div class=&quot;demo-layout&quot;&gt;
    &lt;div class=&quot;mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--overlay-drawer-button&quot;&gt;
      &lt;div class=&quot;mdl-layout__drawer&quot;&gt;
        &lt;span class=&quot;mdl-layout-title&quot;&gt;Material Design Lite&lt;&#x2F;span&gt;
        &lt;nav class=&quot;mdl-navigation&quot;&gt;
          &lt;a class=&quot;mdl-navigation__link&quot; href=&quot;#&quot;&gt;Hello&lt;&#x2F;a&gt;
          &lt;a class=&quot;mdl-navigation__link&quot; href=&quot;#&quot;&gt;World.&lt;&#x2F;a&gt;
          &lt;a class=&quot;mdl-navigation__link&quot; href=&quot;#&quot;&gt;How&lt;&#x2F;a&gt;
          &lt;a class=&quot;mdl-navigation__link&quot; href=&quot;#&quot;&gt;Are&lt;&#x2F;a&gt;
          &lt;a class=&quot;mdl-navigation__link&quot; href=&quot;#&quot;&gt;You?&lt;&#x2F;a&gt;
        &lt;&#x2F;nav&gt;
      &lt;&#x2F;div&gt;
      &lt;main class=&quot;mdl-layout__content&quot;&gt;
        &lt;div class=&quot;demo-layout__content&quot;&gt;&lt;&#x2F;div&gt;
      &lt;&#x2F;main&gt;
    &lt;&#x2F;div&gt;
  &lt;&#x2F;div&gt;


  &lt;h5&gt;Fixed header&lt;&#x2F;h5&gt;
  &lt;p&gt;Always shows a header, even in smaller screens.&lt;&#x2F;p&gt;

  &lt;div class=&quot;demo-layout&quot;&gt;
    &lt;div class=&quot;mdl-layout mdl-js-layout mdl-layout--fixed-header&quot;&gt;
      &lt;header class=&quot;mdl-layout__header&quot;&gt;
        &lt;!-- Icon --&gt;
        &lt;img class=&quot;mdl-layout-icon&quot; src=&quot;demo-images&#x2F;app-icon.png&quot;&#x2F;&gt;
        &lt;!-- Title --&gt;
        &lt;span class=&quot;mdl-layout-title&quot;&gt;Material Design Lite&lt;&#x2F;span&gt;
        &lt;!-- Add spacer, to align navigation to the right --&gt;
        &lt;div class=&quot;mdl-layout-spacer&quot;&gt;&lt;&#x2F;div&gt;
        &lt;!-- Navigation. We use CSS to hide it in small screens. --&gt;
        &lt;nav class=&quot;mdl-navigation&quot; id=&quot;fixed_header_nav&quot;&gt;
          &lt;a class=&quot;mdl-navigation__link&quot; href=&quot;#&quot;&gt;Hello&lt;&#x2F;a&gt;
          &lt;a class=&quot;mdl-navigation__link&quot; href=&quot;#&quot;&gt;World.&lt;&#x2F;a&gt;
          &lt;a class=&quot;mdl-navigation__link&quot; href=&quot;#&quot;&gt;How&lt;&#x2F;a&gt;
          &lt;a class=&quot;mdl-navigation__link&quot; href=&quot;#&quot;&gt;Are&lt;&#x2F;a&gt;
          &lt;a class=&quot;mdl-navigation__link&quot; href=&quot;#&quot;&gt;You?&lt;&#x2F;a&gt;
        &lt;&#x2F;nav&gt;
      &lt;&#x2F;header&gt;
      &lt;div class=&quot;mdl-layout__drawer&quot;&gt;
        &lt;span class=&quot;mdl-layout-title&quot;&gt;Material Design Lite&lt;&#x2F;span&gt;
        &lt;nav class=&quot;mdl-navigation&quot;&gt;
          &lt;a class=&quot;mdl-navigation__link&quot; href=&quot;#&quot;&gt;Hello&lt;&#x2F;a&gt;
          &lt;a class=&quot;mdl-navigation__link&quot; href=&quot;#&quot;&gt;World.&lt;&#x2F;a&gt;
          &lt;a class=&quot;mdl-navigation__link&quot; href=&quot;#&quot;&gt;How&lt;&#x2F;a&gt;
          &lt;a class=&quot;mdl-navigation__link&quot; href=&quot;#&quot;&gt;Are&lt;&#x2F;a&gt;
          &lt;a class=&quot;mdl-navigation__link&quot; href=&quot;#&quot;&gt;You?&lt;&#x2F;a&gt;
        &lt;&#x2F;nav&gt;
      &lt;&#x2F;div&gt;
      &lt;main class=&quot;mdl-layout__content&quot;&gt;
        &lt;div class=&quot;demo-layout__content&quot;&gt;&lt;&#x2F;div&gt;
      &lt;&#x2F;main&gt;
    &lt;&#x2F;div&gt;
  &lt;&#x2F;div&gt;


  &lt;h5&gt;Fixed drawer and fixed header&lt;&#x2F;h5&gt;
  &lt;p&gt;The drawer is always open in large screens. The header is always shown,
    even in small screens.&lt;&#x2F;p&gt;

  &lt;div class=&quot;demo-layout&quot;&gt;
    &lt;div class=&quot;mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header&quot;&gt;
      &lt;header class=&quot;mdl-layout__header&quot;&gt;
        &lt;span class=&quot;mdl-layout-title&quot;&gt;Fixed drawer and header&lt;&#x2F;span&gt;
        &lt;div class=&quot;mdl-layout-spacer&quot;&gt;&lt;&#x2F;div&gt;
        &lt;div class=&quot;mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label mdl-textfield--align-right&quot;&gt;
          &lt;label class=&quot;mdl-button mdl-js-button mdl-button--icon&quot; for=&quot;sample-expclean2&quot;&gt;
            &lt;span class=&quot;mdl-icon mdl-icon--search&quot;&#x2F;&gt;
          &lt;&#x2F;label&gt;
          &lt;div class=&quot;mdl-textfield__expandable-holder&quot;&gt;
            &lt;input class=&quot;mdl-textfield__input&quot; type=&quot;text&quot; name=&quot;sample&quot; id=&quot;sample-expclean2&quot; &#x2F;&gt;
          &lt;&#x2F;div&gt;
        &lt;&#x2F;div&gt;
      &lt;&#x2F;header&gt;
      &lt;div class=&quot;mdl-layout__drawer&quot;&gt;
        &lt;span class=&quot;mdl-layout-title&quot;&gt;Material Design Lite&lt;&#x2F;span&gt;
        &lt;nav class=&quot;mdl-navigation&quot;&gt;
          &lt;a class=&quot;mdl-navigation__link&quot; href=&quot;#&quot;&gt;Hello&lt;&#x2F;a&gt;
          &lt;a class=&quot;mdl-navigation__link&quot; href=&quot;#&quot;&gt;World.&lt;&#x2F;a&gt;
          &lt;a class=&quot;mdl-navigation__link&quot; href=&quot;#&quot;&gt;How&lt;&#x2F;a&gt;
          &lt;a class=&quot;mdl-navigation__link&quot; href=&quot;#&quot;&gt;Are&lt;&#x2F;a&gt;
          &lt;a class=&quot;mdl-navigation__link&quot; href=&quot;#&quot;&gt;You?&lt;&#x2F;a&gt;
        &lt;&#x2F;nav&gt;
      &lt;&#x2F;div&gt;
      &lt;main class=&quot;mdl-layout__content&quot;&gt;
        &lt;div class=&quot;demo-layout__content&quot;&gt;&lt;&#x2F;div&gt;
      &lt;&#x2F;main&gt;
    &lt;&#x2F;div&gt;
  &lt;&#x2F;div&gt;


  &lt;h5&gt;Multi-row layout&lt;&#x2F;h5&gt;
  &lt;p&gt;Example of a more complex waterfall header, with multiple rows (on large
    screens only).&lt;&#x2F;p&gt;

  &lt;div class=&quot;demo-layout&quot;&gt;
    &lt;div class=&quot;mdl-layout mdl-js-layout mdl-layout--overlay-drawer-button&quot;&gt;
      &lt;header class=&quot;mdl-layout__header mdl-layout__header--multi-row mdl-layout__header--waterfall mdl-layout__header--tall&quot;&gt;
        &lt;!-- Top row --&gt;
        &lt;div class=&quot;mdl-layout__header-row&quot;&gt;
          &lt;!-- Icon --&gt;
          &lt;img class=&quot;mdl-layout-icon&quot; src=&quot;demo-images&#x2F;app-icon.png&quot;&#x2F;&gt;
          &lt;!-- Title --&gt;
          &lt;span id=&quot;my_text_changes&quot;&gt;Material Design Lite&lt;&#x2F;span&gt;
          &lt;div class=&quot;mdl-layout-spacer&quot;&gt;&lt;&#x2F;div&gt;
          &lt;!-- Only show when compact, check CSS --&gt;
          &lt;nav class=&quot;mdl-navigation&quot; id=&quot;compact_navigation&quot;&gt;
            &lt;a class=&quot;mdl-navigation__link&quot; href=&quot;#&quot;&gt;Hello&lt;&#x2F;a&gt;
            &lt;a class=&quot;mdl-navigation__link&quot; href=&quot;#&quot;&gt;World.&lt;&#x2F;a&gt;
            &lt;a class=&quot;mdl-navigation__link&quot; href=&quot;#&quot;&gt;How&lt;&#x2F;a&gt;
            &lt;a class=&quot;mdl-navigation__link&quot; href=&quot;#&quot;&gt;Are&lt;&#x2F;a&gt;
            &lt;a class=&quot;mdl-navigation__link&quot; href=&quot;#&quot;&gt;You?&lt;&#x2F;a&gt;
          &lt;&#x2F;nav&gt;
        &lt;&#x2F;div&gt;
        &lt;!-- Middle row, subtitle --&gt;
        &lt;div class=&quot;mdl-layout__header-row&quot;&gt;
          &lt;span class=&quot;mdl-typography--title&quot;&gt;
            Multi-row layout demo
          &lt;&#x2F;span&gt;
        &lt;&#x2F;div&gt;
        &lt;!-- Bottom row --&gt;
        &lt;div class=&quot;mdl-layout__header-row&quot;&gt;
          &lt;div class=&quot;mdl-layout-spacer&quot;&gt;&lt;&#x2F;div&gt;
          &lt;!-- Only show when expanded, check CSS --&gt;
          &lt;nav class=&quot;mdl-navigation&quot; id=&quot;expanded_navigation&quot;&gt;
            &lt;a class=&quot;mdl-navigation__link&quot; href=&quot;#&quot;&gt;Hello&lt;&#x2F;a&gt;
            &lt;a class=&quot;mdl-navigation__link&quot; href=&quot;#&quot;&gt;World.&lt;&#x2F;a&gt;
            &lt;a class=&quot;mdl-navigation__link&quot; href=&quot;#&quot;&gt;How&lt;&#x2F;a&gt;
            &lt;a class=&quot;mdl-navigation__link&quot; href=&quot;#&quot;&gt;Are&lt;&#x2F;a&gt;
            &lt;a class=&quot;mdl-navigation__link&quot; href=&quot;#&quot;&gt;You?&lt;&#x2F;a&gt;
          &lt;&#x2F;nav&gt;
        &lt;&#x2F;div&gt;
      &lt;&#x2F;header&gt;
      &lt;div class=&quot;mdl-layout__drawer&quot;&gt;
        &lt;span class=&quot;mdl-layout-title&quot;&gt;Material Design Lite&lt;&#x2F;span&gt;
        &lt;nav class=&quot;mdl-navigation&quot;&gt;
          &lt;a class=&quot;mdl-navigation__link&quot; href=&quot;#&quot;&gt;Hello&lt;&#x2F;a&gt;
          &lt;a class=&quot;mdl-navigation__link&quot; href=&quot;#&quot;&gt;World.&lt;&#x2F;a&gt;
          &lt;a class=&quot;mdl-navigation__link&quot; href=&quot;#&quot;&gt;How&lt;&#x2F;a&gt;
          &lt;a class=&quot;mdl-navigation__link&quot; href=&quot;#&quot;&gt;Are&lt;&#x2F;a&gt;
          &lt;a class=&quot;mdl-navigation__link&quot; href=&quot;#&quot;&gt;You?&lt;&#x2F;a&gt;
        &lt;&#x2F;nav&gt;
      &lt;&#x2F;div&gt;
      &lt;main class=&quot;mdl-layout__content&quot;&gt;
        &lt;div class=&quot;demo-layout__content&quot;&gt;&lt;&#x2F;div&gt;
      &lt;&#x2F;main&gt;
    &lt;&#x2F;div&gt;
  &lt;&#x2F;div&gt;


  &lt;h5&gt;Transparent header&lt;&#x2F;h5&gt;
  &lt;p&gt;Uses a transparent header that draws on top of the layout&#x27;s background.&lt;&#x2F;p&gt;

  &lt;div class=&quot;demo-layout&quot;&gt;
    &lt;div class=&quot;mdl-layout mdl-js-layout&quot; id=&quot;transparent_demo&quot;&gt;
      &lt;header class=&quot;mdl-layout__header mdl-layout__header--transparent&quot;&gt;
        &lt;!-- Icon --&gt;
        &lt;img class=&quot;mdl-layout-icon&quot; src=&quot;demo-images&#x2F;app-icon.png&quot;&#x2F;&gt;
        &lt;!-- Title --&gt;
        &lt;span class=&quot;mdl-layout-title&quot;&gt;Material Design Lite&lt;&#x2F;span&gt;
        &lt;!-- Add spacer, to align navigation to the right --&gt;
        &lt;div class=&quot;mdl-layout-spacer&quot;&gt;&lt;&#x2F;div&gt;
        &lt;!-- Navigation --&gt;
        &lt;nav class=&quot;mdl-navigation&quot;&gt;
          &lt;a class=&quot;mdl-navigation__link&quot; href=&quot;#&quot;&gt;Hello&lt;&#x2F;a&gt;
          &lt;a class=&quot;mdl-navigation__link&quot; href=&quot;#&quot;&gt;World.&lt;&#x2F;a&gt;
          &lt;a class=&quot;mdl-navigation__link&quot; href=&quot;#&quot;&gt;How&lt;&#x2F;a&gt;
          &lt;a class=&quot;mdl-navigation__link&quot; href=&quot;#&quot;&gt;Are&lt;&#x2F;a&gt;
          &lt;a class=&quot;mdl-navigation__link&quot; href=&quot;#&quot;&gt;You?&lt;&#x2F;a&gt;
        &lt;&#x2F;nav&gt;
      &lt;&#x2F;header&gt;
      &lt;div class=&quot;mdl-layout__drawer&quot;&gt;
        &lt;span class=&quot;mdl-layout-title&quot;&gt;Material Design Lite&lt;&#x2F;span&gt;
        &lt;nav class=&quot;mdl-navigation&quot;&gt;
          &lt;a class=&quot;mdl-navigation__link&quot; href=&quot;#&quot;&gt;Hello&lt;&#x2F;a&gt;
          &lt;a class=&quot;mdl-navigation__link&quot; href=&quot;#&quot;&gt;World.&lt;&#x2F;a&gt;
          &lt;a class=&quot;mdl-navigation__link&quot; href=&quot;#&quot;&gt;How&lt;&#x2F;a&gt;
          &lt;a class=&quot;mdl-navigation__link&quot; href=&quot;#&quot;&gt;Are&lt;&#x2F;a&gt;
          &lt;a class=&quot;mdl-navigation__link&quot; href=&quot;#&quot;&gt;You?&lt;&#x2F;a&gt;
        &lt;&#x2F;nav&gt;
      &lt;&#x2F;div&gt;
      &lt;main class=&quot;mdl-layout__content&quot;&gt;
      &lt;&#x2F;main&gt;
    &lt;&#x2F;div&gt;
  &lt;&#x2F;div&gt;

  &lt;h5&gt;Scrollable tabs&lt;&#x2F;h5&gt;
  &lt;p&gt;Simple header with scrollable tabs.&lt;&#x2F;p&gt;

  &lt;div class=&quot;demo-layout&quot;&gt;
    &lt;div class=&quot;mdl-layout mdl-js-layout mdl-layout--fixed-header&quot;&gt;
      &lt;header class=&quot;mdl-layout__header&quot;&gt;
        &lt;!-- Icon --&gt;
        &lt;img class=&quot;mdl-layout-icon&quot; src=&quot;demo-images&#x2F;app-icon.png&quot;&#x2F;&gt;
        &lt;!-- Title --&gt;
        &lt;span class=&quot;mdl-layout-title&quot;&gt;Material Design Lite&lt;&#x2F;span&gt;
      &lt;&#x2F;header&gt;
      &lt;div class=&quot;mdl-layout__tab-bar mdl-js-ripple-effect&quot;&gt;
        &lt;a href=&quot;#blue-panel-scroll&quot; class=&quot;mdl-layout__tab is-active&quot;&gt;Blue&lt;&#x2F;a&gt;
        &lt;a href=&quot;#green-panel-scroll&quot; class=&quot;mdl-layout__tab&quot;&gt;Green&lt;&#x2F;a&gt;
        &lt;a href=&quot;#red-panel-scroll&quot; class=&quot;mdl-layout__tab&quot;&gt;Red&lt;&#x2F;a&gt;
        &lt;a href=&quot;#blue-panel-scroll&quot; class=&quot;mdl-layout__tab&quot;&gt;Blue Two&lt;&#x2F;a&gt;
        &lt;a href=&quot;#green-panel-scroll&quot; class=&quot;mdl-layout__tab&quot;&gt;Green Two&lt;&#x2F;a&gt;
        &lt;a href=&quot;#red-panel-scroll&quot; class=&quot;mdl-layout__tab&quot;&gt;Red Two&lt;&#x2F;a&gt;
        &lt;a href=&quot;#blue-panel-scroll&quot; class=&quot;mdl-layout__tab&quot;&gt;Blue Three&lt;&#x2F;a&gt;
        &lt;a href=&quot;#green-panel-scroll&quot; class=&quot;mdl-layout__tab&quot;&gt;Green Three&lt;&#x2F;a&gt;
        &lt;a href=&quot;#red-panel-scroll&quot; class=&quot;mdl-layout__tab&quot;&gt;Red Three&lt;&#x2F;a&gt;
        &lt;a href=&quot;#blue-panel-scroll&quot; class=&quot;mdl-layout__tab&quot;&gt;Blue Four&lt;&#x2F;a&gt;
        &lt;a href=&quot;#green-panel-scroll&quot; class=&quot;mdl-layout__tab&quot;&gt;Green Four&lt;&#x2F;a&gt;
        &lt;a href=&quot;#red-panel-scroll&quot; class=&quot;mdl-layout__tab&quot;&gt;Red Four&lt;&#x2F;a&gt;
        &lt;a href=&quot;#blue-panel-scroll&quot; class=&quot;mdl-layout__tab&quot;&gt;Blue Five&lt;&#x2F;a&gt;
        &lt;a href=&quot;#green-panel-scroll&quot; class=&quot;mdl-layout__tab&quot;&gt;Green Five&lt;&#x2F;a&gt;
        &lt;a href=&quot;#red-panel-scroll&quot; class=&quot;mdl-layout__tab&quot;&gt;Red Five&lt;&#x2F;a&gt;
        &lt;a href=&quot;#blue-panel-scroll&quot; class=&quot;mdl-layout__tab&quot;&gt;Blue Six&lt;&#x2F;a&gt;
        &lt;a href=&quot;#green-panel-scroll&quot; class=&quot;mdl-layout__tab&quot;&gt;Green Six&lt;&#x2F;a&gt;
        &lt;a href=&quot;#red-panel-scroll&quot; class=&quot;mdl-layout__tab&quot;&gt;Red Six&lt;&#x2F;a&gt;
      &lt;&#x2F;div&gt;
      &lt;main class=&quot;mdl-layout__content&quot;&gt;
        &lt;section class=&quot;mdl-layout__tab-panel is-active&quot; id=&quot;blue-panel-scroll&quot;&gt;
          &lt;div class=&quot;demo-layout__content-blue&quot;&gt;&lt;&#x2F;div&gt;
                    &lt;section class=&quot;mdl-layout__tab-panel&quot; id=&quot;green-panel-scroll&quot;&gt;
          &lt;div class=&quot;demo-layout__content-green&quot;&gt;&lt;&#x2F;div&gt;
        &lt;&#x2F;section&gt;
        &lt;section class=&quot;mdl-layout__tab-panel&quot; id=&quot;red-panel-scroll&quot;&gt;
          &lt;div class=&quot;demo-layout__content-red&quot;&gt;&lt;&#x2F;div&gt;
        &lt;&#x2F;section&gt;
      &lt;&#x2F;main&gt;
    &lt;&#x2F;div&gt;
  &lt;&#x2F;div&gt;

  &lt;h5&gt;Fixed tabs&lt;&#x2F;h5&gt;
  &lt;p&gt;Simple header with fixed tabs.&lt;&#x2F;p&gt;

  &lt;div class=&quot;demo-layout&quot;&gt;
    &lt;div class=&quot;mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout--fixed-tabs&quot;&gt;
      &lt;header class=&quot;mdl-layout__header&quot;&gt;
        &lt;!-- Icon --&gt;
        &lt;img class=&quot;mdl-layout-icon&quot; src=&quot;demo-images&#x2F;app-icon.png&quot;&#x2F;&gt;
        &lt;!-- Title --&gt;
        &lt;span class=&quot;mdl-layout-title&quot;&gt;Material Design Lite&lt;&#x2F;span&gt;
      &lt;&#x2F;header&gt;
      &lt;div class=&quot;mdl-layout__tab-bar mdl-js-ripple-effect&quot;&gt;
        &lt;a href=&quot;#blue-panel-fixed&quot; class=&quot;mdl-layout__tab is-active&quot;&gt;Blue&lt;&#x2F;a&gt;
        &lt;a href=&quot;#green-panel-fixed&quot; class=&quot;mdl-layout__tab&quot;&gt;Green&lt;&#x2F;a&gt;
        &lt;a href=&quot;#red-panel-fixed&quot; class=&quot;mdl-layout__tab&quot;&gt;Red&lt;&#x2F;a&gt;
      &lt;&#x2F;div&gt;
      &lt;main class=&quot;mdl-layout__content&quot;&gt;
        &lt;section class=&quot;mdl-layout__tab-panel is-active&quot; id=&quot;blue-panel-fixed&quot;&gt;
          &lt;div class=&quot;demo-layout__content-blue&quot;&gt;&lt;&#x2F;div&gt;
        &lt;&#x2F;section&gt;
        &lt;section class=&quot;mdl-layout__tab-panel&quot; id=&quot;green-panel-fixed&quot;&gt;
          &lt;div class=&quot;demo-layout__content-green&quot;&gt;&lt;&#x2F;div&gt;
        &lt;&#x2F;section&gt;
        &lt;section class=&quot;mdl-layout__tab-panel&quot; id=&quot;red-panel-fixed&quot;&gt;
          &lt;div class=&quot;demo-layout__content-red&quot;&gt;&lt;&#x2F;div&gt;
        &lt;&#x2F;section&gt;
      &lt;&#x2F;main&gt;
    &lt;&#x2F;div&gt;
  &lt;&#x2F;div&gt;

  &lt;!-- build:js(app&#x2F;styleguide&#x2F;layout&#x2F;) ..&#x2F;..&#x2F;scripts&#x2F;main.min.js --&gt;
            &lt;!-- endbuild --&gt;

&lt;&#x2F;section&gt;