//----------------------------------------------------------------------------------------------------------------------
// Compile me with:
//  sass main.scss main.css -r ../packages/material_icons/sassext/urlencode.rb && autoprefixer main.css
//

@import 'packages/mdl/assets/styles/material-design-lite';
//@import 'colors';

$palette-primary: $palette-indigo;
$palette-accent: $palette-pink;

$icon-color: unquote("rgb(#{nth($palette-accent, 7)})");
$icon-color-dark: unquote("rgb(#{nth($palette-accent, 7)})");

@import "packages/material_icons/sass/svg-utils";
@import "material_icons";

$background-color : #F9F9F9 !default;
$headline-color: unquote("rgb(#{nth($palette-primary, 7)})") !default;

// width of card + 2x page padding + card margin
$wrap-cards-width: ((330px * 1) + (16px * 2) + 48px) !default;

@function svgShapeComponent($fillColor) {
    @return url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48"><path fill="' + $fillColor + '" d="M41 22h-3v-8c0-2.21-1.79-4-4-4h-8V7c0-2.76-2.24-5-5-5s-5 2.24-5 5v3H8c-2.21 0-3.98 1.79-3.98 4l-.01 7.6H7c2.98 0 5.4 2.42 5.4 5.4S9.98 32.4 7 32.4H4.01L4 40c0 2.21 1.79 4 4 4h7.6v-3c0-2.98 2.42-5.4 5.4-5.4 2.98 0 5.4 2.42 5.4 5.4v3H34c2.21 0 4-1.79 4-4v-8h3c2.76 0 5-2.24 5-5s-2.24-5-5-5z"/></svg>');
}

html, body {
    width            : 100%;
    height           : 100%;
    margin           : 0;
    padding          : 0;
    background-color : $background-color;
}

.mdl-layout__header {
    padding-left: 60px;
}

.mdl-layout__content {
    display         : flex;
    flex-direction  : row;
    flex-wrap       : wrap;
    justify-content : center; // ⇾
    align-content   : space-between; // ||
    align-items     : flex-start; // ↓

    padding        : 0;

    > section {
        max-width: 1160px;
        @media screen and (max-width: 1240px) {max-width: 760px; }
        @media screen and (max-width: 760px) {max-width: 410px; }

        padding   : 24px 16px;
        flex-grow : 1;
        overflow  : scroll;
    }

    h1,h2,h3,h4,h5,h6 { color: $headline-color; }

    h4 {
        padding-top : 20px;
    }

    a {
        color: $headline-color;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
        &:visited {
            color: $headline-color;
        }
    }

    footer {
        padding: 16px;
        width : 100%;

        a, a:hover, a:visited {
            color: white;
        }

        .mdl-logo {
            white-space: nowrap;
        }

    }

    .mdl-list-view--avatar {
        background-color: inherit;
    }

    .components > article ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center; // ⇾
        align-content: space-between; // ||
        align-items: flex-start; // ↓

        li {
            width: 200px;
        }


        .mdl-list-view--avatar.component {
            background-repeat: no-repeat;
            background-size: 100% 100%;
            background-position: 50% 50%;
            background-image: svgShapeComponent(nth($palette-primary, 2));

            &.script {
                background-image: svgShapeComponent(nth($palette-primary, 4));
            }
        }
    }

    .cards > article {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center; // ⇾
        align-content: space-between; // ||
        align-items: flex-start; // ↓

        > .mdl-card {
            margin: 12px 48px 24px 0;
            @media screen and (max-width: $wrap-cards-width) { margin-right: 0 }
        }
    }

    .theming {
        .important {
            font-weight: bold;
            font-style: italic;
        }

        pre {
            padding: 12px 12px 0 12px;
            margin:  12px 12px 12px 24px;
            background-color: nth($palette-primary,1);
            border-radius: 5px;
            overflow: scroll;
        }
    }
}

@media screen and (max-width : $layout-screen-size-threshold) {
    .hide-on-mobile {
        display : none;
    }
}
