@import "packages/mdl/assets/styles/material-design-lite";


html, body {
    width            : 100%;
    height           : 100%;
    margin           : 0;
    padding          : 0;
    background-color : #F4F4F4;
}


body {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start; // ↓
    align-content: stretch; // =
    align-items: stretch; // ⇾
}

.mdl-layout__container {
    flex-grow: 1;
    position: relative;
    //width: auto;
    //height: auto;
    overflow: hidden;

    .mdl-layout {

        .mdl-layout__content {
            display        : flex;
            flex-direction : row;
            flex-wrap      : wrap;
            align-content  : space-between;
            padding        : 0;

            section {
                padding   : 24px;
                flex-grow : 1;
                overflow  : scroll;
            }

            h3 ~ h4 {
                padding-top : 20px;
            }
        }
    }
}



footer.mdl-mini-footer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start; // ⇾
    align-content: space-between; // ||
    align-items: center; // ↓

    padding: 4px 8px;

    min-height : 40px;
    max-height : 40px;

    .mdl-mini-footer--left-section {
        flex-grow: 1;

        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start; // ⇾
        align-content: space-between; // ||
        align-items: center; // ↓

        .mdl-logo {
            margin: 0 8px 0 0;
        }
    }

    .mdl-mini-footer--right-section {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start; // ⇾
        align-content: space-between; // ||
        align-items: center; // ↓
    }
}

.back-to-top {
    position   : fixed;
    bottom     : 500px;
    right      : -100px;
    transition : all 0.3s ease-out;
    opacity    : 0;
    z-index    : 1;
}

.add-back-to-top-button .back-to-top {
    right      : 24px;
    bottom     : 82px;
    opacity    : 1;
    transition : all 0.3s ease-in;
}

//footer.mdl-bottom-bar {
//    display: none;
//
//    @media screen and (max-width : $layout-screen-size-threshold) { display: flex; }
//}

//@media screen and (max-width : $layout-screen-size-threshold) {
//    footer.mdl-mini-footer-flex {
//        display: none;
//    }
//
//    .back-to-top {
//        left  : auto;
//        right : -100px;
//    }
//    .add-back-to-top-button .back-to-top {
//        left : auto;
//    }
//
//    .hide-on-mobile {
//        display : none;
//    }
//}


