//@import "packages/mdl/assets/styles/material-design-lite";

.demo-page--model, .demo-section--model {
    .mdl-textfield { width: 100%; }

    .mdl-checkbox {
        margin-bottom: 12px;
    }

    .output {
        margin: 6px;
        padding: 6px;
        border: 1px;
        border-radius: 5px;

        .mdl-property {
            font-size: 16px;
            font-weight: bold;

            line-height: 24px;
        }
    }
}
