//@import "../../../lib/assets/styles/material-design-lite";

.demo-page--repeat {
    .mdl-repeat div {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start; // ⇾
        align-content: space-between; // ||
        align-items: center; // ↓

        padding: 12px;

    }

    .mdl-checkbox {
        margin-top: 0;
        margin-bottom: 0;

        width: auto;
        min-width: 240px;
    }

}
