@import "packages/mdl/sass/styleguide_demo_bp";
@import "packages/mdl/sass/button/button";
@import "packages/mdl/sass/icons/icons";
@import "packages/mdl/sass/textfield/_textfield";

.demo-page--textfield textarea {
  overflow: auto;
  resize: none;
}

.demo-page--textfield .wsk-textfield {
  display: block;
  margin: 30px 0;
}
