@import "packages/mdl/assets/styles/material-design-lite";

html, body {
    width            : 100%;
    height           : 100%;
    margin           : 0;
    padding          : 0;
    background-color : #F4F4F4;
}

body {
    display        : flex;
    flex-direction : column;
}


.wsk-layout__content {
    display        : flex;
    flex-direction : row;
    flex-wrap      : wrap;
    align-content  : space-between;
    padding        : 0;

    section {
        padding   : 24px;
        flex-grow : 1;
        overflow  : scroll;
    }

    h3 ~ h4 {
        padding-top : 20px;
    }

    footer {
        padding: 16px;
        width : 100%;

        .wsk-logo {
            white-space: nowrap;
        }
    }
}

.back-to-top {
    position : fixed;
    bottom : 500px;
    right : -100px;
    transition : all 0.3s ease-out;
    opacity : 0;

    z-index  : 1;
}

.add-back-to-top-button .back-to-top {
    bottom     : 68px;
    right      : 24px;

    opacity    : 1;
    transition : all 0.3s ease-in;
}

@media screen and (max-width : $layout-screen-size-threshold) {

    .back-to-top {
        left  : auto;
        right : -100px;
    }

    .hide-on-mobile {
        display : none;
    }
}


