<section class="demo-section demo-section--slider demo-page--slider">
    <div id="usage" class="mdl-include mdl-js-include" data-url="views/usage/slider.html">
        Loading...
    </div>
      <div class="demo-preview-block">
          <p>
              <input class="mdl-slider mdl-js-slider" type="range"
                     min="0" max="100" value="0" tabindex="0">
          </p>
          <p>
              <input id="slider2" class="mdl-slider mdl-js-slider" type="range"
                     min="0" max="100" value="10" tabindex="0">
          </p>
          <p>
              <input class="mdl-slider mdl-js-slider" type="range"
                     min="0" max="100" value="0" tabindex="0" disabled>
          </p>
          <p>
              <input id="slider4" class="mdl-slider mdl-js-slider" type="range"
                     min="0" max="100" value="10" tabindex="0" disabled>
          </p>
          Drag slider 2 - this will move slider 4
      </div>
</section>