<section class="demo-section demo-section--templates">
    <h4>Layout-Templates</h4>
    <div class="mdl-list--styled-view"><ul>
        
        <li>
            <a href="http://samples.material-design-lite.pub/template_blog/index.html" target="_blank" class="mdl-color-text--700">
                <span class="mdl-list-view--avatar mdl-color--200">
                    <img src="assets/images/template-blog.jpg">
                </span>
                <span class="mdl-list-view--name">
                    Blog
                </span>
            </a>
            <a href="https://github.com/MikeMitterer/dart-material-design-lite/tree/master/samples/template_blog"
               class="mdl-color-text--400 github" target="_blank">
                Source on GitHub
            </a>
        </li>
        
        <li>
            <a href="http://samples.material-design-lite.pub/template_spa/index.html" target="_blank" class="mdl-color-text--700">
                <span class="mdl-list-view--avatar mdl-color--200">
                    <img src="assets/images/template-spa.jpg">
                </span>
                <span class="mdl-list-view--name">
                    Single-Page-Application
                </span>
            </a>
            <a href="https://github.com/MikeMitterer/dart-material-design-lite/tree/master/samples/template_spa"
               class="mdl-color-text--400 github" target="_blank">
                Source on GitHub
            </a>
        </li>
        
        <li>
            <a href="http://samples.material-design-lite.pub/template_android-dot-com/index.html" target="_blank" class="mdl-color-text--700">
                <span class="mdl-list-view--avatar mdl-color--200">
                    <img src="assets/images/template-android-dot-com.jpg">
                </span>
                <span class="mdl-list-view--name">
                    Android WebSite
                </span>
            </a>
            <a href="https://github.com/MikeMitterer/dart-material-design-lite/tree/master/samples/template_android-dot-com"
               class="mdl-color-text--400 github" target="_blank">
                Source on GitHub
            </a>
        </li>
        
        <li>
            <a href="http://samples.material-design-lite.pub/template_dashboard/index.html" target="_blank" class="mdl-color-text--700">
                <span class="mdl-list-view--avatar mdl-color--200">
                    <img src="assets/images/template-dashboard.jpg">
                </span>
                <span class="mdl-list-view--name">
                    Admin template
                </span>
            </a>
            <a href="https://github.com/MikeMitterer/dart-material-design-lite/tree/master/samples/template_dashboard"
               class="mdl-color-text--400 github" target="_blank">
                Source on GitHub
            </a>
        </li>
        
        <li>
            <a href="http://samples.material-design-lite.pub/template_text-only/index.html" target="_blank" class="mdl-color-text--700">
                <span class="mdl-list-view--avatar mdl-color--200">
                    <img src="assets/images/template-text-heavy.jpg">
                </span>
                <span class="mdl-list-view--name">
                    Text-Heavy Webpage
                </span>
            </a>
            <a href="https://github.com/MikeMitterer/dart-material-design-lite/tree/master/samples/template_text-only"
               class="mdl-color-text--400 github" target="_blank">
                Source on GitHub
            </a>
        </li>
        
        <li>
            <a href="http://samples.material-design-lite.pub/template_article/index.html" target="_blank" class="mdl-color-text--700">
                <span class="mdl-list-view--avatar mdl-color--200">
                    <img src="assets/images/template-article.jpg">
                </span>
                <span class="mdl-list-view--name">
                    Stand-Alone Article
                </span>
            </a>
            <a href="https://github.com/MikeMitterer/dart-material-design-lite/tree/master/samples/template_article"
               class="mdl-color-text--400 github" target="_blank">
                Source on GitHub
            </a>
        </li>
        
        <li>
            <a href="http://samples.material-design-lite.pub/template_fixed-header/index.html" target="_blank" class="mdl-color-text--700">
                <span class="mdl-list-view--avatar mdl-color--200">
                    <img src="assets/images/template-fixed-header.jpg">
                </span>
                <span class="mdl-list-view--name">
                    Small apps
                </span>
            </a>
            <a href="https://github.com/MikeMitterer/dart-material-design-lite/tree/master/samples/template_fixed-header"
               class="mdl-color-text--400 github" target="_blank">
                Source on GitHub
            </a>
        </li>
        
        <li>
            <a href="http://samples.material-design-lite.pub/template_sticky-footer/index.html" target="_blank" class="mdl-color-text--700">
                <span class="mdl-list-view--avatar mdl-color--200">
                    <img src="assets/images/template-sticky-footer.jpg">
                </span>
                <span class="mdl-list-view--name">
                    Sticky footer
                </span>
            </a>
            <a href="https://github.com/MikeMitterer/dart-material-design-lite/tree/master/samples/template_sticky-footer"
               class="mdl-color-text--400 github" target="_blank">
                Source on GitHub
            </a>
        </li>
        
    </ul></div>
</section>
