<section class="demo-section demo-section--todo demo-page--todo">
    <div id="usage" class="mdl-include mdl-js-include" data-url="views/usage/todo.html">
        Loading...
    </div>
    <div class="demo-preview-block">
        <div class="mdl-textfield mdl-js-textfield">
            <input id="item" class="mdl-textfield__input" type="text" autofocus />
            <label class="mdl-textfield__label" for="item">Type Something...</label>
        </div>
        <button id="add" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">
            Add
        </button>
        <span mdl-observe="nrOfItemsDone"></span> /
        <span mdl-observe="nrOfItems"></span>
        <div id="todo" class="todo-items"></div>
    </div>
</section>