&lt;div class=&quot;demo-preview-block&quot;&gt;
  &lt;h2&gt;Transparent header&lt;&#47;h2&gt;
  &lt;p&gt;Uses a header that scrolls with the text, rather than staying
      locked at the top&lt;&#47;p&gt;
  &lt;div class=&quot;demo-layout&quot;&gt;
      &lt;style&gt;
          .layout-transparent {
              box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
              0 3px 1px -2px rgba(0, 0, 0, 0.2),
              0 1px 5px 0 rgba(0, 0, 0, 0.12);
              background: url(&#39;demo-images&#47;transparent.jpg&#39;) center &#47; cover;
          }
          .layout-transparent .mdl-layout__header,
          .layout-transparent .mdl-layout__drawer-button {
              &#47;* This background is dark, so we set text to white. Use 87% black instead if
                 your background is light. *&#47;
              color: white;
          }
          .layout-transparent .mdl-layout__content { background-color: rgba(255,255,255,0.60)}
      &lt;&#47;style&gt;
      &lt;div class=&quot;layout-transparent mdl-layout mdl-js-layout&quot;&gt;
          &lt;header class=&quot;mdl-layout__header mdl-layout__header--transparent&quot;&gt;
              &lt;div class=&quot;mdl-layout__header-row&quot;&gt;
                  &lt;span class=&quot;mdl-layout-title&quot;&gt;Title&lt;&#47;span&gt;
                  &lt;div class=&quot;mdl-layout-spacer&quot;&gt;&lt;&#47;div&gt;
                  &lt;nav class=&quot;mdl-navigation&quot;&gt;
                      &lt;a class=&quot;mdl-navigation__link&quot; href=&quot;&quot;&gt;Link&lt;&#47;a&gt;
                      &lt;a class=&quot;mdl-navigation__link&quot; href=&quot;&quot;&gt;Link&lt;&#47;a&gt;
                      &lt;a class=&quot;mdl-navigation__link&quot; href=&quot;&quot;&gt;Link&lt;&#47;a&gt;
                      &lt;a class=&quot;mdl-navigation__link&quot; href=&quot;&quot;&gt;Link&lt;&#47;a&gt;
                  &lt;&#47;nav&gt;
              &lt;&#47;div&gt;
          &lt;&#47;header&gt;
          &lt;div class=&quot;mdl-layout__drawer&quot;&gt;
              &lt;span class=&quot;mdl-layout-title&quot;&gt;Title&lt;&#47;span&gt;
              &lt;nav class=&quot;mdl-navigation&quot;&gt;
                  &lt;a class=&quot;mdl-navigation__link&quot; href=&quot;&quot;&gt;Link&lt;&#47;a&gt;
                  &lt;a class=&quot;mdl-navigation__link&quot; href=&quot;&quot;&gt;Link&lt;&#47;a&gt;
                  &lt;a class=&quot;mdl-navigation__link&quot; href=&quot;&quot;&gt;Link&lt;&#47;a&gt;
                  &lt;a class=&quot;mdl-navigation__link&quot; href=&quot;&quot;&gt;Link&lt;&#47;a&gt;
              &lt;&#47;nav&gt;
          &lt;&#47;div&gt;
          &lt;main class=&quot;mdl-layout__content&quot;&gt;
              &lt;div class=&quot;page-content&quot;&gt;&lt;&#47;div&gt;
          &lt;&#47;main&gt;
      &lt;&#47;div&gt;
  &lt;&#47;div&gt;
  &lt;h2&gt;Fixed drawer, no header&lt;&#47;h2&gt;
  &lt;p&gt; No header, and the drawer stays open on larger screens (fixed drawer).&lt;&#47;p&gt;
    &lt;style&gt;
        .fixed-drawer-container {
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
            0 3px 1px -2px rgba(0, 0, 0, 0.2),
            0 1px 5px 0 rgba(0, 0, 0, 0.12);
            width: 100%;
            position: relative;
            height: 300px;
        }
        .fixed-drawer-container .mdl-layout__content {
            background: white;
        }
    &lt;&#47;style&gt;
  &lt;div class=&quot;demo-layout fixed-drawer-container&quot;&gt;
      &lt;div class=&quot;mdl-layout mdl-js-layout mdl-layout--fixed-header&quot;&gt;
          &lt;header class=&quot;mdl-layout__header&quot;&gt;
              &lt;div class=&quot;mdl-layout__header-row&quot;&gt;
                  &lt;span class=&quot;mdl-layout-title&quot;&gt;Title&lt;&#47;span&gt;
                  &lt;div class=&quot;mdl-layout-spacer&quot;&gt;&lt;&#47;div&gt;
                  &lt;nav class=&quot;mdl-navigation mdl-layout--large-screen-only&quot;&gt;
                      &lt;a class=&quot;mdl-navigation__link&quot; href=&quot;&quot;&gt;Link&lt;&#47;a&gt;
                      &lt;a class=&quot;mdl-navigation__link&quot; href=&quot;&quot;&gt;Link&lt;&#47;a&gt;
                      &lt;a class=&quot;mdl-navigation__link&quot; href=&quot;&quot;&gt;Link&lt;&#47;a&gt;
                      &lt;a class=&quot;mdl-navigation__link&quot; href=&quot;&quot;&gt;Link&lt;&#47;a&gt;
                  &lt;&#47;nav&gt;
              &lt;&#47;div&gt;
          &lt;&#47;header&gt;
          &lt;div class=&quot;mdl-layout__drawer&quot;&gt;
              &lt;span class=&quot;mdl-layout-title&quot;&gt;Title&lt;&#47;span&gt;
              &lt;nav class=&quot;mdl-navigation&quot;&gt;
                  &lt;a class=&quot;mdl-navigation__link&quot; href=&quot;&quot;&gt;Link&lt;&#47;a&gt;
                  &lt;a class=&quot;mdl-navigation__link&quot; href=&quot;&quot;&gt;Link&lt;&#47;a&gt;
                  &lt;a class=&quot;mdl-navigation__link&quot; href=&quot;&quot;&gt;Link&lt;&#47;a&gt;
                  &lt;a class=&quot;mdl-navigation__link&quot; href=&quot;&quot;&gt;Link&lt;&#47;a&gt;
              &lt;&#47;nav&gt;
          &lt;&#47;div&gt;
          &lt;main class=&quot;mdl-layout__content&quot;&gt;
              &lt;div class=&quot;page-content&quot;&gt;&lt;&#47;div&gt;
          &lt;&#47;main&gt;
      &lt;&#47;div&gt;
  &lt;&#47;div&gt;
  &lt;h2&gt;Fixed header and drawer&lt;&#47;h2&gt;
  &lt;p&gt;The drawer is always open in large screens. The header is always shown,
      even in small screens.&lt;&#47;p&gt;
    &lt;style&gt;
        .fixed-header-drawer-container {
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
            0 3px 1px -2px rgba(0, 0, 0, 0.2),
            0 1px 5px 0 rgba(0, 0, 0, 0.12);
            width: 100%;
            position: relative;
            height: 300px;
        }
        .fixed-header-drawer-container .mdl-layout__content {
            background: white;
        }
    &lt;&#47;style&gt;
  &lt;div class=&quot;demo-layout fixed-header-drawer-container&quot;&gt;
      &lt;div class=&quot;demo-layout&quot;&gt;
          &lt;div class=&quot;mdl-layout mdl-js-layout mdl-layout--fixed-drawer
            mdl-layout--fixed-header&quot;&gt;
              &lt;header class=&quot;mdl-layout__header&quot;&gt;
                  &lt;div class=&quot;mdl-layout__header-row&quot;&gt;
                      &lt;div class=&quot;mdl-layout-spacer&quot;&gt;&lt;&#47;div&gt;
                      &lt;div class=&quot;mdl-textfield mdl-js-textfield mdl-textfield--expandable
                  mdl-textfield--floating-label mdl-textfield--align-right&quot;&gt;
                          &lt;label class=&quot;mdl-button mdl-js-button mdl-button--icon&quot;
                                 for=&quot;fixed-header-drawer-exp&quot;&gt;
                              &lt;i class=&quot;material-icons&quot;&gt;search&lt;&#47;i&gt;
                          &lt;&#47;label&gt;
                          &lt;div class=&quot;mdl-textfield__expandable-holder&quot;&gt;
                              &lt;input class=&quot;mdl-textfield__input&quot; type=&quot;text&quot; name=&quot;sample&quot;
                                     id=&quot;fixed-header-drawer-exp&quot; &gt;
                          &lt;&#47;div&gt;
                      &lt;&#47;div&gt;
                  &lt;&#47;div&gt;
              &lt;&#47;header&gt;
              &lt;div class=&quot;mdl-layout__drawer&quot;&gt;
                  &lt;span class=&quot;mdl-layout-title&quot;&gt;Title&lt;&#47;span&gt;
                  &lt;nav class=&quot;mdl-navigation&quot;&gt;
                      &lt;a class=&quot;mdl-navigation__link&quot; href=&quot;&quot;&gt;Link&lt;&#47;a&gt;
                      &lt;a class=&quot;mdl-navigation__link&quot; href=&quot;&quot;&gt;Link&lt;&#47;a&gt;
                      &lt;a class=&quot;mdl-navigation__link&quot; href=&quot;&quot;&gt;Link&lt;&#47;a&gt;
                      &lt;a class=&quot;mdl-navigation__link&quot; href=&quot;&quot;&gt;Link&lt;&#47;a&gt;
                  &lt;&#47;nav&gt;
              &lt;&#47;div&gt;
              &lt;main class=&quot;mdl-layout__content&quot;&gt;
              &lt;&#47;main&gt;
          &lt;&#47;div&gt;
      &lt;&#47;div&gt;
  &lt;&#47;div&gt;
  &lt;h2&gt;Scrolling header&lt;&#47;h2&gt;
  &lt;p&gt;Uses a header that scrolls with the text, rather than staying
      locked at the top&lt;&#47;p&gt;
    &lt;style&gt;
        .scrolling-header-container {
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
            0 3px 1px -2px rgba(0, 0, 0, 0.2),
            0 1px 5px 0 rgba(0, 0, 0, 0.12);
            width: 100%;
            position: relative;
            height: 300px;
        }
        .scrolling-header-container .page-content {
            height: 600px;
            background: white;
        }
        .scrolling-header-container .mdl-layout__container.has-scrolling-header .mdl-layout__content {
            overflow: visible;
        }
    &lt;&#47;style&gt;
    &lt;div class=&quot;demo-layout scrolling-header-container&quot;&gt;
          &lt;div class=&quot;mdl-layout mdl-js-layout mdl-layout--overlay-drawer-button&quot;&gt;
              &lt;header class=&quot;mdl-layout__header mdl-layout__header--scroll&quot;&gt;
                  &lt;div class=&quot;mdl-layout__header-row&quot;&gt;
                      &lt;span class=&quot;mdl-layout-title&quot;&gt;Title&lt;&#47;span&gt;
                      &lt;div class=&quot;mdl-layout-spacer&quot;&gt;&lt;&#47;div&gt;
                      &lt;nav class=&quot;mdl-navigation&quot;&gt;
                          &lt;a class=&quot;mdl-navigation__link&quot; href=&quot;&quot;&gt;Link&lt;&#47;a&gt;
                          &lt;a class=&quot;mdl-navigation__link&quot; href=&quot;&quot;&gt;Link&lt;&#47;a&gt;
                          &lt;a class=&quot;mdl-navigation__link&quot; href=&quot;&quot;&gt;Link&lt;&#47;a&gt;
                          &lt;a class=&quot;mdl-navigation__link&quot; href=&quot;&quot;&gt;Link&lt;&#47;a&gt;
                      &lt;&#47;nav&gt;
                  &lt;&#47;div&gt;
              &lt;&#47;header&gt;
              &lt;div class=&quot;mdl-layout__drawer&quot;&gt;
                  &lt;span class=&quot;mdl-layout-title&quot;&gt;Title&lt;&#47;span&gt;
                  &lt;nav class=&quot;mdl-navigation&quot;&gt;
                      &lt;a class=&quot;mdl-navigation__link&quot; href=&quot;&quot;&gt;Link&lt;&#47;a&gt;
                      &lt;a class=&quot;mdl-navigation__link&quot; href=&quot;&quot;&gt;Link&lt;&#47;a&gt;
                      &lt;a class=&quot;mdl-navigation__link&quot; href=&quot;&quot;&gt;Link&lt;&#47;a&gt;
                      &lt;a class=&quot;mdl-navigation__link&quot; href=&quot;&quot;&gt;Link&lt;&#47;a&gt;
                  &lt;&#47;nav&gt;
              &lt;&#47;div&gt;
              &lt;main class=&quot;mdl-layout__content&quot;&gt;
                  &lt;div class=&quot;page-content&quot;&gt;&lt;&#47;div&gt;
              &lt;&#47;main&gt;
          &lt;&#47;div&gt;
  &lt;&#47;div&gt;
  &lt;h2&gt;Waterfall header&lt;&#47;h2&gt;
  &lt;p&gt;Uses a header that contracts as the page scrolls down.&lt;&#47;p&gt;
  &lt;div class=&quot;demo-layout&quot;&gt;
      &lt;style&gt;
          .waterfall-header-container {
              box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
              0 3px 1px -2px rgba(0, 0, 0, 0.2),
              0 1px 5px 0 rgba(0, 0, 0, 0.12);
              width: 100%;
              position: relative;
              height: 300px;
          }
          .waterfall-header-container .page-content {
              height: 600px;
              background: white;
          }
      &lt;&#47;style&gt;
      &lt;div class=&quot;waterfall-header-container&quot;&gt;
      &lt;style&gt;
          .waterfall-demo-header-nav .mdl-navigation__link:last-of-type  {
              padding-right: 0;
          }
      &lt;&#47;style&gt;
          &lt;div class=&quot;mdl-layout mdl-js-layout mdl-layout--overlay-drawer-button&quot;&gt;
              &lt;header class=&quot;mdl-layout__header mdl-layout__header--waterfall&quot;&gt;
                  &lt;div class=&quot;mdl-layout__header-row&quot;&gt;
                      &lt;span class=&quot;mdl-layout-title&quot;&gt;Title&lt;&#47;span&gt;
                      &lt;div class=&quot;mdl-layout-spacer&quot;&gt;&lt;&#47;div&gt;
                      &lt;div class=&quot;mdl-textfield mdl-js-textfield mdl-textfield--expandable
                      mdl-textfield--floating-label mdl-textfield--align-right&quot;&gt;
                          &lt;label class=&quot;mdl-button mdl-js-button mdl-button--icon&quot;
                                 for=&quot;waterfall-exp&quot;&gt;
                              &lt;i class=&quot;material-icons&quot;&gt;search&lt;&#47;i&gt;
                          &lt;&#47;label&gt;
                          &lt;div class=&quot;mdl-textfield__expandable-holder&quot;&gt;
                              &lt;input class=&quot;mdl-textfield__input&quot; type=&quot;text&quot; name=&quot;sample&quot;
                                     id=&quot;waterfall-exp&quot; &gt;
                          &lt;&#47;div&gt;
                      &lt;&#47;div&gt;
                  &lt;&#47;div&gt;
                  &lt;div class=&quot;mdl-layout__header-row&quot;&gt;
                      &lt;div class=&quot;mdl-layout-spacer&quot;&gt;&lt;&#47;div&gt;
                      &lt;nav class=&quot;waterfall-demo-header-nav mdl-navigation&quot;&gt;
                          &lt;a class=&quot;mdl-navigation__link&quot; href=&quot;&quot;&gt;Link&lt;&#47;a&gt;
                          &lt;a class=&quot;mdl-navigation__link&quot; href=&quot;&quot;&gt;Link&lt;&#47;a&gt;
                          &lt;a class=&quot;mdl-navigation__link&quot; href=&quot;&quot;&gt;Link&lt;&#47;a&gt;
                          &lt;a class=&quot;mdl-navigation__link&quot; href=&quot;&quot;&gt;Link&lt;&#47;a&gt;
                      &lt;&#47;nav&gt;
                  &lt;&#47;div&gt;
              &lt;&#47;header&gt;
              &lt;div class=&quot;mdl-layout__drawer&quot;&gt;
                  &lt;span class=&quot;mdl-layout-title&quot;&gt;Title&lt;&#47;span&gt;
                  &lt;nav class=&quot;mdl-navigation&quot;&gt;
                      &lt;a class=&quot;mdl-navigation__link&quot; href=&quot;&quot;&gt;Link&lt;&#47;a&gt;
                      &lt;a class=&quot;mdl-navigation__link&quot; href=&quot;&quot;&gt;Link&lt;&#47;a&gt;
                      &lt;a class=&quot;mdl-navigation__link&quot; href=&quot;&quot;&gt;Link&lt;&#47;a&gt;
                      &lt;a class=&quot;mdl-navigation__link&quot; href=&quot;&quot;&gt;Link&lt;&#47;a&gt;
                  &lt;&#47;nav&gt;
              &lt;&#47;div&gt;
              &lt;main class=&quot;mdl-layout__content&quot;&gt;
                  &lt;div class=&quot;page-content&quot;&gt;&lt;&#47;div&gt;
              &lt;&#47;main&gt;
          &lt;&#47;div&gt;
      &lt;&#47;div&gt;
  &lt;&#47;div&gt;
  &lt;h2&gt;Scrollable tabs&lt;&#47;h2&gt;
  &lt;p&gt;Simple header with scrollable tabs.&lt;&#47;p&gt;
  &lt;div class=&quot;demo-layout scrollable-tabs-container&quot;&gt;
      &lt;style&gt;
          .scrollable-tabs-container {
              box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
              0 3px 1px -2px rgba(0, 0, 0, 0.2),
              0 1px 5px 0 rgba(0, 0, 0, 0.12);
              width: 100%;
              position: relative;
              height: 300px;
          }
          .scrollable-tabs-container .mdl-layout__content {
              background: white;
          }
      &lt;&#47;style&gt;
      &lt;div class=&quot;mdl-layout mdl-js-layout mdl-layout--fixed-header&quot;&gt;
          &lt;header class=&quot;mdl-layout__header&quot;&gt;
              &lt;div class=&quot;mdl-layout__header-row&quot;&gt;
                  &lt;span class=&quot;mdl-layout-title&quot;&gt;Title&lt;&#47;span&gt;
              &lt;&#47;div&gt;
              &lt;div class=&quot;mdl-layout__tab-bar mdl-js-ripple-effect&quot;&gt;
                  &lt;a href=&quot;#scroll-tab-1&quot; class=&quot;mdl-layout__tab is-active&quot;&gt;Tab 1&lt;&#47;a&gt;
                  &lt;a href=&quot;#scroll-tab-2&quot; class=&quot;mdl-layout__tab&quot;&gt;Tab 2&lt;&#47;a&gt;
                  &lt;a href=&quot;#scroll-tab-3&quot; class=&quot;mdl-layout__tab&quot;&gt;Tab 3&lt;&#47;a&gt;
                  &lt;a href=&quot;#scroll-tab-4&quot; class=&quot;mdl-layout__tab&quot;&gt;Tab 4&lt;&#47;a&gt;
                  &lt;a href=&quot;#scroll-tab-5&quot; class=&quot;mdl-layout__tab&quot;&gt;Tab 5&lt;&#47;a&gt;
                  &lt;a href=&quot;#scroll-tab-6&quot; class=&quot;mdl-layout__tab&quot;&gt;Tab 6&lt;&#47;a&gt;
              &lt;&#47;div&gt;
          &lt;&#47;header&gt;
          &lt;div class=&quot;mdl-layout__drawer&quot;&gt;
              &lt;span class=&quot;mdl-layout-title&quot;&gt;Title&lt;&#47;span&gt;
          &lt;&#47;div&gt;
          &lt;main class=&quot;mdl-layout__content&quot;&gt;
              &lt;section class=&quot;mdl-layout__tab-panel is-active demo-layout__content-red&quot; id=&quot;scroll-tab-1&quot;&gt;
                  &lt;div class=&quot;page-content&quot;&gt;&lt;&#47;div&gt;
                                &lt;section class=&quot;mdl-layout__tab-panel demo-layout__content-green&quot; id=&quot;scroll-tab-2&quot;&gt;
                  &lt;div class=&quot;page-content&quot;&gt;&lt;&#47;div&gt;
              &lt;&#47;section&gt;
              &lt;section class=&quot;mdl-layout__tab-panel demo-layout__content-blue&quot; id=&quot;scroll-tab-3&quot;&gt;
                  &lt;div class=&quot;page-content&quot;&gt;&lt;&#47;div&gt;
              &lt;&#47;section&gt;
              &lt;section class=&quot;mdl-layout__tab-panel demo-layout__content-red&quot; id=&quot;scroll-tab-4&quot;&gt;
                  &lt;div class=&quot;page-content&quot;&gt;&lt;&#47;div&gt;
              &lt;&#47;section&gt;
              &lt;section class=&quot;mdl-layout__tab-panel  demo-layout__content-green&quot; id=&quot;scroll-tab-5&quot;&gt;
                  &lt;div class=&quot;page-content&quot;&gt;&lt;&#47;div&gt;
              &lt;&#47;section&gt;
              &lt;section class=&quot;mdl-layout__tab-panel demo-layout__content-blue&quot; id=&quot;scroll-tab-6&quot;&gt;
                  &lt;div class=&quot;page-content&quot;&gt;&lt;&#47;div&gt;
              &lt;&#47;section&gt;
          &lt;&#47;main&gt;
      &lt;&#47;div&gt;
  &lt;&#47;div&gt;
  &lt;h2&gt;Fixed tabs&lt;&#47;h2&gt;
  &lt;p&gt;Simple header with fixed tabs.&lt;&#47;p&gt;
  &lt;div class=&quot;demo-layout fixed-tabs-container&quot;&gt;
      &lt;style&gt;
          .fixed-tabs-container {
              box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
              0 3px 1px -2px rgba(0, 0, 0, 0.2),
              0 1px 5px 0 rgba(0, 0, 0, 0.12);
              width: 100%;
              position: relative;
              height: 300px;
          }
          .fixed-tabs-container .mdl-layout__content {
              background: white;
          }
      &lt;&#47;style&gt;
      &lt;div class=&quot;mdl-layout mdl-js-layout mdl-layout--fixed-header
            mdl-layout--fixed-tabs&quot;&gt;
          &lt;header class=&quot;mdl-layout__header&quot;&gt;
              &lt;div class=&quot;mdl-layout__header-row&quot;&gt;
                  &lt;span class=&quot;mdl-layout-title&quot;&gt;Title&lt;&#47;span&gt;
              &lt;&#47;div&gt;
              &lt;div class=&quot;mdl-layout__tab-bar mdl-js-ripple-effect&quot;&gt;
                  &lt;a href=&quot;#fixed-tab-1&quot; class=&quot;mdl-layout__tab is-active&quot;&gt;Tab 1&lt;&#47;a&gt;
                  &lt;a href=&quot;#fixed-tab-2&quot; class=&quot;mdl-layout__tab&quot;&gt;Tab 2&lt;&#47;a&gt;
                  &lt;a href=&quot;#fixed-tab-3&quot; class=&quot;mdl-layout__tab&quot;&gt;Tab 3&lt;&#47;a&gt;
              &lt;&#47;div&gt;
          &lt;&#47;header&gt;
          &lt;div class=&quot;mdl-layout__drawer&quot;&gt;
              &lt;span class=&quot;mdl-layout-title&quot;&gt;Title&lt;&#47;span&gt;
          &lt;&#47;div&gt;
          &lt;main class=&quot;mdl-layout__content&quot;&gt;
              &lt;section class=&quot;mdl-layout__tab-panel is-active demo-layout__content-red&quot; id=&quot;fixed-tab-1&quot;&gt;
                  &lt;div class=&quot;page-content&quot;&gt;&lt;&#47;div&gt;
              &lt;&#47;section&gt;
              &lt;section class=&quot;mdl-layout__tab-panel demo-layout__content-green&quot; id=&quot;fixed-tab-2&quot;&gt;
                  &lt;div class=&quot;page-content&quot;&gt;&lt;&#47;div&gt;
              &lt;&#47;section&gt;
              &lt;section class=&quot;mdl-layout__tab-panel demo-layout__content-blue&quot; id=&quot;fixed-tab-3&quot;&gt;
                  &lt;div class=&quot;page-content&quot;&gt;&lt;&#47;div&gt;
              &lt;&#47;section&gt;
          &lt;&#47;main&gt;
      &lt;&#47;div&gt;
  &lt;&#47;div&gt;
&lt;&#47;div&gt;
&lt;&#47;section&gt;
