<!doctype html>
<html>
<head>
    <title>Lablefield Test</title>
    <link rel="x-dart-test" href="labelfield_test.dart">
    <script src="packages/test/dart.js"></script>
</head>
<body>
<div class="ui-test ui-test---lablefield">
    <div class="mdl-form">
        <h5 class="mdl-form__title">Labels</h5>
        <div class="mdl-form__content">
            <div id="search_engine" class="mdl-labelfield mdl-labelfield--with-border">
                <label class="mdl-labelfield__label ">Search engine</label>
                <div class="mdl-labelfield__text">Google</div>
            </div>
            <div id="interruption" class="mdl-labelfield mdl-labelfield--with-border">
                <label class="mdl-labelfield__label">Interruptions</label>
            </div>
            <div id="ringtone" class="mdl-labelfield mdl-labelfield--with-border">
                <label class="mdl-labelfield__label">Phone ringtone</label>
                <div class="mdl-labelfield__text">Titania</div>
            </div>
            <div class="mdl-labelfield">
                <label class="mdl-labelfield__label">Start time</label>
                <div class="mdl-labelfield__text">10:00 AM</div>
            </div>
        </div>
        <div class="mdl-form__actions">
            <button class="mdl-button mdl-js-button mdl-js-ripple-effect">Change values</button>
        </div>
    </div>
</div>
</body>
</html>