@import "config";
@import "packages/mdl/assets/styles/_config/show_config";

// Only needed to switch themes correctly!!!!!
@import "packages/mdl/assets/styles/fonts/fonts";

//@import "packages/mdl/assets/themes/amber-indigo/material-design-lite";
//@import "packages/mdl/assets/styles/material-design-lite";

// for layout
// @import "packages/mdl/assets/styles/icons/icons";
@import "packages/mdl/assets/styles/mixins/mixins";
@import "packages/mdl/assets/styles/animation/animation";
//@import "packages/mdl/assets/styles/layout/layout";
@import "assets/styles/_demo";


html, body {
    height: 100%;
    box-sizing: border-box;
}

body {
    margin  : 0;
    padding : 0;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start; // ⇾
    align-content: space-between; // ||
    align-items: stretch; // ↓

    a {
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    ol.linenums {
        margin-left: 0;
    }

}


.styleguide.mdl-layout {
    flex-grow: 1;

    &.is-small-screen {

    }

    > .mdl-layout__header {
        .mdl-layout__header-row {

            padding-left: 24px;

            .mdl-layout-title {
                text-transform : capitalize;
            }
        }
    }

    &.mdl-layout--fixed-drawer.is-small-screen {

        .mdl-layout__header-row {
            padding-left: 60px;
        }
    }

    > .mdl-layout__drawer {
        //.mdl-layout-title {
        //    color            : $layout-header-text-color;
        //    background-color : $layout-header-bg-color;
        //}
        overflow: scroll;
        border-right: none;

        height: calc(100% - 48px);

        .mdl-navigation {
            //padding-top : 24px;

            .mdl-accordion {

                input:checked ~ .mdl-accordion--content {
                    padding-top : 12px;
                    padding-bottom : 12px;
                    transition: all 0.3s ease-in-out;
                    opacity: 1;
                }

                .mdl-accordion--content {
                    box-sizing  : border-box;
                    margin      : 0;
                    padding     : 0;

                    .mdl-navigation__link {
                        padding        : 5px 48px 5px 48px;
                        text-transform : capitalize;
                        display        : block;
                        font-weight    : 600;
                    }
                    opacity: 0;
                    transition: all 0.3s ease-in-out;

                }
            }
        }
    }


    > .mdl-layout__content {

        box-sizing      : border-box;

        .mdl-content {
            // Align lastmod at bottom of page
            //min-height: calc(100vh - 160px);
            margin    : 0 24px 24px 24px;
        }

        .lastmod {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-end; // ⇾
            align-content: space-between; // ||
            align-items: center; // ↓

            padding    : 8px;
            height: 24px;
        }

        h6 {
            margin-bottom: 0;
            line-height: initial;
        }
    }



    > .mdl-sticky-mini-footer {
        .gh-link, .mm-link { margin-bottom: 0; }

        .additional-info {
            font-size: 12px;

            @media (max-width: 870px) {
                display: none;
            }
        }
        .mm-link {
            font-size: 12px;
            // margin-right: 12px;

            @media (max-width: 680px) {
                display: none;
            }
        }

    }
}

.usage {

    &.mdl-accordion-group {

        .mdl-accordion {
            margin-bottom: 12px;

            .mdl-icon--remove-red-eye {
                padding: 0 12px;
            }

            .mdl-accordion__label {
                border: none;
                border-radius: 5px;
            }

        }

        .linkinfo {
            margin: 8px;
        }
    }

    .linkinfo {
        margin: 8px;

        .csslink {
            padding: 4px;
            text-align: center;
        }
    }
}

.demo-section {
    margin-top    : 24px;

    //h1, h2, h3, h4, h5 {
    //    margin-top    : 24px;
    //    margin-bottom : 12px;
    //}

    h1, h2, h3, h4, h5 {
        font-size: 24px;
        line-height: 1.3;

        color: $color-primary-dark;
    }
}
