@import "packages/mdl/assets/styles/material-design-lite";
@import "assets/styles/_demo";

body {
    margin: 0;
    padding: 0;
}

.mdl-layout__drawer .mdl-navigation__link {
    padding: 4px 24px;
}
