//@import "packages/mdl/assets/themes/amber-indigo/material-design-lite";
//@import "packages/mdl/assets/styles/material-design-lite";
@import "packages/mdl/assets/styles/fonts/fonts";
// for layout
// @import "packages/mdl/assets/styles/icons/icons";
@import "packages/mdl/assets/styles/mixins/mixins";
@import "packages/mdl/assets/styles/animation/animation";
//@import "packages/mdl/assets/styles/layout/layout";
@import "assets/styles/_demo";

html, body {
    height: 100%;
    box-sizing: border-box;
}

body {
    margin  : 0;
    padding : 0;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start; // ⇾
    align-content: space-between; // ||
    align-items: stretch; // ↓

    a {
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    ol.linenums {
        margin-left: 0;
    }

}


.mdl-layout {
    flex-grow: 1;

    .mdl-layout__header {
        .mdl-layout-title {
            text-transform : capitalize;
        }
    }

    .mdl-layout__drawer {
        //.mdl-layout-title {
        //    color            : $layout-header-text-color;
        //    background-color : $layout-header-bg-color;
        //}

        border-right: none;

        .mdl-navigation {
            //padding-top : 24px;

            .mdl-accordion {

                input:checked ~ .mdl-accordion--content {
                    padding-top : 12px;
                    padding-bottom : 12px;
                    transition: all 0.3s ease-in-out;
                }

                .mdl-accordion--content {
                    box-sizing  : border-box;
                    margin      : 0;
                    padding     : 0;

                    .mdl-navigation__link {
                        padding        : 5px 48px 5px 48px;
                        text-transform : capitalize;
                        display        : block;
                    }

                    transition: padding 0.3s ease-in-out;

                }
            }
        }
    }


    .mdl-layout__content {
        box-sizing      : border-box;

        .mdl-content {
            // Align lastmod at bottom of page
            min-height: calc(100vh - 160px);
            margin    : 0 24px 24px 24px;
        }

        .lastmod {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-end; // ⇾
            align-content: space-between; // ||
            align-items: center; // ↓

            padding    : 8px;
            height: 24px;
        }
    }

}

.usage {

    &.mdl-accordion-group {

        .mdl-accordion {
            margin-bottom: 12px;

            .mdl-icon--remove-red-eye {
                padding: 0 12px;
            }

            .mdl-accordion__label {
                border: none;
                border-radius: 5px;
            }

        }

        .linkinfo {
            margin: 8px;
        }
    }

    .linkinfo {
        margin: 8px;

        .csslink {
            padding: 4px;
            text-align: center;
        }
    }
}

.demo-section {
    margin-top    : 24px;

    h1, h2, h3, h4, h5 {
        margin-top    : 24px;
        margin-bottom : 12px;
    }
}
