<div class="mdl-accordion-group mdl-js-accordion mdl-js-ripple-effect usage usage-badge">
    <!-- Panel 1 -->
    <div class="mdl-accordion">
        <label class="mdl-accordion__label mdl-color--200">
            <i class="material-icons mdl-icon--remove-red-eye mdl-color-text--primary">remove_red_eye</i>
            Basic Usage
            <i class="material-icons indicator right mdl-color-text--primary">chevron_right</i>
        </label>
        <div class="mdl-accordion--content">
            <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
                <!-- TabBar -->
                <div class="mdl-tabs__tab-bar">
                    <a href="#dart" class="mdl-tabs__tab is-active">Dart</a>
                    <a href="#html" class="mdl-tabs__tab">HTML</a>
                    <a href="#css" class="mdl-tabs__tab">README</a>
                </div>
                <!-- Dart-Tab -->
                <div class="mdl-tabs__panel is-active" id="dart">
                <pre class="prettyprint linenums lang-dart">
import &#39;package:mdl&#47;mdl.dart&#39;;

main() &#123;
    final Logger _logger = new Logger(&#39;main.MaterialBadge&#39;);
    registerMdl();
    componentFactory().run().then((_) &#123;
        final MaterialBadge badge1 = MaterialBadge.widget(dom.querySelector(&quot;#el1&quot;));
        int counter = 1;
        new Timer.periodic(new Duration(milliseconds: 100), (_) &#123;
            if(counter &gt; 999) &#123;
                counter = 1;
            &#125;
            badge1.value = counter.toString();
            _logger.info(&quot;Current Badge-Value: $&#123;badge1.value&#125;&quot;);
            counter++;
        &#125;);
    &#125;);
&#125;</pre>
                </div>
                <!-- HTML-Tab -->
                <div class="mdl-tabs__panel" id="html">
                <div class="linkinfo">
                    To use any MDL component, you must include the minified CSS file in the &lt;head&gt; section of the page:<br>
                    <div class="csslink mdl-color-text--accent-500">
                    &lt;link rel=&quot;stylesheet&quot; href=&quot;https://cdn.rawgit.com/MikeMitterer/dart-mdl-theme/master/blue_grey-pink/material.min.css&quot;&gt;<br>
                    </div>
                    More about <a href="/#/theming">theming...</a>
                </div>
                <pre class="prettyprint linenums lang-html">
&lt;div class=&quot;demo-preview-block&quot;&gt;
    &lt;section class=&quot;toolbar&quot;&gt;
        &lt;div class=&quot;toolbar&quot;&gt;
            &lt;div class=&quot;wrapper&quot;&gt;
                &lt;div id=&quot;el1&quot; class=&quot;material-icons mdl-badge mdl-js-badge&quot; data-badge=&quot;1&quot;&gt;print&lt;&#47;div&gt;
            &lt;&#47;div&gt;
            &lt;div class=&quot;wrapper&quot;&gt;
                &lt;div id=&quot;el2&quot; class=&quot;material-icons mdl-badge&quot; data-badge=&quot;♥&quot;&gt;cloud_upload&lt;&#47;div&gt;
            &lt;&#47;div&gt;
            &lt;div class=&quot;wrapper&quot;&gt;
                &lt;div id=&quot;el3&quot; class=&quot;material-icons mdl-badge&quot; data-badge=&quot;99&quot;&gt;share&lt;&#47;div&gt;
            &lt;&#47;div&gt;
        &lt;&#47;div&gt;
        &lt;p&gt;
            &lt;strong&gt;Hint:&lt;&#47;strong&gt; Check your log and you&#39;ll see the values for the first badge...
        &lt;&#47;p&gt;
            &lt;section class=&quot;icon-icon&quot;&gt;
        &lt;style&gt;
            .demo-badge__badge-on-icon-icon .mdl-badge {
                color: rgba(0, 0, 0, 0.24);
            }
            .demo-badge__badge-on-icon-icon .mdl-badge.material-icons {
                font-size: 32px;
            }
        &lt;&#47;style&gt;
        &lt;div class=&quot;material-icons mdl-badge mdl-badge--overlap&quot; data-badge=&quot;♥&quot;&gt;account_box&lt;&#47;div&gt;
        &lt;p&gt;Icon on badge&lt;&#47;p&gt;
    &lt;&#47;section&gt;
    &lt;section class=&quot;icon-text&quot;&gt;
        &lt;style&gt;
            .demo-badge__badge-on-icon-text .mdl-badge {
                color: rgba(0, 0, 0, 0.24);
            }
            .demo-badge__badge-on-icon-text .mdl-badge.material-icons {
                font-size: 32px;
            }
        &lt;&#47;style&gt;
        &lt;div class=&quot;material-icons mdl-badge mdl-badge--overlap&quot; data-badge=&quot;1&quot;&gt;account_box&lt;&#47;div&gt;
        &lt;p&gt;Number badge on icon&lt;&#47;p&gt;
    &lt;&#47;section&gt;
    &lt;section class=&quot;text&quot;&gt;
        &lt;h5&gt;Text&lt;&#47;h5&gt;
        &lt;span class=&quot;mdl-badge&quot; data-badge=&quot;42&quot;&gt;I am in a span&lt;&#47;span&gt;
        &lt;span class=&quot;mdl-badge&quot; data-badge=&quot;!&quot;&gt;Me too&lt;&#47;span&gt;
        &lt;div class=&quot;mdl-badge&quot; data-badge=&quot;99&quot;&gt;I am in a div, but that makes no sense here&lt;&#47;div&gt;
        &lt;span class=&quot;mdl-badge&quot;&gt;I have &lt;strong&gt;no&lt;&#47;strong&gt; data-badge!&lt;&#47;span&gt; &lt;span class=&quot;mdl-badge&quot; data-badge=&quot;88&quot;&gt;But I have one&lt;&#47;span&gt;
        &lt;p style=&quot;margin-top: 1em&quot;&gt;Right margin is set &lt;strong&gt;automatically&lt;&#47;strong&gt;, top margin is left to you - it
            depends too much on the situation&lt;&#47;p&gt;
    &lt;&#47;section&gt;
    &lt;section class=&quot;links&quot;&gt;
        &lt;h5&gt;Links&lt;&#47;h5&gt;
        &lt;a href=&quot;#&quot; class=&quot;mdl-badge&quot; data-badge=&quot;10&quot;&gt;Hello&lt;&#47;a&gt;
        &lt;a href=&quot;#&quot; class=&quot;mdl-badge&quot; data-badge=&quot;1&quot;&gt;Hello&lt;&#47;a&gt;
        &lt;a href=&quot;#&quot; class=&quot;mdl-badge mdl-badge--no-background&quot; data-badge=&quot;1&quot;&gt;no background&lt;&#47;a&gt;
        &lt;div class=&quot;dark&quot;&gt;
            &lt;a href=&quot;#&quot; class=&quot;mdl-badge&quot; data-badge=&quot;1&quot;&gt;Simulate header&lt;&#47;a&gt;
            &lt;a href=&quot;#&quot; class=&quot;mdl-badge mdl-badge--no-background&quot; data-badge=&quot;1&quot;&gt;no background&lt;&#47;a&gt;
        &lt;&#47;div&gt;
    &lt;&#47;section&gt;
&lt;&#47;div&gt;
&lt;&#47;section&gt;
</pre>
                </div>
                <!-- CSS-Tab -->
                <div class="mdl-tabs__panel" id="css">
<h2 id="introduction">Introduction</h2>
<p>The Material Design Lite (MDL) <strong>badge</strong> component is an onscreen notification element. A badge consists of a small circle, typically containing a number or other characters, that appears in proximity to another object. A badge can be both a notifier that there are additional items associated with an object and an indicator of how many items there are.</p>
<p>You can use a badge to unobtrusively draw the user's attention to items they might not otherwise notice, or to emphasize that items may need their attention. For example:</p>
<ul>
<li>A &quot;New messages&quot; notification might be followed by a badge containing the number of unread messages.</li>
<li>A &quot;You have unpurchased items in your shopping cart&quot; reminder might include a badge showing the number of items in the cart.</li>
<li>A &quot;Join the discussion!&quot; button might have an accompanying badge indicating the number of users currently participating in the discussion.</li>
</ul>
<p>A badge is almost always positioned near a link so that the user has a convenient way to access the additional information indicated by the badge. However, depending on the intent, the badge itself may or may not be part of the link.</p>
<p>Badges are a new feature in user interfaces, and provide users with a visual clue to help them discover additional relevant content. Their design and use is therefore an important factor in the overall user experience.</p>
<h2 id="basic-use">Basic use</h2>
<p>To use any MDL component, you must include the minified CSS and JavaScript files using standard relative-path references in the <code>&lt;head&gt;</code> section of the page, as described in the MDL Introduction.</p>
<h3 id="to-include-an-mdl-badge-component">To include an MDL <strong>badge</strong> component:</h3>
<p> 1. Code an <code>&lt;a&gt;</code> (anchor/link) or a <code>&lt;span&gt;</code> element. Include any desired attributes and content.</p>
<div class="sourceCode"><pre class="sourceCode html"><code class="sourceCode html"><span class="kw">&lt;a</span><span class="ot"> href=</span><span class="st">&quot;#&quot;</span><span class="kw">&gt;</span>This link has a badge.<span class="kw">&lt;/a&gt;</span></code></pre></div>
<p> 2. Add one or more MDL classes, separated by spaces, to the element using the <code>class</code> attribute.</p>
<div class="sourceCode"><pre class="sourceCode html"><code class="sourceCode html"><span class="kw">&lt;a</span><span class="ot"> href=</span><span class="st">&quot;#&quot;</span><span class="ot"> class=</span><span class="st">&quot;mdl-badge&quot;</span><span class="kw">&gt;</span>This link has a badge.<span class="kw">&lt;/a&gt;</span></code></pre></div>
<p> 3. Add a <code>data-badge</code> attribute and quoted string value for the badge.</p>
<div class="sourceCode"><pre class="sourceCode html"><code class="sourceCode html"><span class="kw">&lt;a</span><span class="ot"> href=</span><span class="st">&quot;#&quot;</span><span class="ot"> class=</span><span class="st">&quot;mdl-badge&quot;</span><span class="ot"> data-badge=</span><span class="st">&quot;5&quot;</span><span class="kw">&gt;</span>This link has a badge.<span class="kw">&lt;/a&gt;</span></code></pre></div>
<p>The badge component is ready for use.</p>
<blockquote>
<p><strong>Note:</strong> Because of the badge component's small size, the <code>data-badge</code> value should typically contain one to three characters. More than three characters will not cause an error, but some characters may fall outside the badge and thus be difficult or impossible to see. The value of the <code>data-badge</code> attribute is centered in the badge.</p>
</blockquote>
<h4 id="examples">Examples</h4>
<p>A badge inside a link.</p>
<div class="sourceCode"><pre class="sourceCode html"><code class="sourceCode html"><span class="kw">&lt;a</span><span class="ot"> href=</span><span class="st">&quot;#&quot;</span><span class="ot"> class=</span><span class="st">&quot;mdl-badge&quot;</span><span class="ot"> data-badge=</span><span class="st">&quot;7&quot;</span><span class="kw">&gt;</span>This link contains a badge.<span class="kw">&lt;/a&gt;</span></code></pre></div>
<p>A badge near, but not included in, a link.</p>
<div class="sourceCode"><pre class="sourceCode html"><code class="sourceCode html"><span class="kw">&lt;a</span><span class="ot"> href=</span><span class="st">&quot;#&quot;</span><span class="kw">&gt;</span>This link is followed by a badge.<span class="kw">&lt;/a&gt;</span>
<span class="kw">&lt;span</span><span class="ot"> class=</span><span class="st">&quot;mdl-badge&quot;</span><span class="ot"> data-badge=</span><span class="st">&quot;12&quot;</span><span class="kw">&gt;&lt;/span&gt;</span></code></pre></div>
<p>A badge inside a link with too many characters to fit inside the badge.</p>
<div class="sourceCode"><pre class="sourceCode html"><code class="sourceCode html"><span class="kw">&lt;a</span><span class="ot"> href=</span><span class="st">&quot;#&quot;</span><span class="ot"> class=</span><span class="st">&quot;mdl-badge&quot;</span><span class="ot"> data-badge=</span><span class="st">&quot;123456789&quot;</span><span class="kw">&gt;</span>
This badge has too many characters.<span class="kw">&lt;/a&gt;</span></code></pre></div>
<p>A badge inside a link with no badge background color.</p>
<div class="sourceCode"><pre class="sourceCode html"><code class="sourceCode html"><span class="kw">&lt;a</span><span class="ot"> href=</span><span class="st">&quot;#&quot;</span><span class="ot"> class=</span><span class="st">&quot;mdl-badge mdl-badge--no-background&quot;</span><span class="ot"> data-badge=</span><span class="st">&quot;123&quot;</span><span class="kw">&gt;</span>
This badge has no background color.<span class="kw">&lt;/a&gt;</span></code></pre></div>
<h2 id="configuration-options">Configuration options</h2>
<p>The MDL CSS classes apply various predefined visual enhancements to the badge. The table below lists the available classes and their effects.</p>
<table style="width:43%;">
<colgroup>
<col width="16%" />
<col width="12%" />
<col width="13%" />
</colgroup>
<thead>
<tr class="header">
<th align="left">MDL class</th>
<th align="left">Effect</th>
<th align="left">Remarks</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td align="left"><code>mdl-badge</code></td>
<td align="left">Defines badge as an MDL component</td>
<td align="left">Required on span or link</td>
</tr>
<tr class="even">
<td align="left"><code>mdl-badge--no-background</code></td>
<td align="left">Applies open-circle effect to badge</td>
<td align="left">Optional</td>
</tr>
<tr class="odd">
<td align="left"><code>mdl-badge--overlap</code></td>
<td align="left">Make the badge overlap with its container</td>
<td align="left">Optional</td>
</tr>
<tr class="even">
<td align="left"><code>data-badge=&quot;value&quot;</code></td>
<td align="left">Assigns string value to badge</td>
<td align="left">Not a class, but a separate attribute; required on span or link</td>
</tr>
</tbody>
</table>

                </div>
            </div>
        </div>
    </div>
</div>