<div class="mdl-accordion-group mdl-js-accordion mdl-js-ripple-effect usage usage-card">
    <!-- Panel 1 -->
    <div class="mdl-accordion">
        <label class="mdl-accordion__label mdl-color--200">
            <i class="material-icons mdl-icon--remove-red-eye mdl-color-text--primary">remove_red_eye</i>
            Basic Usage
            <i class="material-icons indicator right mdl-color-text--primary">chevron_right</i>
        </label>
        <div class="mdl-accordion--content">
            <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
                <!-- TabBar -->
                <div class="mdl-tabs__tab-bar">
                    <a href="#dart" class="mdl-tabs__tab is-active">Dart</a>
                    <a href="#html" class="mdl-tabs__tab">HTML</a>
                    <a href="#css" class="mdl-tabs__tab">README</a>
                </div>
                <!-- Dart-Tab -->
                <div class="mdl-tabs__panel is-active" id="dart">
                <pre class="prettyprint linenums lang-dart">
import &#39;package:mdl&#47;mdl.dart&#39;;

main() &#123;
    registerMdl();
    componentFactory().run().then((_) &#123;
    &#125;);
&#125;</pre>
                </div>
                <!-- HTML-Tab -->
                <div class="mdl-tabs__panel" id="html">
                <div class="linkinfo">
                    To use any MDL component, you must include the minified CSS file in the &lt;head&gt; section of the page:<br>
                    <div class="csslink mdl-color-text--accent-500">
                    &lt;link rel=&quot;stylesheet&quot; href=&quot;https://cdn.rawgit.com/MikeMitterer/dart-mdl-theme/master/blue_grey-pink/material.min.css&quot;&gt;<br>
                    </div>
                    More about <a href="/#/theming">theming...</a>
                </div>
                <pre class="prettyprint linenums lang-html">
  &lt;div class=&quot;demo-preview-block&quot;&gt;
      &lt;h2&gt;Wide card with share menu button&lt;&#47;h2&gt;
      &lt;style&gt;
          .demo-card-wide.mdl-card {
              width: 512px;
          }
          .demo-card-wide &gt; .mdl-card__title {
              color: #fff;
              height: 176px;
              background: url(&#39;demo-images&#47;welcome_card.jpg&#39;) center &#47; cover;
          }
          .demo-card-wide &gt; .mdl-card__menu {
              color: #fff;
          }
      &lt;&#47;style&gt;
      &lt;div class=&quot;mdl-card mdl-shadow--2dp demo-card-wide&quot;&gt;
          &lt;div class=&quot;mdl-card__title&quot;&gt;
              &lt;h2 class=&quot;mdl-card__title-text mdl-color-text--white&quot;&gt;Welcome&lt;&#47;h2&gt;
          &lt;&#47;div&gt;
          &lt;div class=&quot;mdl-card__supporting-text&quot;&gt;
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Mauris sagittis pellentesque lacus eleifend lacinia...
          &lt;&#47;div&gt;
          &lt;div class=&quot;mdl-card__actions mdl-card--border&quot;&gt;
              &lt;a class=&quot;mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect&quot;&gt;
                  Get Started
              &lt;&#47;a&gt;
          &lt;&#47;div&gt;
          &lt;div class=&quot;mdl-card__menu&quot;&gt;
              &lt;button id=&quot;share-demo&quot; class=&quot;mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect&quot;&gt;
                  &lt;i class=&quot;material-icons&quot;&gt;share&lt;&#47;i&gt;
              &lt;&#47;button&gt;
              &lt;ul class=&quot;mdl-menu mdl-js-menu mdl-menu--bottom-right mdl-js-ripple-effect&quot; for=&quot;share-demo&quot;&gt;
                  &lt;button class=&quot;mdl-menu__item&quot;&gt;Item 1&lt;&#47;button&gt;
                  &lt;button class=&quot;mdl-menu__item&quot;&gt;Item 2&lt;&#47;button&gt;
                  &lt;button class=&quot;mdl-menu__item&quot; disabled&gt;Item 3&lt;&#47;button&gt;
              &lt;&#47;ul&gt;
          &lt;&#47;div&gt;
      &lt;&#47;div&gt;
      &lt;h2&gt;Square card&lt;&#47;h2&gt;
      &lt;style&gt;
          .demo-card-square.mdl-card {
              width: 320px;
              height: 320px;
          }
          .demo-card-square &gt; .mdl-card__title {
              color: #fff;
              background:
              url(&#39;demo-images&#47;dog.png&#39;) bottom right 15% no-repeat #46B6AC;
          }
      &lt;&#47;style&gt;
      &lt;div class=&quot;mdl-card mdl-shadow--2dp demo-card-square&quot;&gt;
          &lt;div class=&quot;mdl-card__title mdl-card--expand&quot;&gt;
              &lt;h2 class=&quot;mdl-card__title-text&quot;&gt;Update&lt;&#47;h2&gt;
          &lt;&#47;div&gt;
          &lt;div class=&quot;mdl-card__supporting-text&quot;&gt;
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Aenan convallis.
          &lt;&#47;div&gt;
          &lt;div class=&quot;mdl-card__actions mdl-card--border&quot;&gt;
              &lt;a class=&quot;mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect&quot;&gt;
                  View Updates
              &lt;&#47;a&gt;
          &lt;&#47;div&gt;
      &lt;&#47;div&gt;
      &lt;h2&gt;Image card&lt;&#47;h2&gt;
      &lt;style&gt;
          .demo-card-image.mdl-card {
              width: 256px;
              height: 256px;
              background: url(&#39;demo-images&#47;image_card.jpg&#39;) center &#47; cover;
          }
          .demo-card-image &gt; .mdl-card__actions {
              height: 52px;
              padding: 16px;
              background: rgba(0, 0, 0, 0.2);
          }
          .demo-card-image__filename {
              color: #fff;
          }
      &lt;&#47;style&gt;
      &lt;div class=&quot;mdl-card mdl-shadow--2dp demo-card-image&quot;&gt;
          &lt;div class=&quot;mdl-card__title mdl-card--expand&quot;&gt;&lt;&#47;div&gt;
          &lt;div class=&quot;mdl-card__actions&quot;&gt;
              &lt;span class=&quot;demo-card-image__filename&quot;&gt;Image.jpg&lt;&#47;span&gt;
          &lt;&#47;div&gt;
      &lt;&#47;div&gt;
      &lt;h2&gt;Event card&lt;&#47;h2&gt;
      &lt;style&gt;
          .demo-card-event.mdl-card {
              width: 256px;
              height: 256px;
              background: #3E4EB8;
          }
          .demo-card-event &gt; .mdl-card__actions {
              border-color: rgba(255, 255, 255, 0.2);
          }
          .demo-card-event &gt; .mdl-card__title {
              align-items: flex-start;
          }
          .demo-card-event &gt; .mdl-card__title &gt; h4 {
              margin-top: 0;
          }
          .demo-card-event &gt; .mdl-card__actions {
              display: flex;
              box-sizing:border-box;
              align-items: center;
          }
          .demo-card-event &gt; .mdl-card__title,
          .demo-card-event &gt; .mdl-card__actions,
          .demo-card-event &gt; .mdl-card__actions &gt; .mdl-button {
              color: #fff;
          }
          .demo-card-event &gt; .mdl-card__actions &gt; .material-icons {
              padding-right: 10px;
          }
      &lt;&#47;style&gt;
      &lt;div class=&quot;mdl-card mdl-shadow--2dp demo-card-event&quot;&gt;
          &lt;div class=&quot;mdl-card__title mdl-card--expand&quot;&gt;
              &lt;h4 class=&quot;mdl-color-text--white&quot;&gt;
                  Featured event:&lt;br&gt;
                  May 24, 2016&lt;br&gt;
                  7-11pm
              &lt;&#47;h4&gt;
          &lt;&#47;div&gt;
          &lt;div class=&quot;mdl-card__actions mdl-card--border&quot;&gt;
              &lt;a class=&quot;mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect&quot;&gt;
                  Add to Calendar
              &lt;&#47;a&gt;
              &lt;div class=&quot;mdl-layout-spacer&quot;&gt;&lt;&#47;div&gt;
              &lt;i class=&quot;material-icons&quot;&gt;event&lt;&#47;i&gt;
          &lt;&#47;div&gt;
      &lt;&#47;div&gt;
    &lt;div class=&quot;mdl-card mdl-shadow--2dp&quot;&gt;
      &lt;div class=&quot;mdl-card__title mdl-color--primary&quot;&gt;
         &lt;h2 class=&quot;mdl-card__title-text mdl-color-text--accent&quot;&gt;Integer lectus lacus, condimentum vitae lectus vitae&lt;&#47;h2&gt;
      &lt;&#47;div&gt;
      &lt;div class=&quot;mdl-card__supporting-text&quot;&gt;
        March 24th, 2014
      &lt;&#47;div&gt;
      &lt;div class=&quot;mdl-card__supporting-text&quot;&gt;
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sagittis pellentesque lacus eleifend lacinia. Donec ut risus suscipit, convallis diam et, mattis urna. Phasellus sit amet ipsum nisl. Aliquam sed dictum neque. Vestibulum tempus at lacus et volutpat. Mauris molestie vel mauris id scelerisque.
      &lt;&#47;div&gt;
      &lt;div class=&quot;mdl-card__actions&quot;&gt;
         &lt;a href=&quot;#&quot; class=&quot;mdl-button&quot;&gt;Some Action&lt;&#47;a&gt;
      &lt;&#47;div&gt;
    &lt;&#47;div&gt;
    &lt;div class=&quot;mdl-card mdl-shadow--4dp&quot;&gt;
      &lt;div class=&quot;mdl-card__title mdl-color--primary&quot;&gt;
         &lt;h2 class=&quot;mdl-card__title-text mdl-color-text--accent&quot;&gt;Integer lectus lacus, condimentum vitae lectus vitae&lt;&#47;h2&gt;
      &lt;&#47;div&gt;
      &lt;div class=&quot;mdl-card__supporting-text&quot;&gt;
        March 24th, 2014
      &lt;&#47;div&gt;
      &lt;div class=&quot;mdl-card__supporting-text&quot;&gt;
        Lorem ipsum dolor sit amet.
      &lt;&#47;div&gt;
      &lt;div class=&quot;mdl-card__actions&quot;&gt;
         &lt;a href=&quot;#&quot; class=&quot;mdl-button&quot;&gt;Some Action&lt;&#47;a&gt;
      &lt;&#47;div&gt;
      &lt;div class=&quot;mdl-card__menu&quot;&gt;
        &lt;button id=&quot;btn&quot; class=&quot;mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon mdl-color-text--white&quot;&gt;
          &lt;i class=&quot;material-icons&quot;&gt;more_vert&lt;&#47;i&gt;
        &lt;&#47;button&gt;
        &lt;ul class=&quot;mdl-menu mdl-js-menu mdl-menu--bottom-right mdl-js-ripple-effect&quot; for=&quot;btn&quot;&gt;
          &lt;button class=&quot;mdl-menu__item&quot;&gt;Item 1&lt;&#47;button&gt;
          &lt;button class=&quot;mdl-menu__item&quot;&gt;Item 2&lt;&#47;button&gt;
          &lt;button class=&quot;mdl-menu__item&quot; disabled&gt;Item 3&lt;&#47;button&gt;
        &lt;&#47;ul&gt;
      &lt;&#47;div&gt;
    &lt;&#47;div&gt;
  &lt;&#47;div&gt;
</pre>
                </div>
                <!-- CSS-Tab -->
                <div class="mdl-tabs__panel" id="css">
<h2 id="introduction">Introduction</h2>
<p>The Material Design Lite (MDL) <strong>card</strong> component is a user interface element representing a virtual piece of paper that contains related data — such as a photo, some text, and a link — that are all about a single subject.</p>
<p>Cards are a convenient means of coherently displaying related content that is composed of different types of objects. They are also well-suited for presenting similar objects whose size or supported actions can vary considerably, like photos with captions of variable length. Cards have a constant width and a variable height, depending on their content.</p>
<p>Cards are a fairly new feature in user interfaces, and allow users an access point to more complex and detailed information. Their design and use is an important factor in the overall user experience. See the card component's <a href="http://www.google.com/design/spec/components/cards.html">Material Design specifications page</a> for details.</p>
<h2 id="basic-use">Basic use</h2>
<p>To use any MDL component, you must include the minified CSS and JavaScript files using standard relative-path references in the <code>&lt;head&gt;</code> section of the page, as described in the MDL Introduction.</p>
<h3 id="to-include-an-mdl-card-component">To include an MDL <strong>card</strong> component:</h3>
<p> 1. Code a <code>&lt;div&gt;</code> element; this is the &quot;outer&quot; container, intended to hold all of the card's content.</p>
<div class="sourceCode"><pre class="sourceCode html"><code class="sourceCode html"><span class="kw">&lt;div&gt;</span>
<span class="kw">&lt;/div&gt;</span></code></pre></div>
<p> 2. Inside the div, code one or more &quot;inner&quot; divs, one for each desired content block. A card containing a title, an image, some text, and an action bar would contain four &quot;inner&quot; divs, all siblings.</p>
<div class="sourceCode"><pre class="sourceCode html"><code class="sourceCode html"><span class="kw">&lt;div&gt;</span>
  <span class="kw">&lt;div&gt;</span>
  ...
  <span class="kw">&lt;/div&gt;</span>
  <span class="kw">&lt;div&gt;</span>
  ...
  <span class="kw">&lt;/div&gt;</span>
  <span class="kw">&lt;div&gt;</span>
  ...
  <span class="kw">&lt;/div&gt;</span>
  <span class="kw">&lt;div&gt;</span>
  ...
  <span class="kw">&lt;/div&gt;</span>
<span class="kw">&lt;/div&gt;</span></code></pre></div>
<p> 3. Add one or more MDL classes, separated by spaces, to the &quot;outer&quot; div and the &quot;inner&quot; divs (depending on their intended use) using the <code>class</code> attribute.</p>
<div class="sourceCode"><pre class="sourceCode html"><code class="sourceCode html"><span class="kw">&lt;div</span><span class="ot"> class=</span><span class="st">&quot;mdl-card&quot;</span><span class="kw">&gt;</span>
  <span class="kw">&lt;div</span><span class="ot"> class=</span><span class="st">&quot;mdl-card__title&quot;</span><span class="kw">&gt;</span>
  ...
  <span class="kw">&lt;/div&gt;</span>
  <span class="kw">&lt;div</span><span class="ot"> class=</span><span class="st">&quot;mdl-card__media&quot;</span><span class="kw">&gt;</span>
  ...
  <span class="kw">&lt;/div&gt;</span>
  <span class="kw">&lt;div</span><span class="ot"> class=</span><span class="st">&quot;mdl-card__supporting-text&quot;</span><span class="kw">&gt;</span>
  ...
  <span class="kw">&lt;/div&gt;</span>
  <span class="kw">&lt;div</span><span class="ot"> class=</span><span class="st">&quot;mdl-card__actions&quot;</span><span class="kw">&gt;</span>
  ...
  <span class="kw">&lt;/div&gt;</span>
<span class="kw">&lt;/div&gt;</span></code></pre></div>
<p> 4. Add content to each &quot;inner&quot; div, again depending on its intended use, using standard HTML elements and, optionally, additional MDL classes.</p>
<div class="sourceCode"><pre class="sourceCode html"><code class="sourceCode html"><span class="kw">&lt;div</span><span class="ot"> class=</span><span class="st">&quot;mdl-card&quot;</span><span class="kw">&gt;</span>
  <span class="kw">&lt;div</span><span class="ot"> class=</span><span class="st">&quot;mdl-card__title&quot;</span><span class="kw">&gt;</span>
    <span class="kw">&lt;h2</span><span class="ot"> class=</span><span class="st">&quot;mdl-card__title-text&quot;</span><span class="kw">&gt;</span>title Text Goes Here<span class="kw">&lt;/h2&gt;</span>
  <span class="kw">&lt;/div&gt;</span>
  <span class="kw">&lt;div</span><span class="ot"> class=</span><span class="st">&quot;mdl-card__media&quot;</span><span class="kw">&gt;</span>
    <span class="kw">&lt;img</span><span class="ot"> src=</span><span class="st">&quot;photo.jpg&quot;</span><span class="ot"> width=</span><span class="st">&quot;220&quot;</span><span class="ot"> height=</span><span class="st">&quot;140&quot;</span><span class="ot"> border=</span><span class="st">&quot;0&quot;</span><span class="ot"> alt=</span><span class="st">&quot;&quot;</span><span class="ot"> style=</span><span class="st">&quot;padding:20px;&quot;</span><span class="kw">&gt;</span>
  <span class="kw">&lt;/div&gt;</span>
  <span class="kw">&lt;div</span><span class="ot"> class=</span><span class="st">&quot;mdl-card__supporting-text&quot;</span><span class="kw">&gt;</span>
    This text might describe the photo and provide further information, such as where and
    when it was taken.
  <span class="kw">&lt;/div&gt;</span>
  <span class="kw">&lt;div</span><span class="ot"> class=</span><span class="st">&quot;mdl-card__actions&quot;</span><span class="kw">&gt;</span>
    <span class="kw">&lt;a</span><span class="ot"> href=</span><span class="st">&quot;(URL or function)&quot;</span><span class="kw">&gt;</span>Related Action<span class="kw">&lt;/a&gt;</span>
  <span class="kw">&lt;/div&gt;</span>
<span class="kw">&lt;/div&gt;</span></code></pre></div>
<p>The card component is ready for use.</p>
<h4 id="examples">Examples</h4>
<p>A card (no shadow) with a title, image, text, and action.</p>
<div class="sourceCode"><pre class="sourceCode html"><code class="sourceCode html"><span class="kw">&lt;div</span><span class="ot"> class=</span><span class="st">&quot;mdl-card&quot;</span><span class="kw">&gt;</span>
  <span class="kw">&lt;div</span><span class="ot"> class=</span><span class="st">&quot;mdl-card__title&quot;</span><span class="kw">&gt;</span>
     <span class="kw">&lt;h2</span><span class="ot"> class=</span><span class="st">&quot;mdl-card__title-text&quot;</span><span class="kw">&gt;</span>Auckland Sky Tower<span class="kw">&lt;br&gt;</span>Auckland, New Zealand<span class="kw">&lt;/h2&gt;</span>
  <span class="kw">&lt;/div&gt;</span>
  <span class="kw">&lt;div</span><span class="ot"> class=</span><span class="st">&quot;mdl-card__media&quot;</span><span class="kw">&gt;</span>
    <span class="kw">&lt;img</span><span class="ot"> src=</span><span class="st">&quot;skytower.jpg&quot;</span><span class="ot"> width=</span><span class="st">&quot;173&quot;</span><span class="ot"> height=</span><span class="st">&quot;157&quot;</span><span class="ot"> border=</span><span class="st">&quot;0&quot;</span><span class="ot"> alt=</span><span class="st">&quot;&quot;</span>
<span class="ot">     style=</span><span class="st">&quot;padding:10px;&quot;</span><span class="kw">&gt;</span>
  <span class="kw">&lt;/div&gt;</span>
  <span class="kw">&lt;div</span><span class="ot"> class=</span><span class="st">&quot;mdl-card__supporting-text&quot;</span><span class="kw">&gt;</span>
  The Sky Tower is an observation and telecommunications tower located in Auckland,
  New Zealand. It is 328 metres (1,076 ft) tall, making it the tallest man-made structure
  in the Southern Hemisphere.
  <span class="kw">&lt;/div&gt;</span>
  <span class="kw">&lt;div</span><span class="ot"> class=</span><span class="st">&quot;mdl-card__actions&quot;</span><span class="kw">&gt;</span>
     <span class="kw">&lt;a</span><span class="ot"> href=</span><span class="st">&quot;http://en.wikipedia.org/wiki/Sky_Tower_%28Auckland%29&quot;</span><span class="kw">&gt;</span>Wikipedia entry<span class="kw">&lt;/a&gt;</span>
  <span class="kw">&lt;/div&gt;</span>
<span class="kw">&lt;/div&gt;</span></code></pre></div>
<p>Card (level-3 shadow) with an image, caption, and text:</p>
<div class="sourceCode"><pre class="sourceCode html"><code class="sourceCode html"><span class="kw">&lt;div</span><span class="ot"> class=</span><span class="st">&quot;mdl-card mdl-shadow--4dp&quot;</span><span class="kw">&gt;</span>
  <span class="kw">&lt;div</span><span class="ot"> class=</span><span class="st">&quot;mdl-card__media&quot;</span><span class="kw">&gt;&lt;img</span><span class="ot"> src=</span><span class="st">&quot;skytower.jpg&quot;</span><span class="ot"> width=</span><span class="st">&quot;173&quot;</span><span class="ot"> height=</span><span class="st">&quot;157&quot;</span><span class="ot"> border=</span><span class="st">&quot;0&quot;</span>
<span class="ot">   alt=</span><span class="st">&quot;&quot;</span><span class="ot"> style=</span><span class="st">&quot;padding:10px;&quot;</span><span class="kw">&gt;</span>
  <span class="kw">&lt;/div&gt;</span>
  <span class="kw">&lt;div</span><span class="ot"> class=</span><span class="st">&quot;mdl-card__supporting-text&quot;</span><span class="kw">&gt;</span>
    Auckland Sky Tower, taken March 24th, 2014
  <span class="kw">&lt;/div&gt;</span>
  <span class="kw">&lt;div</span><span class="ot"> class=</span><span class="st">&quot;mdl-card__supporting-text&quot;</span><span class="kw">&gt;</span>
  The Sky Tower is an observation and telecommunications tower located in Auckland,
  New Zealand. It is 328 metres (1,076 ft) tall, making it the tallest man-made structure
  in the Southern Hemisphere.
  <span class="kw">&lt;/div&gt;</span>
<span class="kw">&lt;/div&gt;</span></code></pre></div>
<h2 id="configuration-options">Configuration options</h2>
<p>The MDL CSS classes apply various predefined visual and behavioral enhancements to the card. The table below lists the available classes and their effects.</p>
<table style="width:43%;">
<colgroup>
<col width="16%" />
<col width="12%" />
<col width="13%" />
</colgroup>
<thead>
<tr class="header">
<th align="left">MDL class</th>
<th align="left">Effect</th>
<th align="left">Remarks</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td align="left"><code>mdl-card</code></td>
<td align="left">Defines div element as an MDL card container</td>
<td align="left">Required on &quot;outer&quot; div</td>
</tr>
<tr class="even">
<td align="left"><code>mdl-card--border</code></td>
<td align="left">Adds a border to the card section that it's applied to</td>
<td align="left">Used on the &quot;inner&quot; divs</td>
</tr>
<tr class="odd">
<td align="left"><code>mdl-shadow--2dp through mdl-shadow--16dp</code></td>
<td align="left">Assigns variable shadow depths (2, 3, 4, 6, 8, or 16) to card</td>
<td align="left">Optional, goes on &quot;outer&quot; div; if omitted, no shadow is present</td>
</tr>
<tr class="even">
<td align="left"><code>mdl-card__title</code></td>
<td align="left">Defines div as a card title container</td>
<td align="left">Required on &quot;inner&quot; title div</td>
</tr>
<tr class="odd">
<td align="left"><code>mdl-card__title-text</code></td>
<td align="left">Assigns appropriate text characteristics to card title</td>
<td align="left">Required on head tag (H1 - H6) inside title div</td>
</tr>
<tr class="even">
<td align="left"><code>mdl-card__subtitle-text</code></td>
<td align="left">Assigns text characteristics to a card subtitle</td>
<td align="left">Optional. Should be a child of the title element.</td>
</tr>
<tr class="odd">
<td align="left"><code>mdl-card__media</code></td>
<td align="left">Defines div as a card media container</td>
<td align="left">Required on &quot;inner&quot; media div</td>
</tr>
<tr class="even">
<td align="left"><code>mdl-card__supporting-text</code></td>
<td align="left">Defines div as a card body text container and assigns appropriate text characteristics to body text</td>
<td align="left">Required on &quot;inner&quot; body text div; text goes directly inside the div with no intervening containers</td>
</tr>
<tr class="odd">
<td align="left"><code>mdl-card__actions</code></td>
<td align="left">Defines div as a card actions container and assigns appropriate text characteristics to actions text</td>
<td align="left">Required on &quot;inner&quot; actions div; content goes directly inside the div with no intervening containers</td>
</tr>
</tbody>
</table>

                </div>
            </div>
        </div>
    </div>
</div>