<div class="mdl-accordion-group mdl-js-accordion mdl-js-ripple-effect usage usage-dnd">
    <!-- Panel 1 -->
    <div class="mdl-accordion">
        <label class="mdl-accordion__label mdl-color--200">
            <i class="material-icons mdl-icon--remove-red-eye mdl-color-text--primary">remove_red_eye</i>
            Basic Usage
            <i class="material-icons indicator right mdl-color-text--primary">chevron_right</i>
        </label>
        <div class="mdl-accordion--content">
            <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
                <!-- TabBar -->
                <div class="mdl-tabs__tab-bar">
                    <a href="#dart" class="mdl-tabs__tab is-active">Dart</a>
                    <a href="#html" class="mdl-tabs__tab">HTML</a>
                    <a href="#css" class="mdl-tabs__tab">README</a>
                </div>
                <!-- Dart-Tab -->
                <div class="mdl-tabs__panel is-active" id="dart">
                <pre class="prettyprint linenums lang-dart">
import &#39;package:mdl&#47;mdl.dart&#39;;
import &#39;package:mdl&#47;mdlobservable.dart&#39;;
@MdlComponentModel
class _Language &#123;
    final String name;
    final String type;
    _Language(this.name, this.type);
&#125;
class _Programming extends _Language &#123;
    _Programming(final String name) : super(name,&quot;programming&quot;);
&#125;
class _Natural extends _Language &#123;
    _Natural(final String name) : super(name,&quot;natural&quot;);
&#125;
@MdlComponentModel @di.Injectable()
class Application extends MaterialApplication &#123;
    final _logger = new Logger(&#39;dnd.Application&#39;);
    final ObservableList&lt;_Language&gt; languages = new ObservableList&lt;_Language&gt;();
    final ObservableList&lt;_Language&gt; natural = new ObservableList&lt;_Language&gt;();
    final ObservableList&lt;_Language&gt; programming = new ObservableList&lt;_Language&gt;();
    Application() &#123;
        languages.add(new _Natural(&quot;English&quot;));
        languages.add(new _Natural(&quot;German&quot;));
        languages.add(new _Natural(&quot;Italian&quot;));
        languages.add(new _Natural(&quot;French&quot;));
        languages.add(new _Natural(&quot;Spanish&quot;));
        languages.add(new _Programming(&quot;CPP&quot;));
        languages.add(new _Programming(&quot;Dart&quot;));
        languages.add(new _Programming(&quot;Java&quot;));
    &#125;
    @override
    void run() &#123;
    &#125;
    void addToProgrammingLanguages(final _Language language) &#123;
        if(language.type == &quot;programming&quot;) &#123;
            if(!programming.contains(language)) &#123;
                programming.add(language);
            &#125;
        &#125;
    &#125;
    void addToNaturalLanguages(final _Language language) &#123;
        if(language.type == &quot;natural&quot;) &#123;
            if(!natural.contains(language)) &#123;
                natural.add(language);
            &#125;
        &#125;
    &#125;
    void moveToTrash(final _Language language) &#123;
        if(language.type == &quot;programming&quot; &amp;&amp; programming.contains(language)) &#123;
            programming.remove(language);
        &#125; else if(language.type == &quot;natural&quot; &amp;&amp; natural.contains(language)) &#123;
            natural.remove(language);
        &#125;
    &#125;
&#125;
main() &#123;
    final Logger _logger = new Logger(&#39;dnd.Main&#39;);
    registerMdl();
    registerMdlDND();
    componentFactory().rootContext(Application).run().then((final MaterialApplication application) &#123;
        application.run();
    &#125;);
&#125;
</pre>
                </div>
                <!-- HTML-Tab -->
                <div class="mdl-tabs__panel" id="html">
                <div class="linkinfo">
                    To use any MDL component, you must include the minified CSS file in the &lt;head&gt; section of the page:<br>
                    <div class="csslink mdl-color-text--accent-500">
                    &lt;link rel=&quot;stylesheet&quot; href=&quot;https://cdn.rawgit.com/MikeMitterer/dart-mdl-theme/master/blue_grey-pink/material.min.css&quot;&gt;<br>
                    </div>
                    More about <a href="/#/theming">theming...</a>
                </div>
                <pre class="prettyprint linenums lang-html">
&lt;div class=&quot;demo-preview-block&quot;&gt;
    &lt;h2&gt;Drag &amp; Drop (experimental)&lt;&#47;h2&gt;
    &lt;div class=&quot;danddcontainer&quot;&gt;
        &lt;div class=&quot;choose &quot;&gt;
            &lt;h6&gt;Choose language&lt;&#47;h6&gt;
                &lt;div mdl-repeat=&quot;language in languages&quot; class=&quot;source langbox mdl-dnd__drag-container&quot; &gt;
                     
                    &lt;template&gt;
                        &lt;mdl-draggable class=&quot;language&quot; consumes=&quot;language&quot; drop-zone=&quot;{{language.type}}&quot;&gt;
                            {{language.name}}
                        &lt;&#47;mdl-draggable&gt;
                    &lt;&#47;template&gt;
                     
                &lt;&#47;div&gt;
        &lt;&#47;div&gt;
        &lt;div class=&quot;accept&quot;&gt;
            &lt;div class=&quot;langbox&quot;&gt;
                &lt;h6&gt;Programming languages&lt;&#47;h6&gt;
                &lt;mdl-dropzone class=&quot;programming&quot; name=&quot;programming&quot;
                              on-drop-success=&quot;addToProgrammingLanguages(data)&quot;&gt;
                    &lt;div mdl-repeat=&quot;language in programming&quot; class=&quot;mdl-dnd__drag-container&quot;&gt;
                         
                        &lt;template&gt;
                            &lt;mdl-draggable class=&quot;language&quot; consumes=&quot;language&quot; drop-zone=&quot;trash&quot;&gt;
                                {{language.name}}
                            &lt;&#47;mdl-draggable&gt;
                        &lt;&#47;template&gt;
                         
                    &lt;&#47;div&gt;
                &lt;&#47;mdl-dropzone&gt;
            &lt;&#47;div&gt;
            &lt;div class=&quot;langbox&quot;&gt;
                &lt;h6&gt;Natural languages&lt;&#47;h6&gt;
                &lt;mdl-dropzone class=&quot;natural&quot; name=&quot;natural&quot;
                              on-drop-success=&quot;addToNaturalLanguages(data)&quot;&gt;
                    &lt;div mdl-repeat=&quot;language in natural&quot; class=&quot;mdl-dnd__drag-container&quot;&gt;
                         
                        &lt;template&gt;
                            &lt;mdl-draggable class=&quot;language&quot; consumes=&quot;language&quot; drop-zone=&quot;trash&quot;&gt;
                                {{language.name}}
                            &lt;&#47;mdl-draggable&gt;
                        &lt;&#47;template&gt;
                         
                    &lt;&#47;div&gt;
                &lt;&#47;mdl-dropzone&gt;
            &lt;&#47;div&gt;
        &lt;&#47;div&gt;
        &lt;div class=&quot;trash&quot;&gt;
            &lt;h6&gt;Trash&lt;&#47;h6&gt;
            &lt;mdl-dropzone class=&quot;trashbox&quot; name=&quot;trash&quot;
                          on-drop-success=&quot;moveToTrash(data)&quot;&gt;&lt;&#47;mdl-dropzone&gt;
        &lt;&#47;div&gt;
    &lt;&#47;div&gt;
&lt;&#47;div&gt;
</pre>
                </div>
                <!-- CSS-Tab -->
                <div class="mdl-tabs__panel" id="css">
<h3 id="remark">Remark</h3>
<p>In the DND sample you can see the following HTML-Structure:</p>
<div class="sourceCode"><pre class="sourceCode html"><code class="sourceCode html">    <span class="kw">&lt;div</span><span class="ot"> class=</span><span class="st">&quot;danddcontainer&quot;</span><span class="kw">&gt;</span>
        <span class="kw">&lt;div</span><span class="ot"> class=</span><span class="st">&quot;choose &quot;</span><span class="kw">&gt;</span>
                <span class="kw">&lt;mdl-repeat</span><span class="ot"> class=</span><span class="st">&quot;source langbox mdl-dnd__drag-container&quot;</span> 
<span class="ot">                    for-each=</span><span class="st">&quot;language in languages&quot;</span><span class="kw">&gt;</span>
                    ...
                <span class="kw">&lt;/mdl-repeat&gt;</span>
        <span class="kw">&lt;/div&gt;</span>
        <span class="kw">&lt;div</span><span class="ot"> class=</span><span class="st">&quot;accept&quot;</span><span class="kw">&gt;</span>
            <span class="kw">&lt;div</span><span class="ot"> class=</span><span class="st">&quot;langbox&quot;</span><span class="kw">&gt;</span>
                <span class="kw">&lt;mdl-dropzone</span><span class="ot"> class=</span><span class="st">&quot;natural&quot;</span><span class="ot"> name=</span><span class="st">&quot;natural&quot;</span>
<span class="ot">                              on-drop-success=</span><span class="st">&quot;addToNaturalLanguages(data)&quot;</span><span class="kw">&gt;</span>
                    <span class="kw">&lt;mdl-repeat</span><span class="ot"> for-each=</span><span class="st">&quot;language in natural&quot;</span><span class="ot"> class=</span><span class="st">&quot;mdl-dnd__drag-container&quot;</span><span class="kw">&gt;</span>
                        ...
                    <span class="kw">&lt;/mdl-repeat&gt;</span>
                <span class="kw">&lt;/mdl-dropzone&gt;</span>
            <span class="kw">&lt;/div&gt;</span>
        <span class="kw">&lt;/div&gt;</span>
    <span class="kw">&lt;/div&gt;</span></code></pre></div>
<p>The first mdl-repeat takes 'languages' from your Application - there is no surrounding component.<br />
The second mdl-repeat is encapsulated in mdl-dropzone. You could assume that it takes natural from mdl-dropzone<br />
(its surrounding component) - you are right with most components. No so with mdl-dropzone.</p>
<p>mdl-dropzone (its class MaterialDropZone) is not ScopeAware. Because of this mdl-repeat looks for the<br />
next ScopeAware parent, can't find one and takes your Application as RootContext.</p>

                </div>
            </div>
        </div>
    </div>
</div>