<div class="mdl-accordion-group mdl-js-accordion mdl-js-ripple-effect usage usage-footer">
    <!-- Panel 1 -->
    <div class="mdl-accordion">
        <label class="mdl-accordion__label mdl-color--200">
            <i class="material-icons mdl-icon--remove-red-eye mdl-color-text--primary">remove_red_eye</i>
            Basic Usage
            <i class="material-icons indicator right mdl-color-text--primary">chevron_right</i>
        </label>
        <div class="mdl-accordion--content">
            <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
                <!-- TabBar -->
                <div class="mdl-tabs__tab-bar">
                    <a href="#dart" class="mdl-tabs__tab is-active">Dart</a>
                    <a href="#html" class="mdl-tabs__tab">HTML</a>
                    <a href="#css" class="mdl-tabs__tab">README</a>
                </div>
                <!-- Dart-Tab -->
                <div class="mdl-tabs__panel is-active" id="dart">
                <pre class="prettyprint linenums lang-dart">
import &#39;package:mdl&#47;mdl.dart&#39;;

main() &#123;
    registerMdl();
    componentFactory().run().then((_) &#123;
    &#125;);
&#125;</pre>
                </div>
                <!-- HTML-Tab -->
                <div class="mdl-tabs__panel" id="html">
                <div class="linkinfo">
                    To use any MDL component, you must include the minified CSS file in the &lt;head&gt; section of the page:<br>
                    <div class="csslink mdl-color-text--accent-500">
                    &lt;link rel=&quot;stylesheet&quot; href=&quot;https://cdn.rawgit.com/MikeMitterer/dart-mdl-theme/master/blue_grey-pink/material.min.css&quot;&gt;<br>
                    </div>
                    More about <a href="/#/theming">theming...</a>
                </div>
                <pre class="prettyprint linenums lang-html">
  &lt;div class=&quot;demo-preview-block&quot;&gt;
      &lt;footer class=&quot;mdl-mega-footer&quot;&gt;
          &lt;div class=&quot;mdl-mega-footer__middle-section&quot;&gt;
              &lt;div class=&quot;mdl-mega-footer__drop-down-section&quot;&gt;
                  &lt;input class=&quot;mdl-mega-footer__heading-checkbox&quot; type=&quot;checkbox&quot; checked&gt;
                  &lt;h1 class=&quot;mdl-mega-footer__heading&quot;&gt;Features&lt;&#47;h1&gt;
                  &lt;ul class=&quot;mdl-mega-footer__link-list&quot;&gt;
                      &lt;li&gt;&lt;a href=&quot;#&quot;&gt;About&lt;&#47;a&gt;&lt;&#47;li&gt;
                      &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Terms&lt;&#47;a&gt;&lt;&#47;li&gt;
                      &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Partners&lt;&#47;a&gt;&lt;&#47;li&gt;
                      &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Updates&lt;&#47;a&gt;&lt;&#47;li&gt;
                  &lt;&#47;ul&gt;
              &lt;&#47;div&gt;
              &lt;div class=&quot;mdl-mega-footer__drop-down-section&quot;&gt;
                  &lt;input class=&quot;mdl-mega-footer__heading-checkbox&quot; type=&quot;checkbox&quot; checked&gt;
                  &lt;h1 class=&quot;mdl-mega-footer__heading&quot;&gt;Details&lt;&#47;h1&gt;
                  &lt;ul class=&quot;mdl-mega-footer__link-list&quot;&gt;
                      &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Specs&lt;&#47;a&gt;&lt;&#47;li&gt;
                      &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Tools&lt;&#47;a&gt;&lt;&#47;li&gt;
                      &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Resources&lt;&#47;a&gt;&lt;&#47;li&gt;
                  &lt;&#47;ul&gt;
              &lt;&#47;div&gt;
              &lt;div class=&quot;mdl-mega-footer__drop-down-section&quot;&gt;
                  &lt;input class=&quot;mdl-mega-footer__heading-checkbox&quot; type=&quot;checkbox&quot; checked&gt;
                  &lt;h1 class=&quot;mdl-mega-footer__heading&quot;&gt;Technology&lt;&#47;h1&gt;
                  &lt;ul class=&quot;mdl-mega-footer__link-list&quot;&gt;
                      &lt;li&gt;&lt;a href=&quot;#&quot;&gt;How it works&lt;&#47;a&gt;&lt;&#47;li&gt;
                      &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Patterns&lt;&#47;a&gt;&lt;&#47;li&gt;
                      &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Usage&lt;&#47;a&gt;&lt;&#47;li&gt;
                      &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Products&lt;&#47;a&gt;&lt;&#47;li&gt;
                      &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Contracts&lt;&#47;a&gt;&lt;&#47;li&gt;
                  &lt;&#47;ul&gt;
              &lt;&#47;div&gt;
              &lt;div class=&quot;mdl-mega-footer__drop-down-section&quot;&gt;
                  &lt;input class=&quot;mdl-mega-footer__heading-checkbox&quot; type=&quot;checkbox&quot; checked&gt;
                  &lt;h1 class=&quot;mdl-mega-footer__heading&quot;&gt;FAQ&lt;&#47;h1&gt;
                  &lt;ul class=&quot;mdl-mega-footer__link-list&quot;&gt;
                      &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Questions&lt;&#47;a&gt;&lt;&#47;li&gt;
                      &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Answers&lt;&#47;a&gt;&lt;&#47;li&gt;
                      &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Contact us&lt;&#47;a&gt;&lt;&#47;li&gt;
                  &lt;&#47;ul&gt;
              &lt;&#47;div&gt;
          &lt;&#47;div&gt;
          &lt;div class=&quot;mdl-mega-footer__bottom-section&quot;&gt;
              &lt;div class=&quot;mdl-logo&quot;&gt;Title&lt;&#47;div&gt;
              &lt;ul class=&quot;mdl-mega-footer__link-list&quot;&gt;
                  &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Help&lt;&#47;a&gt;&lt;&#47;li&gt;
                  &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Privacy &amp;amp; Terms&lt;&#47;a&gt;&lt;&#47;li&gt;
              &lt;&#47;ul&gt;
          &lt;&#47;div&gt;
      &lt;&#47;footer&gt;
      &lt;footer class=&quot;mdl-mini-footer&quot;&gt;
          &lt;div class=&quot;mdl-mini-footer__left-section&quot;&gt;
              &lt;div class=&quot;mdl-logo&quot;&gt;Title&lt;&#47;div&gt;
              &lt;ul class=&quot;mdl-mini-footer__link-list&quot;&gt;
                  &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Help&lt;&#47;a&gt;&lt;&#47;li&gt;
                  &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Privacy &amp;amp; Terms&lt;&#47;a&gt;&lt;&#47;li&gt;
              &lt;&#47;ul&gt;
          &lt;&#47;div&gt;
      &lt;&#47;footer&gt;
&lt;&#47;div&gt;
</pre>
                </div>
                <!-- CSS-Tab -->
                <div class="mdl-tabs__panel" id="css">
<h2 id="introduction">Introduction</h2>
<p>The Material Design Lite (MDL) <strong>footer</strong> component is a comprehensive container intended to present a substantial amount of related content in a visually attractive and logically intuitive area. Although it is called &quot;footer&quot;, it may be placed at any appropriate location on a device screen, either before or after other content.</p>
<p>An MDL footer component takes two basic forms: <em>mega-footer</em> and <em>mini-footer</em>. As the names imply, mega-footers contain more (and more complex) content than mini-footers. A mega-footer presents multiple sections of content separated by horizontal rules, while a mini-footer presents a single section of content. Both footer forms have their own internal structures, including required and optional elements, and typically include both informational and clickable content, such as links.</p>
<p>Footers, as represented by this component, are a fairly new feature in user interfaces, and allow users to view discrete blocks of content in a coherent and consistently organized way. Their design and use is an important factor in the overall user experience.</p>
<h2 id="basic-use">Basic use</h2>
<p>To use any MDL component, you must include the minified CSS and JavaScript files using standard relative-path references in the <code>&lt;head&gt;</code> section of the page, as described in the MDL Introduction.</p>
<h3 id="to-include-an-mdl-mega-footer-component">To include an MDL <strong>mega-footer</strong> component:</h3>
<p> 1a. Code a <code>&lt;footer&gt;</code> element. Inside the footer, include one <code>&lt;div&gt;</code> element for each content section, typically three: <em>top</em>, <em>middle</em>, and <em>bottom</em>.</p>
<div class="sourceCode"><pre class="sourceCode html"><code class="sourceCode html"><span class="kw">&lt;footer&gt;</span>
  <span class="kw">&lt;div&gt;</span>
  ...
  <span class="kw">&lt;/div&gt;</span>
  <span class="kw">&lt;div&gt;</span>
  ...
  <span class="kw">&lt;/div&gt;</span>
  <span class="kw">&lt;div&gt;</span>
  ...
  <span class="kw">&lt;/div&gt;</span>
<span class="kw">&lt;/footer&gt;</span></code></pre></div>
<p> 1b. Add the appropriate MDL classes to the footer and divs using the <code>class</code> attribute.</p>
<div class="sourceCode"><pre class="sourceCode html"><code class="sourceCode html"><span class="kw">&lt;footer</span><span class="ot"> class=</span><span class="st">&quot;mdl-mega-footer&quot;</span><span class="kw">&gt;</span>
  <span class="kw">&lt;div</span><span class="ot"> class=</span><span class="st">&quot;mdl-mega-footer__top-section&quot;</span><span class="kw">&gt;</span>
  ...
  <span class="kw">&lt;/div&gt;</span>
  <span class="kw">&lt;div</span><span class="ot"> class=</span><span class="st">&quot;mdl-mega-footer__middle-section&quot;</span><span class="kw">&gt;</span>
  ...
  <span class="kw">&lt;/div&gt;</span>
  <span class="kw">&lt;div</span><span class="ot"> class=</span><span class="st">&quot;mdl-mega-footer__bottom-section&quot;</span><span class="kw">&gt;</span>
  ...
  <span class="kw">&lt;/div&gt;</span>
<span class="kw">&lt;/footer&gt;</span></code></pre></div>
<p> 2a. Inside the top section div, code two sibling &quot;inner&quot; divs for the <em>left</em> and <em>right</em> content sections.</p>
<div class="sourceCode"><pre class="sourceCode html"><code class="sourceCode html"><span class="kw">&lt;footer</span><span class="ot"> class=</span><span class="st">&quot;mdl-mega-footer&quot;</span><span class="kw">&gt;</span>
  <span class="kw">&lt;div</span><span class="ot"> class=</span><span class="st">&quot;mdl-mega-footer__top-section&quot;</span><span class="kw">&gt;</span>
    <span class="kw">&lt;div&gt;</span>
    ...
    <span class="kw">&lt;/div&gt;</span>
    <span class="kw">&lt;div&gt;</span>
    ...
    <span class="kw">&lt;/div&gt;</span>
  <span class="kw">&lt;/div&gt;</span>
  <span class="kw">&lt;div</span><span class="ot"> class=</span><span class="st">&quot;mdl-mega-footer__middle-section&quot;</span><span class="kw">&gt;</span>
  ...
  <span class="kw">&lt;/div&gt;</span>
  <span class="kw">&lt;div</span><span class="ot"> class=</span><span class="st">&quot;mdl-mega-footer__bottom-section&quot;</span><span class="kw">&gt;</span>
  ...
  <span class="kw">&lt;/div&gt;</span>
<span class="kw">&lt;/footer&gt;</span></code></pre></div>
<p> 2b. Add the appropriate MDL classes to the two &quot;inner&quot; left and right divs using the <code>class</code> attribute.</p>
<div class="sourceCode"><pre class="sourceCode html"><code class="sourceCode html"><span class="kw">&lt;footer</span><span class="ot"> class=</span><span class="st">&quot;mdl-mega-footer&quot;</span><span class="kw">&gt;</span>
  <span class="kw">&lt;div</span><span class="ot"> class=</span><span class="st">&quot;mdl-mega-footer__top-section&quot;</span><span class="kw">&gt;</span>
    <span class="kw">&lt;div</span><span class="ot"> class=</span><span class="st">&quot;mdl-mega-footer__left-section&quot;</span><span class="kw">&gt;</span>
    ...
    <span class="kw">&lt;/div&gt;</span>
    <span class="kw">&lt;div</span><span class="ot"> class=</span><span class="st">&quot;mdl-mega-footer__right-section&quot;</span><span class="kw">&gt;</span>
    ...
    <span class="kw">&lt;/div&gt;</span>
  <span class="kw">&lt;/div&gt;</span>
  <span class="kw">&lt;div</span><span class="ot"> class=</span><span class="st">&quot;mdl-mega-footer__middle-section&quot;</span><span class="kw">&gt;</span>
  ...
  <span class="kw">&lt;/div&gt;</span>
  <span class="kw">&lt;div</span><span class="ot"> class=</span><span class="st">&quot;mdl-mega-footer__bottom-section&quot;</span><span class="kw">&gt;</span>
  ...
  <span class="kw">&lt;/div&gt;</span>
<span class="kw">&lt;/footer&gt;</span></code></pre></div>
<p> 3a. Inside the middle section div, code one or more sibling &quot;inner&quot; divs for the <em>drop-down</em> content sections. That is, for two drop-down sections, you would code two divs.</p>
<div class="sourceCode"><pre class="sourceCode html"><code class="sourceCode html"><span class="kw">&lt;footer</span><span class="ot"> class=</span><span class="st">&quot;mdl-mega-footer&quot;</span><span class="kw">&gt;</span>
  <span class="kw">&lt;div</span><span class="ot"> class=</span><span class="st">&quot;mdl-mega-footer__top-section&quot;</span><span class="kw">&gt;</span>
    <span class="kw">&lt;div</span><span class="ot"> class=</span><span class="st">&quot;mdl-mega-footer__left-section&quot;</span><span class="kw">&gt;</span>
    ...
    <span class="kw">&lt;/div&gt;</span>
    <span class="kw">&lt;div</span><span class="ot"> class=</span><span class="st">&quot;mdl-mega-footer__right-section&quot;</span><span class="kw">&gt;</span>
    ...
    <span class="kw">&lt;/div&gt;</span>
  <span class="kw">&lt;/div&gt;</span>
  <span class="kw">&lt;div</span><span class="ot"> class=</span><span class="st">&quot;mdl-mega-footer__middle-section&quot;</span><span class="kw">&gt;</span>
    <span class="kw">&lt;div&gt;</span>
    ...
    <span class="kw">&lt;/div&gt;</span>
    <span class="kw">&lt;div&gt;</span>
    ...
    <span class="kw">&lt;/div&gt;</span>
  <span class="kw">&lt;/div&gt;</span>
  <span class="kw">&lt;div</span><span class="ot"> class=</span><span class="st">&quot;mdl-mega-footer__bottom-section&quot;</span><span class="kw">&gt;</span>
  ...
  <span class="kw">&lt;/div&gt;</span>
<span class="kw">&lt;/footer&gt;</span></code></pre></div>
<p> 3b. Add the appropriate MDL classes to the two &quot;inner&quot; drop-down divs using the <code>class</code> attribute.</p>
<div class="sourceCode"><pre class="sourceCode html"><code class="sourceCode html"><span class="kw">&lt;footer</span><span class="ot"> class=</span><span class="st">&quot;mdl-mega-footer&quot;</span><span class="kw">&gt;</span>
  <span class="kw">&lt;div</span><span class="ot"> class=</span><span class="st">&quot;mdl-mega-footer__top-section&quot;</span><span class="kw">&gt;</span>
    <span class="kw">&lt;div</span><span class="ot"> class=</span><span class="st">&quot;mdl-mega-footer__left-section&quot;</span><span class="kw">&gt;</span>
    ...
    <span class="kw">&lt;/div&gt;</span>
    <span class="kw">&lt;div</span><span class="ot"> class=</span><span class="st">&quot;mdl-mega-footer__right-section&quot;</span><span class="kw">&gt;</span>
    ...
    <span class="kw">&lt;/div&gt;</span>
  <span class="kw">&lt;/div&gt;</span>
  <span class="kw">&lt;div</span><span class="ot"> class=</span><span class="st">&quot;mdl-mega-footer__middle-section&quot;</span><span class="kw">&gt;</span>
    <span class="kw">&lt;div</span><span class="ot"> class=</span><span class="st">&quot;mdl-mega-footer__drop-down-section&quot;</span><span class="kw">&gt;</span>
    ...
    <span class="kw">&lt;/div&gt;</span>
    <span class="kw">&lt;div</span><span class="ot"> class=</span><span class="st">&quot;mdl-mega-footer__drop-down-section&quot;</span><span class="kw">&gt;</span>
    ...
    <span class="kw">&lt;/div&gt;</span>
  <span class="kw">&lt;/div&gt;</span>
  <span class="kw">&lt;div</span><span class="ot"> class=</span><span class="st">&quot;mdl-mega-footer__bottom-section&quot;</span><span class="kw">&gt;</span>
  ...
  <span class="kw">&lt;/div&gt;</span>
<span class="kw">&lt;/footer&gt;</span></code></pre></div>
<p> 4a. Inside the bottom section div, code an &quot;inner&quot; div for the section heading and a sibling unordered list for the bottom section links.</p>
<div class="sourceCode"><pre class="sourceCode html"><code class="sourceCode html"><span class="kw">&lt;footer</span><span class="ot"> class=</span><span class="st">&quot;mdl-mega-footer&quot;</span><span class="kw">&gt;</span>
  <span class="kw">&lt;div</span><span class="ot"> class=</span><span class="st">&quot;mdl-mega-footer__top-section&quot;</span><span class="kw">&gt;</span>
    <span class="kw">&lt;div</span><span class="ot"> class=</span><span class="st">&quot;mdl-mega-footer__left-section&quot;</span><span class="kw">&gt;</span>
    ...
    <span class="kw">&lt;/div&gt;</span>
    <span class="kw">&lt;div</span><span class="ot"> class=</span><span class="st">&quot;mdl-mega-footer__right-section&quot;</span><span class="kw">&gt;</span>
    ...
    <span class="kw">&lt;/div&gt;</span>
  <span class="kw">&lt;/div&gt;</span>
  <span class="kw">&lt;div</span><span class="ot"> class=</span><span class="st">&quot;mdl-mega-footer__middle-section&quot;</span><span class="kw">&gt;</span>
    <span class="kw">&lt;div</span><span class="ot"> class=</span><span class="st">&quot;mdl-mega-footer__drop-down-section&quot;</span><span class="kw">&gt;</span>
    ...
    <span class="kw">&lt;/div&gt;</span>
    <span class="kw">&lt;div</span><span class="ot"> class=</span><span class="st">&quot;mdl-mega-footer__drop-down-section&quot;</span><span class="kw">&gt;</span>
    ...
    <span class="kw">&lt;/div&gt;</span>
  <span class="kw">&lt;/div&gt;</span>
  <span class="kw">&lt;div</span><span class="ot"> class=</span><span class="st">&quot;mdl-mega-footer__bottom-section&quot;</span><span class="kw">&gt;</span>
    <span class="kw">&lt;div&gt;</span>
      ...
    <span class="kw">&lt;/div&gt;</span>
    <span class="kw">&lt;ul&gt;</span>
      ...
    <span class="kw">&lt;/ul&gt;</span>
  <span class="kw">&lt;/div&gt;</span>
<span class="kw">&lt;/footer&gt;</span></code></pre></div>
<p> 4b. Add the appropriate MDL classes to the &quot;inner&quot; div heading and list using the <code>class</code> attribute.</p>
<div class="sourceCode"><pre class="sourceCode html"><code class="sourceCode html"><span class="kw">&lt;footer</span><span class="ot"> class=</span><span class="st">&quot;mdl-mega-footer&quot;</span><span class="kw">&gt;</span>
  <span class="kw">&lt;div</span><span class="ot"> class=</span><span class="st">&quot;mdl-mega-footer__top-section&quot;</span><span class="kw">&gt;</span>
    <span class="kw">&lt;div</span><span class="ot"> class=</span><span class="st">&quot;mdl-mega-footer__left-section&quot;</span><span class="kw">&gt;</span>
    ...
    <span class="kw">&lt;/div&gt;</span>
    <span class="kw">&lt;div</span><span class="ot"> class=</span><span class="st">&quot;mdl-mega-footer__right-section&quot;</span><span class="kw">&gt;</span>
    ...
    <span class="kw">&lt;/div&gt;</span>
  <span class="kw">&lt;/div&gt;</span>
  <span class="kw">&lt;div</span><span class="ot"> class=</span><span class="st">&quot;mdl-mega-footer__middle-section&quot;</span><span class="kw">&gt;</span>
    <span class="kw">&lt;div</span><span class="ot"> class=</span><span class="st">&quot;mdl-mega-footer__drop-down-section&quot;</span><span class="kw">&gt;</span>
    ...
    <span class="kw">&lt;/div&gt;</span>
    <span class="kw">&lt;div</span><span class="ot"> class=</span><span class="st">&quot;mdl-mega-footer__drop-down-section&quot;</span><span class="kw">&gt;</span>
    ...
    <span class="kw">&lt;/div&gt;</span>
  <span class="kw">&lt;/div&gt;</span>
  <span class="kw">&lt;div</span><span class="ot"> class=</span><span class="st">&quot;mdl-mega-footer__bottom-section&quot;</span><span class="kw">&gt;</span>
    <span class="kw">&lt;div</span><span class="ot"> class=</span><span class="st">&quot;mdl-logo&quot;</span><span class="kw">&gt;</span>
    <span class="kw">&lt;/div&gt;</span>
    <span class="kw">&lt;ul</span><span class="ot"> class=</span><span class="st">&quot;mdl-mega-footer__link-list&quot;</span><span class="kw">&gt;</span>
      ...
    <span class="kw">&lt;/ul&gt;</span>
  <span class="kw">&lt;/div&gt;</span>
<span class="kw">&lt;/footer&gt;</span></code></pre></div>
<p> 5. Add content to the top (left and right), middle (drop-downs), and bottom (text and links) sections of the footer; include any appropriate MDL classes using the <code>class</code> attribute.</p>
<div class="sourceCode"><pre class="sourceCode html"><code class="sourceCode html"><span class="kw">&lt;footer</span><span class="ot"> class=</span><span class="st">&quot;mdl-mega-footer&quot;</span><span class="kw">&gt;</span>
  <span class="kw">&lt;div</span><span class="ot"> class=</span><span class="st">&quot;mdl-mega-footer__top-section&quot;</span><span class="kw">&gt;</span>
    <span class="kw">&lt;div</span><span class="ot"> class=</span><span class="st">&quot;mdl-mega-footer__left-section&quot;</span><span class="kw">&gt;</span>
      <span class="kw">&lt;button</span><span class="ot"> class=</span><span class="st">&quot;mdl-mega-footer__social-btn&quot;</span><span class="kw">&gt;&lt;/button&gt;</span>
      <span class="kw">&lt;button</span><span class="ot"> class=</span><span class="st">&quot;mdl-mega-footer__social-btn&quot;</span><span class="kw">&gt;&lt;/button&gt;</span>
      <span class="kw">&lt;button</span><span class="ot"> class=</span><span class="st">&quot;mdl-mega-footer__social-btn&quot;</span><span class="kw">&gt;&lt;/button&gt;</span>
    <span class="kw">&lt;/div&gt;</span>
    <span class="kw">&lt;div</span><span class="ot"> class=</span><span class="st">&quot;mdl-mega-footer__right-section&quot;</span><span class="kw">&gt;</span>
      <span class="kw">&lt;a</span><span class="ot"> href=</span><span class="st">&quot;&quot;</span><span class="kw">&gt;</span>Link 1<span class="kw">&lt;/a&gt;</span>
      <span class="kw">&lt;a</span><span class="ot"> href=</span><span class="st">&quot;&quot;</span><span class="kw">&gt;</span>Link 2<span class="kw">&lt;/a&gt;</span>
      <span class="kw">&lt;a</span><span class="ot"> href=</span><span class="st">&quot;&quot;</span><span class="kw">&gt;</span>Link 3<span class="kw">&lt;/a&gt;</span>
    <span class="kw">&lt;/div&gt;</span>
  <span class="kw">&lt;/div&gt;</span>
  <span class="kw">&lt;div</span><span class="ot"> class=</span><span class="st">&quot;mdl-mega-footer__middle-section&quot;</span><span class="kw">&gt;</span>
    <span class="kw">&lt;div</span><span class="ot"> class=</span><span class="st">&quot;mdl-mega-footer__drop-down-section&quot;</span><span class="kw">&gt;</span>
      <span class="kw">&lt;h1</span><span class="ot"> class=</span><span class="st">&quot;mdl-mega-footer__heading&quot;</span><span class="kw">&gt;</span>Drop-down 1 Heading<span class="kw">&lt;/h1&gt;</span>
      <span class="kw">&lt;ul</span><span class="ot"> class=</span><span class="st">&quot;mdl-mega-footer__link-list&quot;</span><span class="kw">&gt;</span>
        <span class="kw">&lt;li&gt;&lt;a</span><span class="ot"> href=</span><span class="st">&quot;&quot;</span><span class="kw">&gt;</span>Link A<span class="kw">&lt;/a&gt;&lt;/li&gt;</span>
        <span class="kw">&lt;li&gt;&lt;a</span><span class="ot"> href=</span><span class="st">&quot;&quot;</span><span class="kw">&gt;</span>Link B<span class="kw">&lt;/a&gt;&lt;/li&gt;</span>
        <span class="kw">&lt;li&gt;&lt;a</span><span class="ot"> href=</span><span class="st">&quot;&quot;</span><span class="kw">&gt;</span>Link C<span class="kw">&lt;/a&gt;&lt;/li&gt;</span>
        <span class="kw">&lt;li&gt;&lt;a</span><span class="ot"> href=</span><span class="st">&quot;&quot;</span><span class="kw">&gt;</span>Link D<span class="kw">&lt;/a&gt;&lt;/li&gt;</span>
      <span class="kw">&lt;/ul&gt;</span>
    <span class="kw">&lt;/div&gt;</span>
    <span class="kw">&lt;div</span><span class="ot"> class=</span><span class="st">&quot;mdl-mega-footer__drop-down-section&quot;</span><span class="kw">&gt;</span>
      <span class="kw">&lt;h1</span><span class="ot"> class=</span><span class="st">&quot;mdl-mega-footer__heading&quot;</span><span class="kw">&gt;</span>Drop-down 2 Heading<span class="kw">&lt;/h1&gt;</span>
      <span class="kw">&lt;ul</span><span class="ot"> class=</span><span class="st">&quot;mdl-mega-footer__link-list&quot;</span><span class="kw">&gt;</span>
        <span class="kw">&lt;li&gt;&lt;a</span><span class="ot"> href=</span><span class="st">&quot;&quot;</span><span class="kw">&gt;</span>Link A<span class="kw">&lt;/a&gt;&lt;/li&gt;</span>
        <span class="kw">&lt;li&gt;&lt;a</span><span class="ot"> href=</span><span class="st">&quot;&quot;</span><span class="kw">&gt;</span>Link B<span class="kw">&lt;/a&gt;&lt;/li&gt;</span>
        <span class="kw">&lt;li&gt;&lt;a</span><span class="ot"> href=</span><span class="st">&quot;&quot;</span><span class="kw">&gt;</span>Link C<span class="kw">&lt;/a&gt;&lt;/li&gt;</span>
      <span class="kw">&lt;/ul&gt;</span>
    <span class="kw">&lt;/div&gt;</span>
  <span class="kw">&lt;/div&gt;</span>
  <span class="kw">&lt;div</span><span class="ot"> class=</span><span class="st">&quot;mdl-mega-footer__bottom-section&quot;</span><span class="kw">&gt;</span>
    <span class="kw">&lt;div</span><span class="ot"> class=</span><span class="st">&quot;mdl-logo&quot;</span><span class="kw">&gt;</span>
    Mega-Footer Bottom Section Heading
    <span class="kw">&lt;/div&gt;</span>
    <span class="kw">&lt;ul</span><span class="ot"> class=</span><span class="st">&quot;mdl-mega-footer__link-list&quot;</span><span class="kw">&gt;</span>
      <span class="kw">&lt;li&gt;&lt;a</span><span class="ot"> href=</span><span class="st">&quot;&quot;</span><span class="kw">&gt;</span>Link A<span class="kw">&lt;/a&gt;&lt;/li&gt;</span>
      <span class="kw">&lt;li&gt;&lt;a</span><span class="ot"> href=</span><span class="st">&quot;&quot;</span><span class="kw">&gt;</span>Link B<span class="kw">&lt;/a&gt;&lt;/li&gt;</span>
    <span class="kw">&lt;/ul&gt;</span>
  <span class="kw">&lt;/div&gt;</span>
<span class="kw">&lt;/footer&gt;</span></code></pre></div>
<p>The mega-footer component is ready for use.</p>
<h4 id="examples">Examples</h4>
<p>A mega-footer component with three sections and two drop-down sections in the middle section.</p>
<div class="sourceCode"><pre class="sourceCode html"><code class="sourceCode html"><span class="kw">&lt;footer</span><span class="ot"> class=</span><span class="st">&quot;mdl-mega-footer&quot;</span><span class="kw">&gt;</span>
  <span class="kw">&lt;div</span><span class="ot"> class=</span><span class="st">&quot;mdl-mega-footer__top-section&quot;</span><span class="kw">&gt;</span>
    <span class="kw">&lt;div</span><span class="ot"> class=</span><span class="st">&quot;mdl-mega-footer__left-section&quot;</span><span class="kw">&gt;</span>
      <span class="kw">&lt;button</span><span class="ot"> class=</span><span class="st">&quot;mdl-mega-footer__social-btn&quot;</span><span class="kw">&gt;&lt;/button&gt;</span>
      <span class="kw">&lt;button</span><span class="ot"> class=</span><span class="st">&quot;mdl-mega-footer__social-btn&quot;</span><span class="kw">&gt;&lt;/button&gt;</span>
      <span class="kw">&lt;button</span><span class="ot"> class=</span><span class="st">&quot;mdl-mega-footer__social-btn&quot;</span><span class="kw">&gt;&lt;/button&gt;</span>
    <span class="kw">&lt;/div&gt;</span>
    <span class="kw">&lt;div</span><span class="ot"> class=</span><span class="st">&quot;mdl-mega-footer__right-section&quot;</span><span class="kw">&gt;</span>
      <span class="kw">&lt;a</span><span class="ot"> href=</span><span class="st">&quot;#&quot;</span><span class="kw">&gt;</span>Introduction<span class="kw">&lt;/a&gt;</span>
      <span class="kw">&lt;a</span><span class="ot"> href=</span><span class="st">&quot;#&quot;</span><span class="kw">&gt;</span>App Status Dashboard<span class="kw">&lt;/a&gt;</span>
      <span class="kw">&lt;a</span><span class="ot"> href=</span><span class="st">&quot;#&quot;</span><span class="kw">&gt;</span>Terms of Service<span class="kw">&lt;/a&gt;</span>
    <span class="kw">&lt;/div&gt;</span>
  <span class="kw">&lt;/div&gt;</span>
  <span class="kw">&lt;div</span><span class="ot"> class=</span><span class="st">&quot;mdl-mega-footer__middle-section&quot;</span><span class="kw">&gt;</span>
    <span class="kw">&lt;div</span><span class="ot"> class=</span><span class="st">&quot;mdl-mega-footer__drop-down-section&quot;</span><span class="kw">&gt;</span>
      <span class="kw">&lt;h1</span><span class="ot"> class=</span><span class="st">&quot;mdl-mega-footer__heading&quot;</span><span class="kw">&gt;</span>Learning and Support<span class="kw">&lt;/h1&gt;</span>
      <span class="kw">&lt;ul</span><span class="ot"> class=</span><span class="st">&quot;mdl-mega-footer__link-list&quot;</span><span class="kw">&gt;</span>
        <span class="kw">&lt;li&gt;&lt;a</span><span class="ot"> href=</span><span class="st">&quot;#&quot;</span><span class="kw">&gt;</span>Resource Center<span class="kw">&lt;/a&gt;&lt;/li&gt;</span>
        <span class="kw">&lt;li&gt;&lt;a</span><span class="ot"> href=</span><span class="st">&quot;#&quot;</span><span class="kw">&gt;</span>Help Center<span class="kw">&lt;/a&gt;&lt;/li&gt;</span>
        <span class="kw">&lt;li&gt;&lt;a</span><span class="ot"> href=</span><span class="st">&quot;#&quot;</span><span class="kw">&gt;</span>Community<span class="kw">&lt;/a&gt;&lt;/li&gt;</span>
        <span class="kw">&lt;li&gt;&lt;a</span><span class="ot"> href=</span><span class="st">&quot;#&quot;</span><span class="kw">&gt;</span>Learn with Google<span class="kw">&lt;/a&gt;&lt;/li&gt;</span>
        <span class="kw">&lt;li&gt;&lt;a</span><span class="ot"> href=</span><span class="st">&quot;#&quot;</span><span class="kw">&gt;</span>Small Business Community<span class="kw">&lt;/a&gt;&lt;/li&gt;</span>
        <span class="kw">&lt;li&gt;&lt;a</span><span class="ot"> href=</span><span class="st">&quot;#&quot;</span><span class="kw">&gt;</span>Think Insights<span class="kw">&lt;/a&gt;&lt;/li&gt;</span>
      <span class="kw">&lt;/ul&gt;</span>
    <span class="kw">&lt;/div&gt;</span>
    <span class="kw">&lt;div</span><span class="ot"> class=</span><span class="st">&quot;mdl-mega-footer__drop-down-section&quot;</span><span class="kw">&gt;</span>
      <span class="kw">&lt;h1</span><span class="ot"> class=</span><span class="st">&quot;mdl-mega-footer__heading&quot;</span><span class="kw">&gt;</span>Just for Developers<span class="kw">&lt;/h1&gt;</span>
      <span class="kw">&lt;ul</span><span class="ot"> class=</span><span class="st">&quot;mdl-mega-footer__link-list&quot;</span><span class="kw">&gt;</span>
        <span class="kw">&lt;li&gt;&lt;a</span><span class="ot"> href=</span><span class="st">&quot;#&quot;</span><span class="kw">&gt;</span>Google Developers<span class="kw">&lt;/a&gt;&lt;/li&gt;</span>
        <span class="kw">&lt;li&gt;&lt;a</span><span class="ot"> href=</span><span class="st">&quot;#&quot;</span><span class="kw">&gt;</span>AdWords API<span class="kw">&lt;/a&gt;&lt;/li&gt;</span>
        <span class="kw">&lt;li&gt;&lt;a</span><span class="ot"> href=</span><span class="st">&quot;#&quot;</span><span class="kw">&gt;</span>AdWords Scipts<span class="kw">&lt;/a&gt;&lt;/li&gt;</span>
        <span class="kw">&lt;li&gt;&lt;a</span><span class="ot"> href=</span><span class="st">&quot;#&quot;</span><span class="kw">&gt;</span>AdWords Remarketing Tag<span class="kw">&lt;/a&gt;&lt;/li&gt;</span>
      <span class="kw">&lt;/ul&gt;</span>
    <span class="kw">&lt;/div&gt;</span>
  <span class="kw">&lt;/div&gt;</span>
  <span class="kw">&lt;div</span><span class="ot"> class=</span><span class="st">&quot;mdl-mega-footer__bottom-section&quot;</span><span class="kw">&gt;</span>
    <span class="kw">&lt;div</span><span class="ot"> class=</span><span class="st">&quot;mdl-logo&quot;</span><span class="kw">&gt;</span>
      More Information
    <span class="kw">&lt;/div&gt;</span>
    <span class="kw">&lt;ul</span><span class="ot"> class=</span><span class="st">&quot;mdl-mega-footer__link-list&quot;</span><span class="kw">&gt;</span>
      <span class="kw">&lt;li&gt;&lt;a</span><span class="ot"> href=</span><span class="st">&quot;#&quot;</span><span class="kw">&gt;</span>Help<span class="kw">&lt;/a&gt;&lt;/li&gt;</span>
      <span class="kw">&lt;li&gt;&lt;a</span><span class="ot"> href=</span><span class="st">&quot;#&quot;</span><span class="kw">&gt;</span>Privacy and Terms<span class="kw">&lt;/a&gt;&lt;/li&gt;</span>
    <span class="kw">&lt;/ul&gt;</span>
  <span class="kw">&lt;/div&gt;</span>
<span class="kw">&lt;/footer&gt;</span></code></pre></div>
<h3 id="to-include-an-mdl-mini-footer-component">To include an MDL <strong>mini-footer</strong> component:</h3>
<p> 1a. Code a <code>&lt;footer&gt;</code> element. Inside the footer, code two <code>&lt;div&gt;</code> elements, one for the <em>left</em> section and one for the <em>right</em> section.</p>
<div class="sourceCode"><pre class="sourceCode html"><code class="sourceCode html"><span class="kw">&lt;footer&gt;</span>
  <span class="kw">&lt;div&gt;</span>
  ...
  <span class="kw">&lt;/div&gt;</span>
  <span class="kw">&lt;div&gt;</span>
  ...
  <span class="kw">&lt;/div&gt;</span>
<span class="kw">&lt;/footer&gt;</span></code></pre></div>
<p> 1b. Add the appropriate MDL classes to the footer and divs using the <code>class</code> attribute.</p>
<div class="sourceCode"><pre class="sourceCode html"><code class="sourceCode html"><span class="kw">&lt;footer</span><span class="ot"> class=</span><span class="st">&quot;mdl-mini-footer&quot;</span><span class="kw">&gt;</span>
  <span class="kw">&lt;div</span><span class="ot"> class=</span><span class="st">&quot;mdl-mini-footer__left-section&quot;</span><span class="kw">&gt;</span>
  ...
  <span class="kw">&lt;/div&gt;</span>
  <span class="kw">&lt;div</span><span class="ot"> class=</span><span class="st">&quot;mdl-mini-footer__right-section&quot;</span><span class="kw">&gt;</span>
  ...
  <span class="kw">&lt;/div&gt;</span>
<span class="kw">&lt;/footer&gt;</span></code></pre></div>
<p> 2a. Inside the left section div, code an &quot;inner&quot; div for the section heading and a sibling unordered list for the left section links.</p>
<div class="sourceCode"><pre class="sourceCode html"><code class="sourceCode html"><span class="kw">&lt;footer</span><span class="ot"> class=</span><span class="st">&quot;mdl-mini-footer&quot;</span><span class="kw">&gt;</span>
  <span class="kw">&lt;div</span><span class="ot"> class=</span><span class="st">&quot;mdl-mini-footer__left-section&quot;</span><span class="kw">&gt;</span>
    <span class="kw">&lt;div&gt;</span>
      ...
    <span class="kw">&lt;/div&gt;</span>
    <span class="kw">&lt;ul&gt;</span>
      ...
    <span class="kw">&lt;/ul&gt;</span>
  <span class="kw">&lt;/div&gt;</span>
  <span class="kw">&lt;div</span><span class="ot"> class=</span><span class="st">&quot;mdl-mini-footer__right-section&quot;</span><span class="kw">&gt;</span>
  ...
  <span class="kw">&lt;/div&gt;</span>
<span class="kw">&lt;/footer&gt;</span></code></pre></div>
<p> 2b. Add the appropriate MDL classes to the &quot;inner&quot; div and list using the <code>class</code> attribute.</p>
<div class="sourceCode"><pre class="sourceCode html"><code class="sourceCode html"><span class="kw">&lt;footer</span><span class="ot"> class=</span><span class="st">&quot;mdl-mini-footer&quot;</span><span class="kw">&gt;</span>
  <span class="kw">&lt;div</span><span class="ot"> class=</span><span class="st">&quot;mdl-mini-footer__left-section&quot;</span><span class="kw">&gt;</span>
    <span class="kw">&lt;div</span><span class="ot"> class=</span><span class="st">&quot;mdl-logo&quot;</span><span class="kw">&gt;</span>
      ...
    <span class="kw">&lt;/div&gt;</span>
    <span class="kw">&lt;ul</span><span class="ot"> class=</span><span class="st">&quot;mdl-mini-footer__link-list&quot;</span><span class="kw">&gt;</span>
      ...
    <span class="kw">&lt;/ul&gt;</span>
  <span class="kw">&lt;/div&gt;</span>
  <span class="kw">&lt;div</span><span class="ot"> class=</span><span class="st">&quot;mdl-mini-footer__right-section&quot;</span><span class="kw">&gt;</span>
  ...
  <span class="kw">&lt;/div&gt;</span>
<span class="kw">&lt;/footer&gt;</span></code></pre></div>
<p> 3. Add content to the left (text and links) and right (text or decoration) sections of the footer; include any appropriate MDL classes using the <code>class</code> attribute.</p>
<div class="sourceCode"><pre class="sourceCode html"><code class="sourceCode html"><span class="kw">&lt;footer</span><span class="ot"> class=</span><span class="st">&quot;mdl-mini-footer&quot;</span><span class="kw">&gt;</span>
  <span class="kw">&lt;div</span><span class="ot"> class=</span><span class="st">&quot;mdl-mini-footer__left-section&quot;</span><span class="kw">&gt;</span>
    <span class="kw">&lt;div</span><span class="ot"> class=</span><span class="st">&quot;mdl-logo&quot;</span><span class="kw">&gt;</span>
      Mini-footer Heading
    <span class="kw">&lt;/div&gt;</span>
    <span class="kw">&lt;ul</span><span class="ot"> class=</span><span class="st">&quot;mdl-mini-footer__link-list&quot;</span><span class="kw">&gt;</span>
      <span class="kw">&lt;li&gt;&lt;a</span><span class="ot"> href=</span><span class="st">&quot;&quot;</span><span class="kw">&gt;</span>Link 1<span class="kw">&lt;/a&gt;&lt;/li&gt;</span>
      <span class="kw">&lt;li&gt;&lt;a</span><span class="ot"> href=</span><span class="st">&quot;&quot;</span><span class="kw">&gt;</span>Link 2<span class="kw">&lt;/a&gt;&lt;/li&gt;</span>
      <span class="kw">&lt;li&gt;&lt;a</span><span class="ot"> href=</span><span class="st">&quot;&quot;</span><span class="kw">&gt;</span>Link 3<span class="kw">&lt;/a&gt;&lt;/li&gt;</span>
    <span class="kw">&lt;/ul&gt;</span>
  <span class="kw">&lt;/div&gt;</span>
  <span class="kw">&lt;div</span><span class="ot"> class=</span><span class="st">&quot;mdl-mini-footer__right-section&quot;</span><span class="kw">&gt;</span>
    <span class="kw">&lt;button</span><span class="ot"> class=</span><span class="st">&quot;mdl-mini-footer__social-btn&quot;</span><span class="kw">&gt;&lt;/button&gt;</span>
    <span class="kw">&lt;button</span><span class="ot"> class=</span><span class="st">&quot;mdl-mini-footer__social-btn&quot;</span><span class="kw">&gt;&lt;/button&gt;</span>
    <span class="kw">&lt;button</span><span class="ot"> class=</span><span class="st">&quot;mdl-mini-footer__social-btn&quot;</span><span class="kw">&gt;&lt;/button&gt;</span>
  <span class="kw">&lt;/div&gt;</span>
<span class="kw">&lt;/footer&gt;</span></code></pre></div>
<p>The mini-footer component is ready for use.</p>
<h4 id="examples-1">Examples</h4>
<p>A mini-footer with left and right sections.</p>
<div class="sourceCode"><pre class="sourceCode html"><code class="sourceCode html"><span class="kw">&lt;footer</span><span class="ot"> class=</span><span class="st">&quot;mdl-mini-footer&quot;</span><span class="kw">&gt;</span>
  <span class="kw">&lt;div</span><span class="ot"> class=</span><span class="st">&quot;mdl-mini-footer__left-section&quot;</span><span class="kw">&gt;</span>
    <span class="kw">&lt;div</span><span class="ot"> class=</span><span class="st">&quot;mdl-logo&quot;</span><span class="kw">&gt;</span>
      More Information
    <span class="kw">&lt;/div&gt;</span>
    <span class="kw">&lt;ul</span><span class="ot"> class=</span><span class="st">&quot;mdl-mini-footer__link-list&quot;</span><span class="kw">&gt;</span>
      <span class="kw">&lt;li&gt;&lt;a</span><span class="ot"> href=</span><span class="st">&quot;#&quot;</span><span class="kw">&gt;</span>Help<span class="kw">&lt;/a&gt;&lt;/li&gt;</span>
      <span class="kw">&lt;li&gt;&lt;a</span><span class="ot"> href=</span><span class="st">&quot;#&quot;</span><span class="kw">&gt;</span>Privacy and Terms<span class="kw">&lt;/a&gt;&lt;/li&gt;</span>
      <span class="kw">&lt;li&gt;&lt;a</span><span class="ot"> href=</span><span class="st">&quot;#&quot;</span><span class="kw">&gt;</span>User Agreement<span class="kw">&lt;/a&gt;&lt;/li&gt;</span>
    <span class="kw">&lt;/ul&gt;</span>
  <span class="kw">&lt;/div&gt;</span>
  <span class="kw">&lt;div</span><span class="ot"> class=</span><span class="st">&quot;mdl-mini-footer__right-section&quot;</span><span class="kw">&gt;</span>
    <span class="kw">&lt;button</span><span class="ot"> class=</span><span class="st">&quot;mdl-mini-footer__social-btn&quot;</span><span class="kw">&gt;&lt;/button&gt;</span>
    <span class="kw">&lt;button</span><span class="ot"> class=</span><span class="st">&quot;mdl-mini-footer__social-btn&quot;</span><span class="kw">&gt;&lt;/button&gt;</span>
    <span class="kw">&lt;button</span><span class="ot"> class=</span><span class="st">&quot;mdl-mini-footer__social-btn&quot;</span><span class="kw">&gt;&lt;/button&gt;</span>
  <span class="kw">&lt;/div&gt;</span>
<span class="kw">&lt;/footer&gt;</span></code></pre></div>
<h2 id="configuration-options">Configuration options</h2>
<p>The MDL CSS classes apply various predefined visual enhancements to the footer. The table below lists the available classes and their effects.</p>
<table style="width:43%;">
<colgroup>
<col width="16%" />
<col width="12%" />
<col width="13%" />
</colgroup>
<thead>
<tr class="header">
<th align="left">MDL class</th>
<th align="left">Effect</th>
<th align="left">Remarks</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td align="left"><code>mdl-mega-footer</code></td>
<td align="left">Defines container as an MDL mega-footer component</td>
<td align="left">Required on footer element</td>
</tr>
<tr class="even">
<td align="left"><code>mdl-mega-footer__top-section</code></td>
<td align="left">Defines container as a footer top section</td>
<td align="left">Required on top section &quot;outer&quot; div element</td>
</tr>
<tr class="odd">
<td align="left"><code>mdl-mega-footer__left-section</code></td>
<td align="left">Defines container as a left section</td>
<td align="left">Required on left section &quot;inner&quot; div element</td>
</tr>
<tr class="even">
<td align="left"><code>mdl-mega-footer__social-btn</code></td>
<td align="left">Defines a decorative square within mega-footer</td>
<td align="left">Required on button element (if used)</td>
</tr>
<tr class="odd">
<td align="left"><code>mdl-mega-footer__right-section</code></td>
<td align="left">Defines container as a right section</td>
<td align="left">Required on right section &quot;inner&quot; div element</td>
</tr>
<tr class="even">
<td align="left"><code>mdl-mega-footer__middle-section</code></td>
<td align="left">Defines container as a footer middle section</td>
<td align="left">Required on middle section &quot;outer&quot; div element</td>
</tr>
<tr class="odd">
<td align="left"><code>mdl-mega-footer__drop-down-section</code></td>
<td align="left">Defines container as a drop-down (vertical) content area</td>
<td align="left">Required on drop-down &quot;inner&quot; div elements</td>
</tr>
<tr class="even">
<td align="left"><code>mdl-mega-footer__heading</code></td>
<td align="left">Defines a heading as a mega-footer heading</td>
<td align="left">Required on h1 element inside drop-down section</td>
</tr>
<tr class="odd">
<td align="left"><code>mdl-mega-footer__link-list</code></td>
<td align="left">Defines an unordered list as a drop-down (vertical) list</td>
<td align="left">Required on ul element inside drop-down section</td>
</tr>
<tr class="even">
<td align="left"><code>mdl-mega-footer__bottom-section</code></td>
<td align="left">Defines container as a footer bottom section</td>
<td align="left">Required on bottom section &quot;outer&quot; div element</td>
</tr>
<tr class="odd">
<td align="left"><code>mdl-logo</code></td>
<td align="left">Defines a container as a styled section heading</td>
<td align="left">Required on &quot;inner&quot; div element in mega-footer bottom-section or mini-footer left-section</td>
</tr>
<tr class="even">
<td align="left"><code>mdl-mini-footer</code></td>
<td align="left">Defines container as an MDL mini-footer component</td>
<td align="left">Required on footer element</td>
</tr>
<tr class="odd">
<td align="left"><code>mdl-mini-footer__left-section</code></td>
<td align="left">Defines container as a left section</td>
<td align="left">Required on left section &quot;inner&quot; div element</td>
</tr>
<tr class="even">
<td align="left"><code>mdl-mini-footer__link-list</code></td>
<td align="left">Defines an unordered list as an inline (horizontal) list</td>
<td align="left">Required on ul element sibling to &quot;mdl-logo&quot; div element</td>
</tr>
<tr class="odd">
<td align="left"><code>mdl-mini-footer__right-section</code></td>
<td align="left">Defines container as a right section</td>
<td align="left">Required on right section &quot;inner&quot; div element</td>
</tr>
<tr class="even">
<td align="left"><code>mdl-mini-footer__social-btn</code></td>
<td align="left">Defines a decorative square within mini-footer</td>
<td align="left">Required on button element (if used)</td>
</tr>
</tbody>
</table>

                </div>
            </div>
        </div>
    </div>
</div>