<div class="mdl-accordion-group mdl-js-accordion mdl-js-ripple-effect usage usage-formatter">
    <!-- Panel 1 -->
    <div class="mdl-accordion">
        <label class="mdl-accordion__label mdl-color--200">
            <i class="material-icons mdl-icon--remove-red-eye mdl-color-text--primary">remove_red_eye</i>
            Basic Usage
            <i class="material-icons indicator right mdl-color-text--primary">chevron_right</i>
        </label>
        <div class="mdl-accordion--content">
            <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
                <!-- TabBar -->
                <div class="mdl-tabs__tab-bar">
                    <a href="#dart" class="mdl-tabs__tab is-active">Dart</a>
                    <a href="#html" class="mdl-tabs__tab">HTML</a>
                    <a href="#css" class="mdl-tabs__tab">README</a>
                </div>
                <!-- Dart-Tab -->
                <div class="mdl-tabs__panel is-active" id="dart">
                <pre class="prettyprint linenums lang-dart">
import &#39;package:mdl&#47;mdl.dart&#39;;
import &#39;package:mdl&#47;mdlobservable.dart&#39;;
@MdlComponentModel @di.Injectable()
class Application extends MaterialApplication &#123;
    final Logger _logger = new Logger(&#39;main.Application&#39;);
    final ObservableProperty&lt;double&gt; pi = new ObservableProperty&lt;double&gt;(3.14159265359);
    final ObservableProperty&lt;String&gt; name = new ObservableProperty&lt;String&gt;(&quot;Mike&quot;);
    final ObservableProperty&lt;bool&gt; checkStatus = new ObservableProperty&lt;bool&gt;(false);
    final List&lt;String&gt; xmen;
    
    Application() : xmen = [&#39;Angel&#47;Archangel&#39;, &#39;Apocalypse&#39;, &#39;Bishop&#39;, &#39;Beast&#39;,&#39;Caliban&#39;,&#39;Colossus&#39;,
                            &#39;Cyclops&#39;,&#39;Firestar&#39;,&#39;Emma Frost&#39;,&#39;Gambit&#39;,&#39;High Evolutionary&#39;,&#39;Dark Phoenix&#39;,
                            &#39;Marvel Girl&#39;,&#39;Iceman&#39;,&#39;Juggernaut&#39;,&#39;Magneto&#39;,&#39;Minos&#39;,&#39;Mr. Sinister&#39;,&#39;Mystique&#39;,
                            &#39;Nightcrawler&#39;,&#39;Professor X&#39;,&#39;Pyro&#39;,&#39;Psylocke&#39;,&#39;Rogue&#39;,&#39;Sabretooth&#39;,&#39;Shadowcat&#39;,&#39;Storm&#39;,
                            &#39;Talker&#39;,&#39;Wolverine&#39;,&#39;X-23&#39; ];
    @override
    void run() &#123;
        final Math.Random rnd = new Math.Random();
        new Timer.periodic(new Duration(milliseconds: 500),(final Timer timer) &#123;
            final int index = rnd.nextInt(xmen.length);
            name.value = xmen[index];
            checkStatus.value = index % 2;
        &#125;);
    &#125;
    &#47;&#47;- private -----------------------------------------------------------------------------------
&#125;
main() async &#123;
    final Logger _logger = new Logger(&#39;main.Formatter&#39;);
    registerMdl();
    final MaterialApplication application = await componentFactory().
        rootContext(Application).run(enableVisualDebugging: true);
    application.run();
&#125;

</pre>
                </div>
                <!-- HTML-Tab -->
                <div class="mdl-tabs__panel" id="html">
                <div class="linkinfo">
                    To use any MDL component, you must include the minified CSS file in the &lt;head&gt; section of the page:<br>
                    <div class="csslink mdl-color-text--accent-500">
                    &lt;link rel=&quot;stylesheet&quot; href=&quot;https://cdn.rawgit.com/MikeMitterer/dart-mdl-theme/master/blue_grey-pink/material.min.css&quot;&gt;<br>
                    </div>
                    More about <a href="/#/theming">theming...</a>
                </div>
                <pre class="prettyprint linenums lang-html">
&lt;div class=&quot;demo-preview-block&quot;&gt;
    &lt;h5&gt;Number-Formatter&lt;&#47;h5&gt;
    PI: &lt;span mdl-observe=&quot;pi&quot;&gt;&lt;&#47;span&gt;&lt;br&gt;
    PI with formatter: &lt;span mdl-observe=&quot;pi | number(value,2)&quot;&gt;&lt;&#47;span&gt;&lt;br&gt;
    &lt;br&gt;
    &lt;h5&gt;Uppercase &#47; Lowercase&lt;&#47;h5&gt;
    Name: &lt;span mdl-observe=&quot;name&quot;&gt;&lt;&#47;span&gt;&lt;br&gt;
    Name with formatter: &lt;span mdl-observe=&quot;name | uppercase(value)&quot;&gt;&lt;&#47;span&gt; (UpperCaseFormatter)&lt;br&gt;
    Name with formatter: &lt;span mdl-observe=&quot;name | lowercase(value)&quot;&gt;&lt;&#47;span&gt; (LowerCaseFormatter)&lt;br&gt;
    &lt;br&gt;
    &lt;h5&gt;Choose-Formatter&lt;&#47;h5&gt;
    Status is: &lt;span mdl-observe=&quot;checkStatus | choose(value, &#39;Valid!&#39;,&#39;OFF&#39;)&quot;
                     mdl-class=&quot;!checkStatus : &#39;status-off&#39;&quot;&gt;&lt;&#47;span&gt;
&lt;&#47;div&gt;
</pre>
                </div>
                <!-- CSS-Tab -->
                <div class="mdl-tabs__panel" id="css">
<h4>formatter</h4>
<p>...will be here soon</p>
                </div>
            </div>
        </div>
    </div>
</div>