<div class="mdl-accordion-group mdl-js-accordion mdl-js-ripple-effect usage usage-menu">
    <!-- Panel 1 -->
    <div class="mdl-accordion">
        <label class="mdl-accordion__label mdl-color--200">
            <i class="material-icons mdl-icon--remove-red-eye mdl-color-text--primary">remove_red_eye</i>
            Basic Usage
            <i class="material-icons indicator right mdl-color-text--primary">chevron_right</i>
        </label>
        <div class="mdl-accordion--content">
            <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
                <!-- TabBar -->
                <div class="mdl-tabs__tab-bar">
                    <a href="#dart" class="mdl-tabs__tab is-active">Dart</a>
                    <a href="#html" class="mdl-tabs__tab">HTML</a>
                    <a href="#css" class="mdl-tabs__tab">README</a>
                </div>
                <!-- Dart-Tab -->
                <div class="mdl-tabs__panel is-active" id="dart">
                <pre class="prettyprint linenums lang-dart">
import &#39;package:mdl&#47;mdl.dart&#39;;

main() &#123;
    const int TIMEOUT_IN_SECS = 5;
    registerMdl();
    componentFactory().run().then((_) &#123;
        final dom.HtmlElement element = dom.querySelector(&quot;.mdl-menu&quot;);
        final MaterialMenu menu1 = MaterialMenu.widget(element);
        void _showMessage(final int secsToClose) &#123;
            final dom.DivElement message = dom.querySelector(&quot;#message&quot;);
            message.text = &quot;Menu closes in $&#123;secsToClose&#125; seconds...&quot;;
            if(secsToClose &lt;= 0) &#123;
                message.text = &quot;Closed!&quot;;
            &#125;
        &#125;
        menu1.show();
        _showMessage(TIMEOUT_IN_SECS);
        int tick = 0;
        new Timer.periodic(new Duration(milliseconds: 1000) , (final Timer timer) &#123;
            _showMessage(TIMEOUT_IN_SECS - tick - 1);
            if(tick &gt;= TIMEOUT_IN_SECS - 1) &#123;
                timer.cancel();
                menu1.hide();
            &#125;
            tick++;
        &#125;);
    &#125;);
&#125;</pre>
                </div>
                <!-- HTML-Tab -->
                <div class="mdl-tabs__panel" id="html">
                <div class="linkinfo">
                    To use any MDL component, you must include the minified CSS file in the &lt;head&gt; section of the page:<br>
                    <div class="csslink mdl-color-text--accent-500">
                    &lt;link rel=&quot;stylesheet&quot; href=&quot;https://cdn.rawgit.com/MikeMitterer/dart-mdl-theme/master/blue_grey-pink/material.min.css&quot;&gt;<br>
                    </div>
                    More about <a href="/#/theming">theming...</a>
                </div>
                <pre class="prettyprint linenums lang-html">
  &lt;div class=&quot;demo-preview-block&quot;&gt;
      &lt;style&gt;
          .container-menu-lower-left {
              position: relative;
              width: 200px;
          }
          .background-menu-lower-left {
              background: white;
              height: 148px;
              width: 100%;
          }
          .bar-menu-lower-left {
              box-sizing: border-box;
              background: #3F51B5;
              color: white;
              width: 100%;
              padding: 16px;
          }
      &lt;&#47;style&gt;
      &lt;div class=&quot;container-menu-lower-left mdl-shadow--2dp&quot;&gt;
          &lt;div class=&quot;bar-menu-lower-left&quot;&gt;
              &lt;button id=&quot;demo-menu-lower-left&quot;
                      class=&quot;mdl-button mdl-js-button mdl-button--icon&quot;&gt;
                  &lt;i class=&quot;material-icons&quot;&gt;more_vert&lt;&#47;i&gt;
              &lt;&#47;button&gt;
              &lt;ul class=&quot;mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect&quot;
                  data-mdl-for=&quot;demo-menu-lower-left&quot;&gt;
                  &lt;li class=&quot;mdl-menu__item&quot;&gt;Some Action&lt;&#47;li&gt;
                  &lt;li class=&quot;mdl-menu__item mdl-menu__item--full-bleed-divider&quot;&gt;Another Action&lt;&#47;li&gt;
                  &lt;li disabled class=&quot;mdl-menu__item&quot;&gt;Disabled Action&lt;&#47;li&gt;
                  &lt;li class=&quot;mdl-menu__item&quot;&gt;Yet Another Action&lt;&#47;li&gt;
              &lt;&#47;ul&gt;
          &lt;&#47;div&gt;
          &lt;div class=&quot;background-menu-lower-left&quot;&gt;&lt;&#47;div&gt;
      &lt;&#47;div&gt;
      &lt;style&gt;
          .container-menu-lower-right {
              position: relative;
              width: 200px;
          }
          .background-menu-lower-right {
              background: white;
              height: 148px;
              width: 100%;
          }
          .bar-menu-lower-right {
              box-sizing: border-box;
              position: relative;
              background: #3F51B5;
              color: white;
              height: 64px;
              width: 100%;
              padding: 16px;
          }
          .wrapper-menu-lower-right {
              box-sizing: border-box;
              position: absolute;
              right: 16px;
          }
      &lt;&#47;style&gt;
      &lt;div class=&quot;container-menu-lower-right mdl-shadow--2dp&quot;&gt;
          &lt;div class=&quot;bar-menu-lower-right&quot;&gt;
              &lt;div class=&quot;wrapper-menu-lower-right&quot;&gt;
                  &lt;button id=&quot;demo-menu-lower-right&quot;
                          class=&quot;mdl-button mdl-js-button mdl-button--icon&quot;&gt;
                      &lt;i class=&quot;material-icons&quot;&gt;more_vert&lt;&#47;i&gt;
                  &lt;&#47;button&gt;
                  &lt;ul class=&quot;mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect&quot;
                      data-mdl-for=&quot;demo-menu-lower-right&quot;&gt;
                      &lt;li class=&quot;mdl-menu__item&quot;&gt;Some Action&lt;&#47;li&gt;
                      &lt;li class=&quot;mdl-menu__item&quot;&gt;Another Action&lt;&#47;li&gt;
                      &lt;li disabled class=&quot;mdl-menu__item&quot;&gt;Disabled Action&lt;&#47;li&gt;
                      &lt;li class=&quot;mdl-menu__item&quot;&gt;Yet Another Action&lt;&#47;li&gt;
                  &lt;&#47;ul&gt;
              &lt;&#47;div&gt;
          &lt;&#47;div&gt;
          &lt;div class=&quot;background-menu-lower-right&quot;&gt;&lt;&#47;div&gt;
      &lt;&#47;div&gt;
      &lt;style&gt;
          .container-menu-top-left {
              position: relative;
              width: 200px;
          }
          .background-menu-top-left {
              background: white;
              height: 148px;
              width: 100%;
          }
          .bar-menu-top-left {
              box-sizing: border-box;
              background: #3F51B5;
              color: white;
              width: 100%;
              padding: 16px;
          }
      &lt;&#47;style&gt;
      &lt;div class=&quot;container-menu-top-left mdl-shadow--2dp&quot;&gt;
          &lt;div class=&quot;background-menu-top-left&quot;&gt;&lt;&#47;div&gt;
          &lt;div class=&quot;bar-menu-top-left&quot;&gt;
              &lt;button id=&quot;demo-menu-top-left&quot;
                      class=&quot;mdl-button mdl-js-button mdl-button--icon&quot;&gt;
                  &lt;i class=&quot;material-icons&quot;&gt;more_vert&lt;&#47;i&gt;
              &lt;&#47;button&gt;
              &lt;ul class=&quot;mdl-menu mdl-menu--top-left mdl-js-menu mdl-js-ripple-effect&quot;
                  data-mdl-for=&quot;demo-menu-top-left&quot;&gt;
                  &lt;li class=&quot;mdl-menu__item&quot;&gt;Some Action&lt;&#47;li&gt;
                  &lt;li class=&quot;mdl-menu__item&quot;&gt;Another Action&lt;&#47;li&gt;
                  &lt;li disabled class=&quot;mdl-menu__item&quot;&gt;Disabled Action&lt;&#47;li&gt;
                  &lt;li class=&quot;mdl-menu__item&quot;&gt;Yet Another Action&lt;&#47;li&gt;
              &lt;&#47;ul&gt;
          &lt;&#47;div&gt;
      &lt;&#47;div&gt;
      &lt;style&gt;
          .container-menu-top-right {
              position: relative;
              width: 200px;
          }
          .background-menu-top-right {
              background: white;
              height: 148px;
              width: 100%;
          }
          .bar-menu-top-right {
              box-sizing: border-box;
              position: relative;
              background: #3F51B5;
              color: white;
              height: 64px;
              width: 100%;
              padding: 16px;
          }
          .wrapper-menu-top-right {
              box-sizing: border-box;
              position: absolute;
              right: 16px;
          }
      &lt;&#47;style&gt;
      &lt;div class=&quot;container-menu-top-right mdl-shadow--2dp&quot;&gt;
          &lt;div class=&quot;background-menu-top-right&quot;&gt;&lt;&#47;div&gt;
          &lt;div class=&quot;bar-menu-top-right&quot;&gt;
              &lt;div class=&quot;wrapper-menu-top-right&quot;&gt;
                  &lt;button id=&quot;demo-menu-top-right&quot;
                          class=&quot;mdl-button mdl-js-button mdl-button--icon&quot;&gt;
                      &lt;i class=&quot;material-icons&quot;&gt;more_vert&lt;&#47;i&gt;
                  &lt;&#47;button&gt;
                  &lt;ul class=&quot;mdl-menu mdl-menu--top-right mdl-js-menu mdl-js-ripple-effect&quot;
                      data-mdl-for=&quot;demo-menu-top-right&quot;&gt;
                      &lt;li class=&quot;mdl-menu__item&quot;&gt;Some Action&lt;&#47;li&gt;
                      &lt;li class=&quot;mdl-menu__item&quot;&gt;Another Action&lt;&#47;li&gt;
                      &lt;li disabled class=&quot;mdl-menu__item&quot;&gt;Disabled Action&lt;&#47;li&gt;
                      &lt;li class=&quot;mdl-menu__item&quot;&gt;Yet Another Action&lt;&#47;li&gt;
                  &lt;&#47;ul&gt;
              &lt;&#47;div&gt;
          &lt;&#47;div&gt;
      &lt;&#47;div&gt;
      &lt;div id=&quot;message&quot;&gt;&lt;&#47;div&gt;
  &lt;&#47;div&gt;
</pre>
                </div>
                <!-- CSS-Tab -->
                <div class="mdl-tabs__panel" id="css">
<h2 id="introduction">Introduction</h2>
<p>The Material Design Lite (MDL) <strong>menu</strong> component is a user interface element that allows users to select one of a number of options. The selection typically results in an action initiation, a setting change, or other observable effect. Menu options are always presented in sets of two or more, and options may be programmatically enabled or disabled as required. The menu appears when the user is asked to choose among a series of options, and is usually dismissed after the choice is made.</p>
<p>Menus are an established but non-standardized feature in user interfaces, and allow users to make choices that direct the activity, progress, or characteristics of software. Their design and use is an important factor in the overall user experience. See the menu component's <a href="http://www.google.com/design/spec/components/menus.html">Material Design specifications page</a> for details.</p>
<h2 id="basic-use">Basic use</h2>
<p>To use any MDL component, you must include the minified CSS and JavaScript files using standard relative-path references in the <code>&lt;head&gt;</code> section of the page, as described in the MDL Introduction.</p>
<h3 id="to-include-an-mdl-menu-component">To include an MDL <strong>menu</strong> component:</h3>
<p> 1. Code a <code>&lt;button&gt;</code> element; this is the clickable toggle that will show and hide the menu options. Include an <code>id</code> attribute whose value will match the <code>for</code> (or <code>data-mdl-for</code>) attribute of the unordered list coded in the next step. Inside the button, code a <code>&lt;i&gt;</code> or <code>&lt;span&gt;</code> element to contain an icon of your choice.</p>
<div class="sourceCode"><pre class="sourceCode html"><code class="sourceCode html"><span class="kw">&lt;button</span><span class="ot"> id=</span><span class="st">&quot;menu1&quot;</span><span class="kw">&gt;</span>
  <span class="kw">&lt;i&gt;&lt;/i&gt;</span>
<span class="kw">&lt;/button&gt;</span></code></pre></div>
<p> 2. Code a <code>&lt;ul&gt;</code> unordered list element; this is the container that holds the options. Include a <code>for</code> attribute whose value matches the <code>id</code> attribute of the button element.</p>
<div class="sourceCode"><pre class="sourceCode html"><code class="sourceCode html"><span class="kw">&lt;ul</span><span class="ot"> for=</span><span class="st">&quot;menu1&quot;</span><span class="kw">&gt;</span>
<span class="kw">&lt;/ul&gt;</span></code></pre></div>
<p> 3. Inside the unordered list, code one <code>&lt;li&gt;</code> element for each option. Include any desired attributes and values, such as an id or event handler, and add a text caption as appropriate.</p>
<div class="sourceCode"><pre class="sourceCode html"><code class="sourceCode html"><span class="kw">&lt;ul</span><span class="ot"> for=</span><span class="st">&quot;menu1&quot;</span><span class="kw">&gt;</span>
  <span class="kw">&lt;li&gt;</span>Continue<span class="kw">&lt;/li&gt;</span>
  <span class="kw">&lt;li&gt;</span>Stop<span class="kw">&lt;/li&gt;</span>
  <span class="kw">&lt;li&gt;</span>Pause<span class="kw">&lt;/li&gt;</span>
<span class="kw">&lt;/ul&gt;</span></code></pre></div>
<p> 4. Add one or more MDL classes, separated by spaces, to the button and span elements using the <code>class</code> attribute.</p>
<div class="sourceCode"><pre class="sourceCode html"><code class="sourceCode html"><span class="kw">&lt;button</span><span class="ot"> id=</span><span class="st">&quot;menu1&quot;</span><span class="ot"> class=</span><span class="st">&quot;mdl-button mdl-js-button mdl-button--icon&quot;</span><span class="kw">&gt;</span>
  <span class="kw">&lt;i</span><span class="ot"> class=</span><span class="st">&quot;material-icons&quot;</span><span class="kw">&gt;</span>more_vert<span class="kw">&lt;/i&gt;</span>
<span class="kw">&lt;/button&gt;</span></code></pre></div>
<p> 5. Add one or more MDL classes, separated by spaces, to the unordered list and the list items using the <code>class</code> attribute.</p>
<div class="sourceCode"><pre class="sourceCode html"><code class="sourceCode html"><span class="kw">&lt;ul</span><span class="ot"> class=</span><span class="st">&quot;mdl-menu mdl-js-menu&quot;</span><span class="ot"> for=</span><span class="st">&quot;menu1&quot;</span><span class="kw">&gt;</span>
  <span class="kw">&lt;li</span><span class="ot"> class=</span><span class="st">&quot;mdl-menu__item&quot;</span><span class="kw">&gt;</span>Continue<span class="kw">&lt;/li&gt;</span>
  <span class="kw">&lt;li</span><span class="ot"> class=</span><span class="st">&quot;mdl-menu__item&quot;</span><span class="kw">&gt;</span>Stop<span class="kw">&lt;/li&gt;</span>
  <span class="kw">&lt;li</span><span class="ot"> class=</span><span class="st">&quot;mdl-menu__item&quot;</span><span class="kw">&gt;</span>Pause<span class="kw">&lt;/li&gt;</span>
<span class="kw">&lt;/ul&gt;</span></code></pre></div>
<p>The menu component is ready for use.</p>
<h4 id="examples">Examples</h4>
<p>A menu with three options.</p>
<div class="sourceCode"><pre class="sourceCode html"><code class="sourceCode html"><span class="kw">&lt;button</span><span class="ot"> id=</span><span class="st">&quot;menu-speed&quot;</span><span class="ot"> class=</span><span class="st">&quot;mdl-button mdl-js-button mdl-button--icon&quot;</span><span class="kw">&gt;</span>
  <span class="kw">&lt;i</span><span class="ot"> class=</span><span class="st">&quot;material-icons&quot;</span><span class="kw">&gt;</span>more_vert<span class="kw">&lt;/i&gt;</span>
<span class="kw">&lt;/button&gt;</span>
<span class="kw">&lt;ul</span><span class="ot"> class=</span><span class="st">&quot;mdl-menu mdl-js-menu&quot;</span><span class="ot"> for=</span><span class="st">&quot;menu-speed&quot;</span><span class="kw">&gt;</span>
  <span class="kw">&lt;li</span><span class="ot"> class=</span><span class="st">&quot;mdl-menu__item&quot;</span><span class="kw">&gt;</span>Fast<span class="kw">&lt;/li&gt;</span>
  <span class="kw">&lt;li</span><span class="ot"> class=</span><span class="st">&quot;mdl-menu__item&quot;</span><span class="kw">&gt;</span>Medium<span class="kw">&lt;/li&gt;</span>
  <span class="kw">&lt;li</span><span class="ot"> class=</span><span class="st">&quot;mdl-menu__item&quot;</span><span class="kw">&gt;</span>Slow<span class="kw">&lt;/li&gt;</span>
<span class="kw">&lt;/ul&gt;</span></code></pre></div>
<p>A menu with three options, with ripple effect on button and option links.</p>
<div class="sourceCode"><pre class="sourceCode html"><code class="sourceCode html"><span class="kw">&lt;button</span><span class="ot"> id=</span><span class="st">&quot;menu-speed&quot;</span><span class="ot"> class=</span><span class="st">&quot;mdl-button mdl-js-button mdl-button--icon&quot;</span><span class="kw">&gt;</span>
  <span class="kw">&lt;i</span><span class="ot"> class=</span><span class="st">&quot;material-icons&quot;</span><span class="kw">&gt;</span>more_vert<span class="kw">&lt;/i&gt;</span>
<span class="kw">&lt;/button&gt;</span>
<span class="kw">&lt;ul</span><span class="ot"> class=</span><span class="st">&quot;mdl-menu mdl-js-menu mdl-js-ripple-effect&quot;</span><span class="ot"> for=</span><span class="st">&quot;menu-speed&quot;</span><span class="kw">&gt;</span>
  <span class="kw">&lt;li</span><span class="ot"> class=</span><span class="st">&quot;mdl-menu__item&quot;</span><span class="kw">&gt;</span>Fast<span class="kw">&lt;/li&gt;</span>
  <span class="kw">&lt;li</span><span class="ot"> class=</span><span class="st">&quot;mdl-menu__item&quot;</span><span class="kw">&gt;</span>Medium<span class="kw">&lt;/li&gt;</span>
  <span class="kw">&lt;li</span><span class="ot"> class=</span><span class="st">&quot;mdl-menu__item&quot;</span><span class="kw">&gt;</span>Slow<span class="kw">&lt;/li&gt;</span>
<span class="kw">&lt;/ul&gt;</span></code></pre></div>
<p>A menu with three options, the second of which is disabled by default.</p>
<div class="sourceCode"><pre class="sourceCode html"><code class="sourceCode html"><span class="kw">&lt;button</span><span class="ot"> id=</span><span class="st">&quot;menu-speed&quot;</span><span class="ot"> class=</span><span class="st">&quot;mdl-button mdl-js-button mdl-button--icon&quot;</span><span class="kw">&gt;</span>
  <span class="kw">&lt;i</span><span class="ot"> class=</span><span class="st">&quot;material-icons&quot;</span><span class="kw">&gt;</span>more_vert<span class="kw">&lt;/i&gt;</span>
<span class="kw">&lt;/button&gt;</span>
<span class="kw">&lt;ul</span><span class="ot"> class=</span><span class="st">&quot;mdl-menu mdl-js-menu&quot;</span><span class="ot"> for=</span><span class="st">&quot;menu-speed&quot;</span><span class="kw">&gt;</span>
  <span class="kw">&lt;li</span><span class="ot"> class=</span><span class="st">&quot;mdl-menu__item&quot;</span><span class="kw">&gt;</span>Fast<span class="kw">&lt;/li&gt;</span>
  <span class="kw">&lt;li</span><span class="ot"> class=</span><span class="st">&quot;mdl-menu__item&quot;</span><span class="ot"> disabled</span><span class="kw">&gt;</span>Medium<span class="kw">&lt;/li&gt;</span>
  <span class="kw">&lt;li</span><span class="ot"> class=</span><span class="st">&quot;mdl-menu__item&quot;</span><span class="kw">&gt;</span>Slow<span class="kw">&lt;/li&gt;</span>
<span class="kw">&lt;/ul&gt;</span></code></pre></div>
<h2 id="configuration-options">Configuration options</h2>
<p>The MDL CSS classes apply various predefined visual and behavioral enhancements to the menu. The table below lists the available classes and their effects.</p>
<table style="width:43%;">
<colgroup>
<col width="16%" />
<col width="12%" />
<col width="13%" />
</colgroup>
<thead>
<tr class="header">
<th align="left">MDL class</th>
<th align="left">Effect</th>
<th align="left">Remarks</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td align="left"><code>mdl-button</code></td>
<td align="left">Defines button as an MDL component</td>
<td align="left">Required on button element</td>
</tr>
<tr class="even">
<td align="left"><code>mdl-js-button</code></td>
<td align="left">Assigns basic MDL behavior to button</td>
<td align="left">Required on button element</td>
</tr>
<tr class="odd">
<td align="left"><code>mdl-button--icon</code></td>
<td align="left">Applies <em>icon</em> (small plain circular) display effect to button</td>
<td align="left">Required on button element</td>
</tr>
<tr class="even">
<td align="left"><code>material-icons</code></td>
<td align="left">Defines span as a material icon</td>
<td align="left">Required on an inline element</td>
</tr>
<tr class="odd">
<td align="left"><code>mdl-menu</code></td>
<td align="left">Defines an unordered list container as an MDL component</td>
<td align="left">Required on ul element</td>
</tr>
<tr class="even">
<td align="left"><code>mdl-js-menu</code></td>
<td align="left">Assigns basic MDL behavior to menu</td>
<td align="left">Required on ul element</td>
</tr>
<tr class="odd">
<td align="left"><code>mdl-menu__item</code></td>
<td align="left">Defines buttons as MDL menu options and assigns basic MDL behavior</td>
<td align="left">Required on list item elements</td>
</tr>
<tr class="even">
<td align="left"><code>mdl-menu__item--full-bleed-divider</code></td>
<td align="left">Modifies an item to have a full bleed divider between it and the next list item.</td>
<td align="left">Optional on list item elements</td>
</tr>
<tr class="odd">
<td align="left"><code>mdl-js-ripple-effect</code></td>
<td align="left">Applies <em>ripple</em> click effect to option links</td>
<td align="left">Optional; goes on unordered list element</td>
</tr>
<tr class="even">
<td align="left"><code>mdl-menu--top-left</code></td>
<td align="left">Positions menu above button, aligns left edge of menu with button</td>
<td align="left">Optional; goes on unordered list element</td>
</tr>
<tr class="odd">
<td align="left">(none)</td>
<td align="left">Positions menu below button, aligns left edge of menu with button</td>
<td align="left">Default</td>
</tr>
<tr class="even">
<td align="left"><code>mdl-menu--top-right</code></td>
<td align="left">Positions menu above button, aligns right edge of menu with button</td>
<td align="left">Optional; goes on unordered list element</td>
</tr>
<tr class="odd">
<td align="left"><code>mdl-menu--bottom-right</code></td>
<td align="left">Positions menu below button, aligns right edge of menu with button</td>
<td align="left">Optional; goes on unordered list element</td>
</tr>
</tbody>
</table>
<p>(1) The &quot;more-vert&quot; icon class is used here as an example. Other icons can be used by modifying the class name. For a list of available icons, see <a href="http://google.github.io/web-starter-kit/latest/styleguide/icons/demo.html">this page</a>; hover over an icon to see its class name.</p>
<p>(2) The <code>i</code> or <code>span</code> element in &quot;button&quot;&quot; element can be used interchangeably.</p>
<blockquote>
<p><strong>Note:</strong> Disabled versions of the menu options are provided, and are invoked with the standard HTML boolean attribute <code>disabled</code> or <code>data-mdl-disabled</code>. <code>&lt;li class=&quot;mdl-menu__item&quot; disabled&gt;Medium&lt;/li&gt;</code><br />
This attribute may be added or removed programmatically via scripting.</p>
</blockquote>

                </div>
            </div>
        </div>
    </div>
</div>