<div class="mdl-accordion-group mdl-js-accordion mdl-js-ripple-effect usage usage-notification">
    <!-- Panel 1 -->
    <div class="mdl-accordion">
        <label class="mdl-accordion__label mdl-color--200">
            <i class="material-icons mdl-icon--remove-red-eye mdl-color-text--primary">remove_red_eye</i>
            Basic Usage
            <i class="material-icons indicator right mdl-color-text--primary">chevron_right</i>
        </label>
        <div class="mdl-accordion--content">
            <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
                <!-- TabBar -->
                <div class="mdl-tabs__tab-bar">
                    <a href="#dart" class="mdl-tabs__tab is-active">Dart</a>
                    <a href="#html" class="mdl-tabs__tab">HTML</a>
                    <a href="#css" class="mdl-tabs__tab">README</a>
                </div>
                <!-- Dart-Tab -->
                <div class="mdl-tabs__panel is-active" id="dart">
                <pre class="prettyprint linenums lang-dart">
import &#39;package:mdl&#47;mdl.dart&#39;;

main() &#123;
    final Logger _logger = new Logger(&#39;dialog.Main&#39;);
    registerMdl();
    componentFactory().run().then((_) &#123;
        final MaterialButton btnNotification = MaterialButton.widget(dom.querySelector(&quot;#notification&quot;));
        final MaterialTextfield title = MaterialTextfield.widget(dom.querySelector(&quot;#notification-title&quot;));
        final MaterialTextfield subtitle = MaterialTextfield.widget(dom.querySelector(&quot;#notification-subtitle&quot;));
        final MaterialTextfield content = MaterialTextfield.widget(dom.querySelector(&quot;#notification-content&quot;));
        final MaterialRadioGroup notificationtype = MaterialRadioGroup.widget(dom.querySelector(&quot;#notification-type&quot;));
        void _checkIfButtonShouldBeEnabled(_) &#123; btnNotification.enabled = (title.value.isNotEmpty || content.value.isNotEmpty); &#125;
        title.hub.onKeyUp.listen( _checkIfButtonShouldBeEnabled);
        content.hub.onKeyUp.listen( _checkIfButtonShouldBeEnabled);
        int counter = 0;
        btnNotification.onClick.listen( (_) &#123;
            _logger.info(&quot;Click on Notification&quot;);
            NotificationType type = NotificationType.INFO;
            if(notificationtype.hasValue) &#123;
                switch(notificationtype.value) &#123;
                    case &quot;debug&quot;:   type = NotificationType.DEBUG; break;
                    case &quot;info&quot;:    type = NotificationType.INFO; break;
                    case &quot;warning&quot;: type = NotificationType.WARNING; break;
                    case &quot;error&quot;:   type = NotificationType.ERROR; break;
                    default: type = NotificationType.INFO;
                &#125;
            &#125;
            _logger.info(&quot;NT $&#123;notificationtype.value&#125; - $&#123;notificationtype.hasValue&#125;&quot;);
            final MaterialNotification notification = new MaterialNotification();
            final String titleToShow = title.value.isNotEmpty ? &quot;$&#123;title.value&#125; (#$&#123;counter&#125;)&quot; : &quot;&quot;;
            notification(content.value, type: type,title: titleToShow, subtitle: subtitle.value)
                .show().then((final MdlDialogStatus status) &#123;
                _logger.info(status);
            &#125;);
            counter++;
        &#125;);
    &#125;);
&#125;</pre>
                </div>
                <!-- HTML-Tab -->
                <div class="mdl-tabs__panel" id="html">
                <div class="linkinfo">
                    To use any MDL component, you must include the minified CSS file in the &lt;head&gt; section of the page:<br>
                    <div class="csslink mdl-color-text--accent-500">
                    &lt;link rel=&quot;stylesheet&quot; href=&quot;https://cdn.rawgit.com/MikeMitterer/dart-mdl-theme/master/blue_grey-pink/material.min.css&quot;&gt;<br>
                    </div>
                    More about <a href="/#/theming">theming...</a>
                </div>
                <pre class="prettyprint linenums lang-html">
&lt;div class=&quot;demo-preview-block&quot;&gt;
    &lt;div class=&quot;form&quot;&gt;
        &lt;div class=&quot;mdl-textfield mdl-js-textfield mdl-textfield--floating-label&quot;&gt;
            &lt;input class=&quot;mdl-textfield__input&quot; type=&quot;text&quot; id=&quot;notification-title&quot;&#47;&gt;
            &lt;label class=&quot;mdl-textfield__label&quot; for=&quot;notification-title&quot;&gt;Title&lt;&#47;label&gt;
        &lt;&#47;div&gt;
        &lt;div class=&quot;mdl-textfield mdl-js-textfield mdl-textfield--floating-label&quot;&gt;
            &lt;input class=&quot;mdl-textfield__input&quot; type=&quot;text&quot; id=&quot;notification-subtitle&quot; &#47;&gt;
            &lt;label class=&quot;mdl-textfield__label&quot; for=&quot;notification-subtitle&quot;&gt;Subtitle&lt;&#47;label&gt;
        &lt;&#47;div&gt;
        &lt;div class=&quot;mdl-textfield mdl-js-textfield mdl-textfield--floating-label&quot;&gt;
            &lt;textarea class=&quot;mdl-textfield__input&quot; type=&quot;text&quot; rows=&quot;2&quot; id=&quot;notification-content&quot; &gt;&lt;&#47;textarea&gt;
            &lt;label class=&quot;mdl-textfield__label&quot; for=&quot;notification-content&quot;&gt;Content&lt;&#47;label&gt;
        &lt;&#47;div&gt;
        &lt;div id=&quot;notification-type&quot; class=&quot;mdl-radio-group&quot;&gt;
            &lt;label class=&quot;mdl-radio mdl-js-radio mdl-js-ripple-effect&quot; for=&quot;type-debug&quot;&gt;
                &lt;input type=&quot;radio&quot; id=&quot;type-debug&quot; class=&quot;mdl-radio__button&quot; name=&quot;type[]&quot; value=&quot;debug&quot; &#47;&gt;
                &lt;span class=&quot;mdl-radio__label&quot;&gt;Debug&lt;&#47;span&gt;
            &lt;&#47;label&gt;
            &lt;label class=&quot;mdl-radio mdl-js-radio mdl-js-ripple-effect&quot; for=&quot;type-info&quot;&gt;
                &lt;input type=&quot;radio&quot; id=&quot;type-info&quot; class=&quot;mdl-radio__button&quot; name=&quot;type[]&quot; value=&quot;info&quot; checked&#47;&gt;
                &lt;span class=&quot;mdl-radio__label&quot;&gt;Info&lt;&#47;span&gt;
            &lt;&#47;label&gt;
            &lt;label class=&quot;mdl-radio mdl-js-radio mdl-js-ripple-effect&quot; for=&quot;type-warning&quot;&gt;
                &lt;input type=&quot;radio&quot; id=&quot;type-warning&quot; class=&quot;mdl-radio__button&quot; name=&quot;type[]&quot; value=&quot;warning&quot; &#47;&gt;
                &lt;span class=&quot;mdl-radio__label&quot;&gt;Warning&lt;&#47;span&gt;
            &lt;&#47;label&gt;
            &lt;label class=&quot;mdl-radio mdl-js-radio mdl-js-ripple-effect&quot; for=&quot;type-error&quot;&gt;
                &lt;input type=&quot;radio&quot; id=&quot;type-error&quot; class=&quot;mdl-radio__button&quot; name=&quot;type[]&quot; value=&quot;error&quot; &#47;&gt;
                &lt;span class=&quot;mdl-radio__label&quot;&gt;Error&lt;&#47;span&gt;
            &lt;&#47;label&gt;
        &lt;&#47;div&gt;
        &lt;button id=&quot;notification&quot;
                class=&quot;mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect&quot; disabled&gt;
            Add notification
        &lt;&#47;button&gt;
        &lt;p class=&quot;info&quot;&gt;
            Warning + Error have a delay of 10secs, Debug + Info have a delay of 6.5secs.
        &lt;&#47;p&gt;
    &lt;&#47;div&gt;
&lt;&#47;div&gt;
</pre>
                </div>
                <!-- CSS-Tab -->
                <div class="mdl-tabs__panel" id="css">
<h4>notification</h4>
<p>...will be here soon</p>
                </div>
            </div>
        </div>
    </div>
</div>