<div class="mdl-accordion-group mdl-js-accordion mdl-js-ripple-effect usage usage-progress">
    <!-- Panel 1 -->
    <div class="mdl-accordion">
        <label class="mdl-accordion__label mdl-color--200">
            <i class="material-icons mdl-icon--remove-red-eye mdl-color-text--primary">remove_red_eye</i>
            Basic Usage
            <i class="material-icons indicator right mdl-color-text--primary">chevron_right</i>
        </label>
        <div class="mdl-accordion--content">
            <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
                <!-- TabBar -->
                <div class="mdl-tabs__tab-bar">
                    <a href="#dart" class="mdl-tabs__tab is-active">Dart</a>
                    <a href="#html" class="mdl-tabs__tab">HTML</a>
                    <a href="#css" class="mdl-tabs__tab">README</a>
                </div>
                <!-- Dart-Tab -->
                <div class="mdl-tabs__panel is-active" id="dart">
                <pre class="prettyprint linenums lang-dart">
import &#39;package:mdl&#47;mdl.dart&#39;;

main() &#123;
    final Logger _logger = new Logger(&#39;example.progress.main&#39;);
    registerMdl();
    componentFactory().run().then((_) &#123;
        _logger.info(&quot;All components upgraded&quot;);
        &#47;&#47; 1
        MaterialProgress.widget(dom.querySelector(&quot;#p1&quot;)).progress = 44;
        &#47;&#47; 2
        MaterialProgress.widget(dom.querySelector(&quot;#p3&quot;)).progress = 33;
        MaterialProgress.widget(dom.querySelector(&quot;#p3&quot;)).buffer = 87;
        (dom.querySelector(&quot;#slider&quot;) as dom.RangeInputElement).onInput.listen((final dom.Event event) &#123;
            final int value = int.parse((event.target as dom.RangeInputElement).value);
            final component = MaterialProgress.widget(dom.querySelector(&quot;#p1&quot;))
                ..progress = value
                ..classes.toggle(&quot;test&quot;);
            _logger.info(&quot;Value: $&#123;component.progress&#125;&quot;);
        &#125;);
    &#125;);
&#125;</pre>
                </div>
                <!-- HTML-Tab -->
                <div class="mdl-tabs__panel" id="html">
                <div class="linkinfo">
                    To use any MDL component, you must include the minified CSS file in the &lt;head&gt; section of the page:<br>
                    <div class="csslink mdl-color-text--accent-500">
                    &lt;link rel=&quot;stylesheet&quot; href=&quot;https://cdn.rawgit.com/MikeMitterer/dart-mdl-theme/master/blue_grey-pink/material.min.css&quot;&gt;<br>
                    </div>
                    More about <a href="/#/theming">theming...</a>
                </div>
                <pre class="prettyprint linenums lang-html">
&lt;div class=&quot;demo-preview-block&quot;&gt;
    &lt;p&gt;
        Default:
    &lt;div id=&quot;p1&quot; class=&quot;mdl-progress mdl-js-progress&quot;&gt;&lt;&#47;div&gt;
    &lt;&#47;p&gt;
    &lt;p&gt;
        Indeterminate:
    &lt;div id=&quot;p2&quot; class=&quot;mdl-progress mdl-js-progress mdl-progress__indeterminate&quot;&gt;&lt;&#47;div&gt;
    &lt;&#47;p&gt;
    &lt;p&gt;
        Buffering:
    &lt;div id=&quot;p3&quot; class=&quot;mdl-progress mdl-js-progress&quot;&gt;&lt;&#47;div&gt;
    &lt;&#47;p&gt;
    &lt;h5&gt;Data binding&lt;&#47;h5&gt;
    &lt;div&gt;Drag me and check how the &quot;Default&quot; bar reacts...&lt;&#47;div&gt;
    &lt;p&gt;
        &lt;input class=&quot;mdl-slider mdl-js-slider&quot; type=&quot;range&quot; min=&quot;0&quot; max=&quot;100&quot; value=&quot;44&quot; tabindex=&quot;0&quot; step=&quot;1&quot;
               id=&quot;slider&quot;&#47;&gt;
    &lt;&#47;p&gt;
&lt;&#47;div&gt;
</pre>
                </div>
                <!-- CSS-Tab -->
                <div class="mdl-tabs__panel" id="css">
<h2 id="introduction">Introduction</h2>
<p>The Material Design Lite (MDL) <strong>progress</strong> component is a visual indicator of background activity in a web page or application. A progress indicator consists of a (typically) horizontal bar containing some animation that conveys a sense of motion. While some progress devices indicate an approximate or specific percentage of completion, the MDL progress component simply communicates the fact that an activity is ongoing and is not yet complete.</p>
<p>Progress indicators are an established but non-standardized feature in user interfaces, and provide users with a visual clue to an application's status. Their design and use is therefore an important factor in the overall user experience. See the progress component's <a href="http://www.google.com/design/spec/components/progress-activity.html">Material Design specifications page</a> for details.</p>
<h2 id="basic-use">Basic use</h2>
<p>To use any MDL component, you must include the minified CSS and JavaScript files using standard relative-path references in the <code>&lt;head&gt;</code> section of the page, as described in the MDL Introduction.</p>
<h3 id="to-include-an-mdl-progress-component">To include an MDL <strong>progress</strong> component:</h3>
<p> 1. Code a <code>&lt;div&gt;</code> element. Include any desired attributes and values, such as an id or width — typically done using external CSS rather than the inline <code>style</code> attribute as shown here.</p>
<div class="sourceCode"><pre class="sourceCode html"><code class="sourceCode html"><span class="kw">&lt;div</span><span class="ot"> id=</span><span class="st">&quot;prog1&quot;</span><span class="ot"> style=</span><span class="st">&quot;width:250px&quot;</span><span class="kw">&gt;&lt;/div&gt;</span></code></pre></div>
<p> 2. Add one or more MDL classes, separated by spaces, to the div using the <code>class</code> attribute.</p>
<div class="sourceCode"><pre class="sourceCode html"><code class="sourceCode html"><span class="kw">&lt;div</span><span class="ot"> id=</span><span class="st">&quot;prog1&quot;</span><span class="ot"> style=</span><span class="st">&quot;width:250px&quot;</span><span class="ot"> class=</span><span class="st">&quot;mdl-js-progress&quot;</span><span class="kw">&gt;&lt;/div&gt;</span></code></pre></div>
<p>The progress component is ready for use.</p>
<h4 id="examples">Examples</h4>
<p>A static (non-animated) progress indicator.</p>
<div class="sourceCode"><pre class="sourceCode html"><code class="sourceCode html"><span class="kw">&lt;div</span><span class="ot"> id=</span><span class="st">&quot;progstatic&quot;</span><span class="ot"> style=</span><span class="st">&quot;width:250px&quot;</span><span class="ot"> class=</span><span class="st">&quot;mdl-js-progress&quot;</span><span class="kw">&gt;&lt;/div&gt;</span></code></pre></div>
<p>An active (animated) progress indicator.</p>
<div class="sourceCode"><pre class="sourceCode html"><code class="sourceCode html"><span class="kw">&lt;div</span><span class="ot"> id=</span><span class="st">&quot;progactive&quot;</span><span class="ot"> style=</span><span class="st">&quot;width:200px&quot;</span><span class="ot"> class=</span><span class="st">&quot;mdl-js-progress</span>
<span class="st"> mdl-progress__indeterminate&quot;</span><span class="kw">&gt;&lt;/div&gt;</span></code></pre></div>
<h2 id="configuration-options">Configuration options</h2>
<p>The MDL CSS classes apply various predefined visual and behavioral enhancements to the progress indicator. The table below lists the available classes and their effects.</p>
<table style="width:43%;">
<colgroup>
<col width="16%" />
<col width="12%" />
<col width="13%" />
</colgroup>
<thead>
<tr class="header">
<th align="left">MDL class</th>
<th align="left">Effect</th>
<th align="left">Remarks</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td align="left"><code>mdl-js-progress</code></td>
<td align="left">Assigns basic MDL behavior to progress indicator</td>
<td align="left">Required</td>
</tr>
<tr class="even">
<td align="left"><code>mdl-progress__indeterminate</code></td>
<td align="left">Applies animation effect</td>
<td align="left">Optional</td>
</tr>
</tbody>
</table>

                </div>
            </div>
        </div>
    </div>
</div>