<div class="mdl-accordion-group mdl-js-accordion mdl-js-ripple-effect usage usage-todo">
    <!-- Panel 1 -->
    <div class="mdl-accordion">
        <label class="mdl-accordion__label mdl-color--200">
            <i class="material-icons mdl-icon--remove-red-eye mdl-color-text--primary">remove_red_eye</i>
            Basic Usage
            <i class="material-icons indicator right mdl-color-text--primary">chevron_right</i>
        </label>
        <div class="mdl-accordion--content">
            <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
                <!-- TabBar -->
                <div class="mdl-tabs__tab-bar">
                    <a href="#dart" class="mdl-tabs__tab is-active">Dart</a>
                    <a href="#html" class="mdl-tabs__tab">HTML</a>
                    <a href="#css" class="mdl-tabs__tab">README</a>
                </div>
                <!-- Dart-Tab -->
                <div class="mdl-tabs__panel is-active" id="dart">
                <pre class="prettyprint linenums lang-dart">
import &#39;package:mdl&#47;mdl.dart&#39;;
import &#39;package:mdl&#47;mdlobservable.dart&#39;;
@MdlComponentModel @di.Injectable()
class Application implements MaterialApplication &#123;
    final Logger _logger = new Logger(&#39;main.Application&#39;);
    final ObservableProperty&lt;int&gt; nrOfItems = new ObservableProperty&lt;int&gt;(0);
    final ObservableProperty&lt;int&gt; nrOfItemsDone = new ObservableProperty&lt;int&gt;(0,
        interval: new Duration(milliseconds: 500));
    Application() &#123;
    &#125;
    @override
    void run() &#123;
        final MaterialButton addButton = MaterialButton.widget(dom.querySelector(&quot;#add&quot;));
        final MaterialTextfield item = MaterialTextfield.widget(dom.querySelector(&quot;#item&quot;));
        final ToDoItemComponent todo = ToDoItemComponent.widget(dom.querySelector(&quot;#todo&quot;));
        nrOfItems.observes( () =&gt; todo.items.length );
        nrOfItemsDone.observes(() &#123;
            int done = 0;
            todo.items.forEach((final ToDoItem item) &#123; done += item.checked ? 1 : 0; &#125;);
            return done;
        &#125;);
        addButton.onClick.listen((_) =&gt; _addItem());
        item.hub.onKeyDown.listen((final dom.KeyboardEvent event) &#123;
            if(event.keyCode == 13) &#123;
                event.preventDefault();
                event.stopPropagation();
                _addItem();
                item.value = &quot;&quot;;
            &#125;
        &#125;);
    &#125;
    &#47;&#47;- private -----------------------------------------------------------------------------------
    void _addItem() &#123;
        final MaterialTextfield item = MaterialTextfield.widget(dom.querySelector(&quot;#item&quot;));
        final ToDoItemComponent todo = ToDoItemComponent.widget(dom.querySelector(&quot;#todo&quot;));
        todo.addItemOnTop(new ToDoItem(false,&quot;Cnt $&#123;todo.incrementalIndex&#125; ($&#123;item.value&#125;)&quot;));
    &#125;
&#125;
main() &#123;
    final Logger _logger = new Logger(&#39;main.ToDo&#39;);
    registerMdl();
    registerToDoItemComponent();
    componentFactory().rootContext(Application).run()
        .then( (final MaterialApplication application) &#123;
            application.run();
    &#125;);
&#125;

</pre>
                </div>
                <!-- HTML-Tab -->
                <div class="mdl-tabs__panel" id="html">
                <div class="linkinfo">
                    To use any MDL component, you must include the minified CSS file in the &lt;head&gt; section of the page:<br>
                    <div class="csslink mdl-color-text--accent-500">
                    &lt;link rel=&quot;stylesheet&quot; href=&quot;https://cdn.rawgit.com/MikeMitterer/dart-mdl-theme/master/blue_grey-pink/material.min.css&quot;&gt;<br>
                    </div>
                    More about <a href="/#/theming">theming...</a>
                </div>
                <pre class="prettyprint linenums lang-html">
&lt;div class=&quot;demo-preview-block&quot;&gt;
    &lt;div class=&quot;mdl-textfield mdl-js-textfield&quot;&gt;
        &lt;input id=&quot;item&quot; class=&quot;mdl-textfield__input&quot; type=&quot;text&quot; autofocus &#47;&gt;
        &lt;label class=&quot;mdl-textfield__label&quot; for=&quot;item&quot;&gt;Type Something...&lt;&#47;label&gt;
    &lt;&#47;div&gt;
    &lt;button id=&quot;add&quot; class=&quot;mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect&quot;&gt;
        Add
    &lt;&#47;button&gt;
    &lt;span mdl-observe=&quot;nrOfItemsDone&quot;&gt;&lt;&#47;span&gt; &#47;
    &lt;span mdl-observe=&quot;nrOfItems&quot;&gt;&lt;&#47;span&gt;
    &lt;div id=&quot;todo&quot; class=&quot;todo-items&quot;&gt;&lt;&#47;div&gt;
&lt;&#47;div&gt;
</pre>
                </div>
                <!-- CSS-Tab -->
                <div class="mdl-tabs__panel" id="css">
<h4>todo</h4>
<p>...will be here soon</p>
                </div>
            </div>
        </div>
    </div>
</div>