<div class="mdl-accordion-group mdl-js-accordion mdl-js-ripple-effect usage usage-typography">
    <!-- Panel 1 -->
    <div class="mdl-accordion">
        <label class="mdl-accordion__label mdl-color--200">
            <i class="material-icons mdl-icon--remove-red-eye mdl-color-text--primary">remove_red_eye</i>
            Basic Usage
            <i class="material-icons indicator right mdl-color-text--primary">chevron_right</i>
        </label>
        <div class="mdl-accordion--content">
            <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
                <!-- TabBar -->
                <div class="mdl-tabs__tab-bar">
                    <a href="#dart" class="mdl-tabs__tab is-active">Dart</a>
                    <a href="#html" class="mdl-tabs__tab">HTML</a>
                    <a href="#css" class="mdl-tabs__tab">README</a>
                </div>
                <!-- Dart-Tab -->
                <div class="mdl-tabs__panel is-active" id="dart">
                <pre class="prettyprint linenums lang-dart">
import &#39;package:mdl&#47;mdl.dart&#39;;

main() &#123;
    registerMdl();
    componentFactory().run().then((_) &#123;
    &#125;);
&#125;</pre>
                </div>
                <!-- HTML-Tab -->
                <div class="mdl-tabs__panel" id="html">
                <div class="linkinfo">
                    To use any MDL component, you must include the minified CSS file in the &lt;head&gt; section of the page:<br>
                    <div class="csslink mdl-color-text--accent-500">
                    &lt;link rel=&quot;stylesheet&quot; href=&quot;https://cdn.rawgit.com/MikeMitterer/dart-mdl-theme/master/blue_grey-pink/material.min.css&quot;&gt;<br>
                    </div>
                    More about <a href="/#/theming">theming...</a>
                </div>
                <pre class="prettyprint linenums lang-html">
  &lt;h2&gt;Scale &amp;amp; Basic Styles&lt;&#47;h2&gt;
  &lt;div class=&quot;demo-preview-block&quot;&gt;
    &lt;table&gt;
      &lt;tr&gt;
        &lt;th class=&quot;mdl-typography--caption-color-contrast&quot;&gt;Display 4&lt;&#47;th&gt;
        &lt;td class=&quot;mdl-typography--display-4&quot;&gt;Light 112px&lt;&#47;td&gt;
      &lt;&#47;tr&gt;
      &lt;tr&gt;
        &lt;th class=&quot;mdl-typography--caption-color-contrast&quot;&gt;Display 3&lt;&#47;th&gt;
        &lt;td class=&quot;mdl-typography--display-3&quot;&gt;Regular 56px&lt;&#47;td&gt;
      &lt;&#47;tr&gt;
      &lt;tr&gt;
        &lt;th class=&quot;mdl-typography--caption-color-contrast&quot;&gt;Display 2&lt;&#47;th&gt;
        &lt;td class=&quot;mdl-typography--display-2&quot;&gt;Regular 45px&lt;&#47;td&gt;
      &lt;&#47;tr&gt;
      &lt;tr&gt;
        &lt;th class=&quot;mdl-typography--caption-color-contrast&quot;&gt;Display 1&lt;&#47;th&gt;
        &lt;td class=&quot;mdl-typography--display-1&quot;&gt;Regular 34px&lt;&#47;td&gt;
      &lt;&#47;tr&gt;
      &lt;tr&gt;
        &lt;th class=&quot;mdl-typography--caption-color-contrast&quot;&gt;Headline&lt;&#47;th&gt;
        &lt;td class=&quot;mdl-typography--headline&quot;&gt;Regular 24px&lt;&#47;td&gt;
      &lt;&#47;tr&gt;
      &lt;tr&gt;
        &lt;th class=&quot;mdl-typography--caption-color-contrast&quot;&gt;Title&lt;&#47;th&gt;
        &lt;td class=&quot;mdl-typography--title&quot;&gt;Medium 20px&lt;&#47;td&gt;
      &lt;&#47;tr&gt;
      &lt;tr&gt;
        &lt;th class=&quot;mdl-typography--caption-color-contrast&quot;&gt;Subhead&lt;&#47;th&gt;
        &lt;td class=&quot;mdl-typography--subhead&quot;&gt;Regular 16px (Device), Regular 15px (Desktop)&lt;&#47;td&gt;
      &lt;&#47;tr&gt;
      &lt;tr&gt;
        &lt;th class=&quot;mdl-typography--caption-color-contrast&quot;&gt;Body 2&lt;&#47;th&gt;
        &lt;td class=&quot;mdl-typography--body-2&quot;&gt;Medium 14px (Device), Medium 13px (Desktop)&lt;&#47;td&gt;
      &lt;&#47;tr&gt;
      &lt;tr&gt;
        &lt;th class=&quot;mdl-typography--caption-color-contrast&quot;&gt;Body 1&lt;&#47;th&gt;
        &lt;td class=&quot;mdl-typography--body-1&quot;&gt;Regular 14px (Device), Regular 13px (Desktop)&lt;&#47;td&gt;
      &lt;&#47;tr&gt;
      &lt;tr&gt;
        &lt;th class=&quot;mdl-typography--caption-color-contrast&quot;&gt;Body 2 (force preferred font)&lt;&#47;th&gt;
        &lt;td class=&quot;mdl-typography--body-2-force-preferred-font&quot;&gt;Medium 14px (Device), Medium 13px (Desktop)&lt;&#47;td&gt;
      &lt;&#47;tr&gt;
      &lt;tr&gt;
        &lt;th class=&quot;mdl-typography--caption-color-contrast&quot;&gt;Body 1 (force preferred font)&lt;&#47;th&gt;
        &lt;td class=&quot;mdl-typography--body-1-force-preferred-font&quot;&gt;Regular 14px (Device), Regular 13px (Desktop)&lt;&#47;td&gt;
      &lt;&#47;tr&gt;
      &lt;tr&gt;
        &lt;th class=&quot;mdl-typography--caption-color-contrast&quot;&gt;Caption&lt;&#47;th&gt;
        &lt;td class=&quot;mdl-typography--caption&quot;&gt;Regular 12px&lt;&#47;td&gt;
      &lt;&#47;tr&gt;
      &lt;tr&gt;
        &lt;th class=&quot;mdl-typography--caption-color-contrast&quot;&gt;Menu&lt;&#47;th&gt;
        &lt;td class=&quot;mdl-typography--menu&quot;&gt;Medium 14px (Device), Medium 13px (Desktop)&lt;&#47;td&gt;
      &lt;&#47;tr&gt;
      &lt;tr&gt;
        &lt;th class=&quot;mdl-typography--caption-color-contrast&quot;&gt;Button&lt;&#47;th&gt;
        &lt;td class=&quot;mdl-typography--button&quot;&gt;Medium (All Caps) 14px&lt;&#47;td&gt;
      &lt;&#47;tr&gt;
    &lt;&#47;table&gt;
  &lt;&#47;div&gt;
  &lt;h2&gt;HTML Elements&lt;&#47;h2&gt;
  &lt;div class=&quot;demo-preview-block&quot;&gt;
    &lt;h3&gt;Headings&lt;&#47;h3&gt;
    &lt;h1&gt;&amp;lt;h1&amp;gt;&lt;&#47;h1&gt;
    &lt;h2&gt;&amp;lt;h2&amp;gt;&lt;&#47;h2&gt;
    &lt;h3&gt;&amp;lt;h3&amp;gt;&lt;&#47;h3&gt;
    &lt;h4&gt;&amp;lt;h4&amp;gt;&lt;&#47;h4&gt;
    &lt;h5&gt;&amp;lt;h5&amp;gt;&lt;&#47;h5&gt;
    &lt;h6&gt;&amp;lt;h6&amp;gt;&lt;&#47;h6&gt;
    &lt;h3&gt;Formatting&lt;&#47;h3&gt;
    &lt;p&gt;&lt;u&gt;&amp;lt;u&amp;gt;Underlined&amp;lt;u&amp;gt;&lt;&#47;u&gt;&lt;&#47;p&gt;
    &lt;p&gt;&lt;b&gt;&amp;lt;b&amp;gt;Bold&amp;lt;b&amp;gt;&lt;&#47;b&gt;&lt;&#47;p&gt;
    &lt;p&gt;&lt;strong&gt;&amp;lt;strong&amp;gt;Strong&amp;lt;strong&amp;gt;&lt;&#47;strong&gt;&lt;&#47;p&gt;
    &lt;p&gt;&lt;i&gt;&amp;lt;italic&amp;gt;Italic&amp;lt;italic&amp;gt;&lt;&#47;i&gt;&lt;&#47;p&gt;
    &lt;p&gt;&lt;em&gt;&amp;lt;em&amp;gt;Em&amp;lt;em&amp;gt;&lt;&#47;em&gt;&lt;&#47;p&gt;
    &lt;p&gt;&lt;s&gt;&amp;lt;s&amp;gt;Strikethrough&amp;lt;s&amp;gt;&lt;&#47;s&gt;&lt;&#47;p&gt;
    &lt;p&gt;&lt;small&gt;&amp;lt;small&amp;gt;Small&amp;lt;small&amp;gt;&lt;&#47;small&gt;&lt;&#47;p&gt;
    &lt;p&gt;&lt;mark&gt;&amp;lt;mark&amp;gt;Mark&amp;lt;mark&amp;gt;&lt;&#47;mark&gt;&lt;&#47;p&gt;
    &lt;h3&gt;Body Text&lt;&#47;h3&gt;
    &lt;p&gt;&amp;lt;p&amp;gt;&lt;&#47;p&gt;
    &lt;p class=&quot;mdl-typography--body-2&quot;&gt;&amp;lt;p class=&quot;mdl-typography-body-2&quot;&amp;gt;&lt;&#47;p&gt;
    &lt;p class=&quot;mdl-typography--caption&quot;&gt;&amp;lt;p class=&quot;mdl-typography-caption&quot;&amp;gt;&lt;&#47;p&gt;
    &lt;p class=&quot;mdl-typography--menu&quot;&gt;&amp;lt;p class=&quot;mdl-typography-menu&quot;&amp;gt;&lt;&#47;p&gt;
    &lt;p class=&quot;mdl-typography--button&quot;&gt;&amp;lt;p class=&quot;mdl-typography-button&quot;&amp;gt;&lt;&#47;p&gt;
    &lt;h3&gt;Subtitles&lt;&#47;h3&gt;
    &lt;h1&gt;&amp;lt;h1&amp;gt; &lt;small&gt;Subtitle&lt;&#47;small&gt;&lt;&#47;h1&gt;
    &lt;h2&gt;&amp;lt;h2&amp;gt; &lt;small&gt;Subtitle&lt;&#47;small&gt;&lt;&#47;h2&gt;
    &lt;h3&gt;&amp;lt;h3&amp;gt; &lt;small&gt;Subtitle&lt;&#47;small&gt;&lt;&#47;h3&gt;
    &lt;h4&gt;&amp;lt;h4&amp;gt; &lt;small&gt;Subtitle&lt;&#47;small&gt;&lt;&#47;h4&gt;
    &lt;h5&gt;&amp;lt;h5&amp;gt; &lt;small&gt;Subtitle&lt;&#47;small&gt;&lt;&#47;h5&gt;
    &lt;h6&gt;&amp;lt;h6&amp;gt; &lt;small&gt;Subtitle&lt;&#47;small&gt;&lt;&#47;h6&gt;
    &lt;h3&gt;Description&lt;&#47;h3&gt;
    &lt;dl&gt;
      &lt;dt&gt;Description lists&lt;&#47;dt&gt;
      &lt;dd&gt;A description list is perfect for defining terms.&lt;&#47;dd&gt;
      &lt;dt&gt;Euismod&lt;&#47;dt&gt;
      &lt;dd&gt;Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.&lt;&#47;dd&gt;
      &lt;dd&gt;Donec id elit non mi porta gravida at eget metus.&lt;&#47;dd&gt;
      &lt;dt&gt;Malesuada porta&lt;&#47;dt&gt;
      &lt;dd&gt;Etiam porta sem malesuada magna mollis euismod.&lt;&#47;dd&gt;
    &lt;&#47;dl&gt;
  &lt;&#47;div&gt;
  &lt;h2&gt;Quotes&lt;&#47;h2&gt;
  &lt;div class=&quot;demo-preview-block&quot;&gt;
    &lt;blockquote&gt;&amp;lt;blockquote&amp;gt;&lt;&#47;blockquote&gt;
  &lt;&#47;div&gt;
  &lt;h2&gt;Alignment&lt;&#47;h2&gt;
  &lt;p class=&quot;mdl-typography--text-left&quot;&gt;Left aligned text.&lt;&#47;p&gt;
  &lt;p class=&quot;mdl-typography--text-center&quot;&gt;Center aligned text.&lt;&#47;p&gt;
  &lt;p class=&quot;mdl-typography--text-right&quot;&gt;Right aligned text.&lt;&#47;p&gt;
  &lt;p class=&quot;mdl-typography--text-justify&quot;&gt;Justified text.&lt;&#47;p&gt;
  &lt;p class=&quot;mdl-typography--text-nowrap&quot;&gt;No wrap text.&lt;&#47;p&gt;
  &lt;h2&gt;Transformations&lt;&#47;h2&gt;
  &lt;p class=&quot;mdl-typography--text-lowercase&quot;&gt;Lowercased text.&lt;&#47;p&gt;
  &lt;p class=&quot;mdl-typography--text-uppercase&quot;&gt;Uppercased text.&lt;&#47;p&gt;
  &lt;p class=&quot;mdl-typography--text-capitalize&quot;&gt;Capitalized text.&lt;&#47;p&gt;
  &lt;h2&gt;Addresses&lt;&#47;h2&gt;
  &lt;address&gt;
    &lt;strong&gt;Googleplex&lt;&#47;strong&gt;&lt;br&gt;
    1600 Amphitheatre Pkwy&lt;br&gt;
    Mountain View, CA 94043&lt;br&gt;
    &lt;abbr title=&quot;Phone&quot;&gt;P:&lt;&#47;abbr&gt; (650) 253-0000
  &lt;&#47;address&gt;
  &lt;h2&gt;Code&lt;&#47;h2&gt;
  &lt;h3&gt;Multi-line code blocks&lt;&#47;h3&gt;
  &lt;p&gt;
    Use &amp;lt;pre&amp;gt; for multi-line code blocks.
    &lt;pre&gt;
&amp;lt;p&amp;gt;This is the first line of code&amp;lt;&#47;p&amp;gt;
&amp;lt;p&amp;gt;This is the second line of code&amp;lt;&#47;p&amp;gt;
  &lt;&#47;pre&gt;
  &lt;&#47;p&gt;
  &lt;h3&gt;Inline code blocks&lt;&#47;h3&gt;
  &lt;p&gt;Code blocks like &lt;code&gt;&amp;lt;main&amp;gt;&lt;&#47;code&gt; could be displayed inline.&lt;&#47;p&gt;
  &lt;h2&gt;Color Contrasts&lt;&#47;h2&gt;
  &lt;div class=&quot;demo-preview-block&quot;&gt;
    &lt;div class=&quot;demo-typography--white&quot;&gt;
      &lt;p class=&quot;mdl-typography--caption-color-contrast&quot;&gt;Caption&lt;&#47;p&gt;
      &lt;p class=&quot;mdl-typography--body-2-color-contrast&quot;&gt;Body&lt;&#47;p&gt;
      &lt;p class=&quot;mdl-typography--subhead-color-contrast&quot;&gt;Subhead&lt;&#47;p&gt;
      &lt;p class=&quot;mdl-typography--title-color-contrast&quot;&gt;Title&lt;&#47;p&gt;
      &lt;p class=&quot;mdl-typography--display-1-color-contrast&quot;&gt;Display&lt;&#47;p&gt;
    &lt;&#47;div&gt;
  &lt;&#47;div&gt;
  &lt;div class=&quot;demo-preview-block&quot;&gt;
    &lt;div class=&quot;demo-typography--black&quot;&gt;
        &lt;p class=&quot;mdl-typography--caption-color-contrast&quot;&gt;Caption&lt;&#47;p&gt;
        &lt;p class=&quot;mdl-typography--body-2-color-contrast&quot;&gt;Body&lt;&#47;p&gt;
        &lt;p class=&quot;mdl-typography--subhead-color-contrast&quot;&gt;Subhead&lt;&#47;p&gt;
        &lt;p class=&quot;mdl-typography--title-color-contrast&quot;&gt;Title&lt;&#47;p&gt;
        &lt;p class=&quot;mdl-typography--display-1-color-contrast&quot;&gt;Display&lt;&#47;p&gt;
    &lt;&#47;div&gt;
  &lt;&#47;div&gt;
  &lt;div class=&quot;demo-preview-block&quot;&gt;
    &lt;div class=&quot;demo-typography--img-1&quot;&gt;
        &lt;p class=&quot;mdl-typography--caption-color-contrast&quot;&gt;Caption&lt;&#47;p&gt;
        &lt;p class=&quot;mdl-typography--body-2-color-contrast&quot;&gt;Body&lt;&#47;p&gt;
        &lt;p class=&quot;mdl-typography--subhead-color-contrast&quot;&gt;Subhead&lt;&#47;p&gt;
        &lt;p class=&quot;mdl-typography--title-color-contrast&quot;&gt;Title&lt;&#47;p&gt;
        &lt;p class=&quot;mdl-typography--display-1-color-contrast&quot;&gt;Display&lt;&#47;p&gt;
    &lt;&#47;div&gt;
  &lt;&#47;div&gt;
  &lt;div class=&quot;demo-preview-block&quot;&gt;
    &lt;div class=&quot;demo-typography--img-2&quot;&gt;
      &lt;p class=&quot;mdl-typography--caption-color-contrast&quot;&gt;Caption&lt;&#47;p&gt;
      &lt;p class=&quot;mdl-typography--body-2-color-contrast&quot;&gt;Body&lt;&#47;p&gt;
      &lt;p class=&quot;mdl-typography--subhead-color-contrast&quot;&gt;Subhead&lt;&#47;p&gt;
      &lt;p class=&quot;mdl-typography--title-color-contrast&quot;&gt;Title&lt;&#47;p&gt;
      &lt;p class=&quot;mdl-typography--display-1-color-contrast&quot;&gt;Display&lt;&#47;p&gt;
    &lt;&#47;div&gt;
  &lt;&#47;div&gt;
</pre>
                </div>
                <!-- CSS-Tab -->
                <div class="mdl-tabs__panel" id="css">
<h2 id="introduction">Introduction</h2>
<p>The Material Design Lite (MDL) <strong>typography</strong> component is a comprehensive approach to standardizing the use of typefaces in applications and page displays. MDL typography elements are intended to replace the myriad fonts used by developers (which vary significantly in appearance) and provide a robust, uniform library of text styles from which developers can choose.</p>
<p>The &quot;Roboto&quot; typeface is the standard for MDL display; it can easily be integrated into a web page using the CSS3 <code>@font-face</code> rule. However, Roboto is most simply accessed and included using a single standard HTML <code>&lt;link&gt;</code> element, which can be obtained at <a href="http://www.google.com/fonts#UsePlace:use/Collection:Roboto">this Google fonts page</a>.</p>
<p>Because of the many possible variations in font display characteristics in HTML and CSS, MDL typography aims to provide simple and intuitive styles that use the Roboto font and produce visually attractive and internally consistent text results. See the typography component's <a href="http://www.google.com/design/spec/style/typography.html">Material Design specifications page</a> for details.</p>
<h2 id="basic-use">Basic use</h2>
<p>MDL typography does not require the inclusion of the minified CSS and JavaScript files that drive the other MDL components. Instead, just include a link to the Google stylesheet that accesses the font and its desired variations.</p>
<div class="sourceCode"><pre class="sourceCode html"><code class="sourceCode html"><span class="kw">&lt;head&gt;</span>
<span class="kw">&lt;link</span>
<span class="ot"> href=</span><span class="st">&#39;http://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic&#39;</span>
<span class="ot"> rel=</span><span class="st">&#39;stylesheet&#39;</span><span class="ot"> type=</span><span class="st">&#39;text/css&#39;</span><span class="kw">&gt;</span>
...
<span class="kw">&lt;/head&gt;</span></code></pre></div>
<h3 id="to-include-an-mdl-typography-component">To include an MDL <strong>typography</strong> component:</h3>
<p> 1. Code any element (<code>&lt;div&gt;</code>,<code>&lt;p&gt;</code>,<code>&lt;span&gt;</code>, etc.) that can contain text, including whatever content is appropriate.</p>
<div class="sourceCode"><pre class="sourceCode html"><code class="sourceCode html"><span class="kw">&lt;p&gt;</span>This is a standard paragraph.<span class="kw">&lt;/p&gt;</span></code></pre></div>
<p> 2. Add one or more MDL classes, separated by spaces, to the element using the <code>class</code> attribute.</p>
<div class="sourceCode"><pre class="sourceCode html"><code class="sourceCode html"><span class="kw">&lt;p</span><span class="ot"> class=</span><span class="st">&quot;mdl-typography--body-1&quot;</span><span class="kw">&gt;</span>This is a standard paragraph.<span class="kw">&lt;/p&gt;</span></code></pre></div>
<p>The typography component is ready for use.</p>
<h4 id="examples">Examples</h4>
<p>A &quot;headline&quot; paragraph.</p>
<div class="sourceCode"><pre class="sourceCode html"><code class="sourceCode html"><span class="kw">&lt;p</span><span class="ot"> class=</span><span class="st">&quot;mdl-typography--headline&quot;</span><span class="kw">&gt;</span>Regular 24px<span class="kw">&lt;/p&gt;</span></code></pre></div>
<p>A &quot;title&quot; paragraph.</p>
<div class="sourceCode"><pre class="sourceCode html"><code class="sourceCode html"><span class="kw">&lt;p</span><span class="ot"> class=</span><span class="st">&quot;mdl-typography--title&quot;</span><span class="kw">&gt;</span>Medium 20px<span class="kw">&lt;/p&gt;</span></code></pre></div>
<p>A &quot;caption&quot; span.</p>
<div class="sourceCode"><pre class="sourceCode html"><code class="sourceCode html"><span class="kw">&lt;span</span><span class="ot"> class=</span><span class="st">&quot;mdl-typography--caption&quot;</span><span class="kw">&gt;</span>Regular 12px<span class="kw">&lt;/span&gt;</span></code></pre></div>
<p>A &quot;button&quot; span.</p>
<div class="sourceCode"><pre class="sourceCode html"><code class="sourceCode html"><span class="kw">&lt;span</span><span class="ot"> class=</span><span class="st">&quot;mdl-typography--button&quot;</span><span class="kw">&gt;</span>Medium (All Caps) 14px<span class="kw">&lt;/span&gt;</span></code></pre></div>
<p>A &quot;display 1&quot; table cell.</p>
<div class="sourceCode"><pre class="sourceCode html"><code class="sourceCode html"><span class="kw">&lt;td</span><span class="ot"> class=</span><span class="st">&quot;mdl-typography--display-1&quot;</span><span class="kw">&gt;</span>Regular 34px<span class="kw">&lt;/td&gt;</span></code></pre></div>
<p>A &quot;body-1&quot; paragraph, also uppercased.</p>
<div class="sourceCode"><pre class="sourceCode html"><code class="sourceCode html"><span class="kw">&lt;p</span><span class="ot"> class=</span><span class="st">&quot;mdl-typography--body-1 mdl-typography--text-uppercase&quot;</span><span class="kw">&gt;</span>
 This is a standard paragraph, but uppercased.
<span class="kw">&lt;/p&gt;</span></code></pre></div>
<blockquote>
<p><strong>Note:</strong> Because the Roboto font is intended to apply to the entire page, standard &quot;unclassed&quot; HTML elements (e.g., heading levels, divs, paragraphs, spans, tables, etc. with no <code>class</code> attribute) and text modifiers (e.g., strong, em, small, etc.) will use Roboto, while also retaining their inherent and/or inherited characteristics.</p>
<p>Also note that MDL typography provides some automatic adjustments based on its display environment. For example, the <code>body-1</code> style renders at 14px on a mobile device, but 13px on a desktop. You need not do anything to activate these self-modifiers; they are built into the MDL styles.</p>
</blockquote>
<h2 id="configuration-options">Configuration options</h2>
<p>The MDL CSS classes specify the style to use. The table below lists the available classes and their effects.</p>
<table style="width:43%;">
<colgroup>
<col width="16%" />
<col width="12%" />
<col width="13%" />
</colgroup>
<thead>
<tr class="header">
<th align="left">MDL class</th>
<th align="left">Effect</th>
<th align="left">Remarks</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td align="left"><code>mdl-typography--body-1</code></td>
<td align="left">Regular 14px (Device), Regular 13px (Desktop)</td>
<td align="left">Optional</td>
</tr>
<tr class="even">
<td align="left"><code>mdl-typography--body-1-force-preferred-font</code></td>
<td align="left">Regular 14px (Device), Regular 13px (Desktop)</td>
<td align="left">Optional</td>
</tr>
<tr class="odd">
<td align="left"><code>mdl-typography--body-2</code></td>
<td align="left">Medium 14px (Device), Medium 13px (Desktop)</td>
<td align="left">Optional</td>
</tr>
<tr class="even">
<td align="left"><code>mdl-typography--body-2</code></td>
<td align="left">mdl-typography-body-2</td>
<td align="left">Optional</td>
</tr>
<tr class="odd">
<td align="left"><code>mdl-typography--body-2-color-contrast</code></td>
<td align="left">Body with color contrast</td>
<td align="left">Optional</td>
</tr>
<tr class="even">
<td align="left"><code>mdl-typography--body-2-force-preferred-font</code></td>
<td align="left">Medium 14px (Device), Medium 13px (Desktop)</td>
<td align="left">Optional</td>
</tr>
<tr class="odd">
<td align="left"><code>mdl-typography--button</code></td>
<td align="left">Medium (All Caps) 14px</td>
<td align="left">Optional</td>
</tr>
<tr class="even">
<td align="left"><code>mdl-typography--caption</code></td>
<td align="left">Regular 12px</td>
<td align="left">Optional</td>
</tr>
<tr class="odd">
<td align="left"><code>mdl-typography--caption-color-contrast</code></td>
<td align="left">Caption with color contrast</td>
<td align="left">Optional</td>
</tr>
<tr class="even">
<td align="left"><code>mdl-typography--display-1</code></td>
<td align="left">Regular 34px</td>
<td align="left">Optional</td>
</tr>
<tr class="odd">
<td align="left"><code>mdl-typography--display-1-color-contrast</code></td>
<td align="left">Display with color contrast</td>
<td align="left">Optional</td>
</tr>
<tr class="even">
<td align="left"><code>mdl-typography--display-2</code></td>
<td align="left">Regular 45px</td>
<td align="left">Optional</td>
</tr>
<tr class="odd">
<td align="left"><code>mdl-typography--display-3</code></td>
<td align="left">Regular 56px</td>
<td align="left">Optional</td>
</tr>
<tr class="even">
<td align="left"><code>mdl-typography--display-4</code></td>
<td align="left">Light 112px</td>
<td align="left">Optional</td>
</tr>
<tr class="odd">
<td align="left"><code>mdl-typography--headline</code></td>
<td align="left">Regular 24px</td>
<td align="left">Optional</td>
</tr>
<tr class="even">
<td align="left"><code>mdl-typography--menu</code></td>
<td align="left">Medium 14px (Device), Medium 13px (Desktop)</td>
<td align="left">Optional</td>
</tr>
<tr class="odd">
<td align="left"><code>mdl-typography--subhead</code></td>
<td align="left">Regular 16px (Device), Regular 15px (Desktop)</td>
<td align="left">Optional</td>
</tr>
<tr class="even">
<td align="left"><code>mdl-typography--subhead-color-contrast</code></td>
<td align="left">Subhead with color contrast</td>
<td align="left">Optional</td>
</tr>
<tr class="odd">
<td align="left"><code>mdl-typography--table-striped</code></td>
<td align="left">Striped table</td>
<td align="left">Optional</td>
</tr>
<tr class="even">
<td align="left"><code>mdl-typography--text-capitalize</code></td>
<td align="left">Capitalized text</td>
<td align="left">Optional</td>
</tr>
<tr class="odd">
<td align="left"><code>mdl-typography--text-center</code></td>
<td align="left">Center aligned text</td>
<td align="left">Optional</td>
</tr>
<tr class="even">
<td align="left"><code>mdl-typography--text-justify</code></td>
<td align="left">Justified text</td>
<td align="left">Optional</td>
</tr>
<tr class="odd">
<td align="left"><code>mdl-typography--text-left</code></td>
<td align="left">Left aligned text</td>
<td align="left">Optional</td>
</tr>
<tr class="even">
<td align="left"><code>mdl-typography--text-lowercase</code></td>
<td align="left">Lowercased text</td>
<td align="left">Optional</td>
</tr>
<tr class="odd">
<td align="left"><code>mdl-typography--text-nowrap</code></td>
<td align="left">No wrap text</td>
<td align="left">Optional</td>
</tr>
<tr class="even">
<td align="left"><code>mdl-typography--text-right</code></td>
<td align="left">Right aligned text</td>
<td align="left">Optional</td>
</tr>
<tr class="odd">
<td align="left"><code>mdl-typography--text-uppercase</code></td>
<td align="left">Uppercased text</td>
<td align="left">Optional</td>
</tr>
<tr class="even">
<td align="left"><code>mdl-typography--title</code></td>
<td align="left">Medium 20px</td>
<td align="left">Optional</td>
</tr>
<tr class="odd">
<td align="left"><code>mdl-typography--title-color-contrast</code></td>
<td align="left">Title with color contrast</td>
<td align="left">Optional</td>
</tr>
</tbody>
</table>

                </div>
            </div>
        </div>
    </div>
</div>