.demo-page--attribute, .demo-section--attribute {
    .mdl-textfield__label {

        > .enabled {
            display: none;
        }

        > .disabled {
            display: inline;
        }

        &.enabled > {
            .enabled {
                display: inline;
            }
            .disabled {
                display: none;
            }
        }
    }
}
