.demo-page--attribute .mdl-textfield__label > .enabled, .demo-section--attribute .mdl-textfield__label > .enabled {
  display: none; }
.demo-page--attribute .mdl-textfield__label > .disabled, .demo-section--attribute .mdl-textfield__label > .disabled {
  display: inline; }
.demo-page--attribute .mdl-textfield__label.enabled > .enabled, .demo-section--attribute .mdl-textfield__label.enabled > .enabled {
  display: inline; }
.demo-page--attribute .mdl-textfield__label.enabled > .disabled, .demo-section--attribute .mdl-textfield__label.enabled > .disabled {
  display: none; }
