.demo-section--samples {
    a {
        text-decoration: none;
    }

    .mdl-list-view--avatar {
        font-size: 35px;
    }


    .mdl-icon--extension:before {
        content     : "\f028";
        margin-left : 8px;
        /* padding-top: 15px; */
        margin-top  : 20px;
        /* top: 5px; */
        /* bottom: 12px; */
        line-height : 45px;
        color       : white;
        /* text-align: center; */
    }

    .mdl-list-view--name {
        text-transform: uppercase;
    }
}