.demo-page--forms .firstblock {
  clear: both;
  height: 400px; }
  .demo-page--forms .firstblock .mdl-form {
    margin-left: 12px; }

.demo-page--forms form {
  max-width: 512px;
  margin-bottom: 24px; }

.demo-page--forms .demo-registration {
  float: right;
  clear: both;
  max-width: 320px; }

.demo-page--forms .demo-slider .mdl-form__content {
  margin-right: 0; }
  .demo-page--forms .demo-slider .mdl-form__content .mdl-form__group {
    margin: 20px 0 20px 20px; }
    .demo-page--forms .demo-slider .mdl-form__content .mdl-form__group:first-child {
      margin-top: 20px; }
