<section class="demo-section demo-section--column-layout">
    <div id="usage" class="mdl-include mdl-js-include" data-url="views/usage/column-layout.html">
        Loading...
    </div>
    
        <div class="mdl-column-layout">
          <div class="mdl-column-layout__child">Each child</div>
          <div class="mdl-column-layout__child">gets to be</div>
          <div class="mdl-column-layout__child">an independent entity</div>
          <div class="mdl-column-layout__child">to be placed in columns,</div>
          <div class="mdl-column-layout__child">automatically.</div>
        </div>
      
</section>
