<section class="demo-section demo-section--layout">
    <div id="usage" class="mdl-include mdl-js-include" data-url="views/usage/layout.html">
        Loading...
    </div>
    
    <h5>Layouts within layout</h5>
    <p>... is a bit problematic!<br>
        Please click on the Screenshot below. This opens a new tab with the "layout-sample"
    </p>
    <div class="screenshot">
        <a href="http://mdl.samples.mikemitterer.at/layout/index.html" target="_blank">
            <img src="../assets/images/layout.png">
        </a>
    </div>

</section>
