.demo-page--nav-pills .testblock, .demo-section--nav-pills .testblock {
  background-color: whitesmoke;
  border: 1px solid darkgrey;
  padding: 8px 16px;
  margin: 4px 0; }

.demo-page--nav-pills ul, .demo-section--nav-pills ul {
  margin-bottom: 8px; }
