//@import "../../../lib/assets/styles/material-design-lite";

.demo-page--observe, .demo-section--observe {

    .object-test {
        min-height: 120px;

        [mdl-observe].name {
            padding       : 8px;
            border-radius : 8px;

            &:empty {
                display : none;
            }
        }
    }

    .mdl-repeat div {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start; // ⇾
        align-content: space-between; // ||
        align-items: center; // ↓

        padding: 12px;

        .mdl-checkbox {
            margin-top: 0;
            margin-bottom: 0;

            width: initial;
        }
    }

    .mdl-property {
        font-weight: bold;
    }
}
